{% extends '@Installation/layout.twig' %}

{% block content %}
{% set ok %}<img src='plugins/Zeitgeist/images/ok.png' />{% endset %}
{% set error %}<img src='plugins/Zeitgeist/images/error.png' />{% endset %}
{% set warning %}<img src='plugins/Zeitgeist/images/warning.png' />{% endset %}
{% set link %}<img src='plugins/Zeitgeist/images/link.gif' />{% endset %}

<h2>{{ 'Installation_DatabaseCheck'|translate }}</h2>

<table class="infosServer">
    <tr>
        <td class="label">{{ 'Installation_DatabaseServerVersion'|translate }}</td>
        <td>{% if databaseVersionOk is defined %}{{ ok }}{% else %}{{ error }}{% endif %}</td>
    </tr>
    <tr>
        <td class="label">{{ 'Installation_DatabaseClientVersion'|translate }}</td>
        <td>{% if clientVersionWarning is defined %}{{ warning }}{% else %}{{ ok }}{% endif %}</td>
    </tr>
    {% if clientVersionWarning is defined %}
        <tr>
            <td colspan="2">
                <span style="font-size: small;color:#FF7F00;">{{ clientVersionWarning }}</span>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="label">{{ 'Installation_DatabaseCreation'|translate }}</td>
        <td>{% if databaseCreated is defined %}{{ ok }}{% else %}{{ error }}{% endif %}</td>
    </tr>
</table>

<p>
    {{ link }} <a href="?module=Proxy&action=redirect&url=http://piwik.org/docs/requirements/" target="_blank">{{ 'Installation_Requirements'|translate }}</a>
</p>
{% endblock %}