{% extends '@Installation/layout.twig' %}

{% block content %}
<h2>{{ 'Installation_Congratulations'|translate|raw }}</h2>

{{ 'Installation_CongratulationsHelp'|translate|raw }}

    <br/>
<h2>{{ 'Installation_WelcomeToCommunity'|translate }}</h2>
<p>
{{ 'Installation_CollaborativeProject'|translate }}
</p><p>
    {{ 'Installation_GetInvolved'|translate('<a  target="_blank" href="http://piwik.org/get-involved/">','</a>')|raw }}
    {{ 'General_HelpTranslatePiwik'|translate("<a target='_blank' href=\'http://piwik.org/translations/\'>","<\/a>")|raw  }}
</p>
    <p>{{ 'Installation_WeHopeYouWillEnjoyPiwik'|translate }}</p>
    <p><i>{{ 'Installation_HappyAnalysing'|translate }}</i></p>

<p class="nextStep">
	<a class="submit" href="index.php">{{ 'General_ContinueToPiwik'|translate }} &raquo;</a>

</p>
{% endblock %}
