{% extends '@Installation/layout.twig' %}

{% block content %}
{% if displayGeneralSetupSuccess is defined %}
    <span id="toFade" class="success">
	    {{ 'Installation_SuperUserSetupSuccess'|translate }}
        <img src="plugins/Morpheus/images/success_medium.png"/>
    </span>
{% endif %}

<h2>{{ 'Installation_SetupWebsite'|translate }}</h2>
<p>{{ 'Installation_SiteSetup'|translate }}</p>
{% if errorMessage is defined %}
    <div class="error">
        <img src="plugins/Morpheus/images/error_medium.png"/>
        {{ 'Installation_SetupWebsiteError'|translate }}:
        <br/>- {{ errorMessage|raw }}

    </div>
{% endif %}

{% if form_data is defined %}
    {% include "genericForm.twig" %}
{% endif %}
<br/>
<p><em>{{ 'Installation_SiteSetupFootnote'|translate }}</em></p>
{% endblock %}