<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="old-ie" id="ng-app" ng-app="piwikApp"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html id="ng-app" ng-app="piwikApp"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Piwik &rsaquo; {{ 'Installation_Installation'|translate }}</title>
    <link rel="stylesheet" type="text/css" href="libs/jquery/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="index.php?module=Installation&action=getBaseCss"/>
    <link rel="shortcut icon" href="plugins/CoreHome/images/favicon.ico"/>
    <script type="text/javascript" src="libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="libs/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="libs/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="libs/bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="libs/bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/common/services/service.module.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/common/filters/filter.module.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/common/filters/translate.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/common/directives/directive.module.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/common/directives/focus-anywhere-but-here.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/piwikApp.config.js"></script>
    <script type="text/javascript" src="plugins/CoreHome/angularjs/piwikApp.js"></script>
    <script type="text/javascript" src="plugins/Installation/javascripts/installation.js"></script>

    <link rel="stylesheet" type="text/css" href="plugins/Installation/stylesheets/installation.css"/>
    {% if 'General_LayoutDirection'|translate =='rtl' %}
        <link rel="stylesheet" type="text/css" href="plugins/Morpheus/stylesheets/rtl.css"/>
    {% endif %}
</head>
<body ng-app="app">
<div id="installationPage">
    <div id="content">
        <div id="logo">
            <img id="title" src="plugins/Morpheus/images/logo.png"/> &nbsp;&nbsp;&nbsp;<span
                    id="subtitle"># {{ 'General_OpenSourceWebAnalytics'|translate }}</span>
        </div>
        <div style="float:right;" id="topRightBar">
            <br/>
            {{ postEvent('Template.topBar')|raw }}
        </div>
        <div class="both"></div>

        <div id="generalInstall">
            {% include "@Installation/_allSteps.twig" %}
        </div>

        <div id="detailInstall">
            {% set nextButton %}
            <p class="nextStep">
                <a class="submit" href="{{ linkTo({'action':nextModuleName, 'token_auth':null, 'method':null }) }}">{{ 'General_Next'|translate }} &raquo;</a>
            </p>
            {%  endset %}
            {% if showNextStepAtTop is defined and showNextStepAtTop %}
                {{ nextButton }}
            {% endif %}
            {% block content %}{% endblock %}
            {% if showNextStep %}
                {{ nextButton }}
            {% endif %}
        </div>

        <div class="both"></div>

        <br/>
        <br/>

        <h3>{{ 'Installation_InstallationStatus'|translate }}</h3>

        <div id="progressbar" data-progress="{{ percentDone }}"></div>
        {{ 'Installation_PercentDone'|translate(percentDone) }}
    </div>
</div>
</body>
</html>
