{% extends 'admin.twig' %}

{% block content %}
{% if isSuperUser %}
    <h2 piwik-enriched-headline>{{ 'Installation_SystemCheck'|translate }}</h2>
    <p style="margin-left:1em;">
        {% if infos.has_errors %}
            <img src="plugins/Morpheus/images/error.png"/>
            {{ 'Installation_SystemCheckSummaryThereWereErrors'|translate('<strong>','</strong>','<strong><em>','</em></strong>')|raw }} {{ 'Installation_SeeBelowForMoreInfo'|translate }}
        {% elseif infos.has_warnings %}
            <img src="plugins/Morpheus/images/warning.png"/>
            {{ 'Installation_SystemCheckSummaryThereWereWarnings'|translate }} {{ 'Installation_SeeBelowForMoreInfo'|translate }}
        {% else %}
            <img src="plugins/Morpheus/images/ok.png"/>
            {{ 'Installation_SystemCheckSummaryNoProblems'|translate }}
        {% endif %}
    </p>
    {% include "@Installation/_systemCheckSection.twig" %}
{% endif %}
{% endblock %}
