<div id='leftcolumn'>
    <h2 piwik-enriched-headline>{{ 'Actions_WidgetSearchKeywords'|translate }}</h2>
    {{ keywords|raw }}

    <h2 piwik-enriched-headline>{{ 'Actions_WidgetSearchNoResultKeywords'|translate }}</h2>
    {{ noResultKeywords|raw }}

    {% if categories is defined %}
        <h2 piwik-enriched-headline>{{ 'Actions_WidgetSearchCategories'|translate }}</h2>
        {{ categories|raw }}
    {% endif %}
</div>

<div id='rightcolumn'>
    <h2 piwik-enriched-headline>{{ 'Actions_WidgetPageUrlsFollowingSearch'|translate }}</h2>
    {{ pagesUrlsFollowingSiteSearch|raw }}
</div>
