<script type="text/javascript">
    window.twoFaBarCodeSetupUrl = {{ twoFaBarCodeSetupUrl|json_encode|raw }};
</script>

<div
  vue-entry="TwoFactorAuth.SetupTwoFactorAuth"
  is-already-using2fa="{{ isAlreadyUsing2fa|default(null)|json_encode|e('html_attr') }}"
  access-error-string="{{ AccessErrorString|default(null)|json_encode|e('html_attr') }}"
  submit-action="{{ submitAction|default(null)|json_encode|e('html_attr') }}"
  auth-code-nonce="{{ authCodeNonce|default(null)|json_encode|e('html_attr') }}"
  codes="{{ codes|default(null)|json_encode|e('html_attr') }}"
></div>

<div id="setupTwoFAsecretConfirm" class="ui-confirm">
    <h2>{{ 'TwoFactorAuth_Your2FaAuthSecret'|translate }}</h2>
    <p style="text-align: center;"><code piwik-select-on-focus style="font-size: 30px;">{{ newSecret }}</code></p>
    <input role="ok" type="button" value="{{ 'General_Ok'|translate }}"/>
</div>