<div
    class="pluginPromo"
    vue-entry="CoreHome.ContentBlock"
    content-title="{{ title }}"
    image-url="plugins/ProfessionalServices/images/{{ imageName }}"
    image-alt-text="{{ 'ProfessionalServices_AltTextPreviewImageFor'|translate(pluginNameNice) }}"
>
    <div class="promo-content">
        {% if listOfFeatures|default([])|length %}
            <div class="promo-features">
                <ul>
                    {% for feature in listOfFeatures %}
                        <li><span class="promo-icon icon-ok"></span>{{ feature|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="promo-actions">
        <a class="btn" href="{{ linkTo({'module': 'Marketplace', 'action': 'installPlugin', 'pluginName': pluginName, 'nonce': installNonce}) }}">
            {{ 'ProfessionalServices_CTAStartFreeTrial'|translate }}
        </a>
        <a class="learn-more" href="#" vue-directive="CorePluginsAdmin.PluginName" vue-directive-value="{{ { pluginName: pluginName }|json_encode }}" aria-label="{{ 'ProfessionalServices_CTALearnMore'|translate(pluginNameNice) }}">
            {{ 'CoreAdminHome_LearnMore'|translate }}
        </a>
    </div>
</div>
