<p>{{ 'ScheduledReports_EmailHello'|translate }}</p>
<p>{{ 'CoreUpdater_ThereIsNewPluginVersionAvailableForUpdate'|translate }}</p>

<ul>
{% for plugin in pluginsToBeNotified %}
<li>{{ plugin.name }} {{ plugin.latestVersion }}</li>
{% endfor %}
</ul>

{% if hasThemeUpdate %}
<p>
{{ 'CoreUpdater_NotificationClickToUpdateThemes'|translate }}<br/>
<a href="{{ host|e('html_attr') }}index.php?module=CorePluginsAdmin&action=themes">{{ host }}index.php?module=CorePluginsAdmin&action=themes</a>
</p>
{% endif %}

{% if hasPluginUpdate %}
<p>
{{ 'CoreUpdater_NotificationClickToUpdatePlugins'|translate }}<br/>
<a href="{{ host|e('html_attr') }}index.php?module=CorePluginsAdmin&action=plugins">{{ host }}index.php?module=CorePluginsAdmin&action=plugins</a>
</p>
{% endif %}

<p>
{{ 'Installation_HappyAnalysing'|translate }}
</p>
