<div class="getNewPlugins getPremiumFeatures widgetBody">
    <div class="row">
        <div class="col s12 m12">
            <h3 style="font-weight: bold;color: #5bb75b">{{ 'Marketplace_TrialHints'|translate("<a style='color:#5bb75b;text-decoration: underline;' href='https://shop.matomo.org/free-trial/' target='_blank' rel='nofollo'>","</a>")|raw }}</h3>
            <h3 style="margin-bottom: 28px;color: #5bb75b">{{ 'Marketplace_SupportMatomoThankYou'|translate }} <i class='icon-heart red-text'></i></h3></div>

        {% for plugin in plugins %}
            <div class="col s12 m4">

                <h3 class="pluginName" piwik-plugin-name="{{ plugin.name|e('html_attr') }}">{{ plugin.displayName }}</h3>
                {% if plugin.specialOffer !='' %}
                <span class="pluginSubtitle">
                    <span>{{ 'Marketplace_SpecialOffer'|translate }}:</span> {{ plugin.specialOffer }}
                </span>
                {% endif %}
                <span class="pluginBody">
                    {% if plugin.isBundle %} {{ 'Marketplace_SpecialOffer'|translate }}: {% endif %}{{ plugin.description }}
                    <br />
                    <a href="javascript:;" class="pluginMoreDetails" piwik-plugin-name="{{ plugin.name|e('html_attr') }}">{{ 'General_MoreDetails'|translate }}</a>
                </span>
            </div>
            {% if loop.index % 3 == 0 %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <div class="widgetBody">
        <a href="{{ linkTo({'module': 'Marketplace', 'action': 'overview', 'show': 'premium'}) }}"
            >{{ 'CorePluginsAdmin_ViewAllMarketplacePlugins'|translate }}</a>
    </div>
</div>