<div
  vue-entry="Marketplace.LicenseKey"
  is-valid-consumer="{{ isValidConsumer|default(false)|json_encode|e('html_attr') }}"
  is-super-user="{{ isSuperUser|default(false)|json_encode|e('html_attr') }}"
  is-auto-update-possible="{{ isAutoUpdatePossible|default(false)|json_encode|e('html_attr') }}"
  is-plugins-admin-enabled="{{ isPluginsAdminEnabled|default(false)|json_encode|e('html_attr') }}"
  has-license-key="{{ hasLicenseKey|default(false)|json_encode|e('html_attr') }}"
  paid-plugins-to-install-at-once="{{ paidPluginsToInstallAtOnce|default([])|json_encode|e('html_attr') }}"
  install-nonce="{{ installNonce|default(null)|json_encode|e('html_attr') }}"
></div>
