
{% macro pluginDeveloper(owner) %}
    {% if 'piwik' == owner or 'matomo-org' == owner %}<img title="Matomo" alt="Matomo" style="padding-bottom:2px;height:12px;" src="plugins/Morpheus/images/logo-dark.svg"/>{% else %}{{ owner }}{% endif %}
{% endmacro %}

{% macro matomoPluginBadge(owner, extraClass='') %}
    {% if 'piwik' == owner or 'matomo-org' == owner %}<img class="matomo-badge {{ extraClass }}" src="plugins/Marketplace/images/matomo-badge.png" aria-label="Matomo plugin" alt="">{% endif %}
{% endmacro %}

{% macro helpLink(plugin) %}
    <a tabindex="7" class="plugin-details" href="#" vue-directive="CorePluginsAdmin.PluginName" vue-directive-value="{{ { pluginName: plugin.name }|json_encode }}" title="{{ 'General_MoreDetails'|translate }}">{{ 'General_Help'|translate }}</a>
{% endmacro %}

{% macro pluginActionButton(plugin) %}
    <a tabindex="7" class="btn btn-block {% if plugin.priceFrom %}purchaseable{% endif %}" href="#" vue-directive="CorePluginsAdmin.PluginName"  vue-directive-value="{{ { pluginName: plugin.name }|json_encode }}" title="{{ 'General_MoreDetails'|translate }}">
        {% if plugin.priceFrom %}
            {{ 'Marketplace_StartFreeTrial'|translate }}
        {% else %}
            {{ 'General_MoreDetails'|translate }}
        {% endif %}
    </a>
{% endmacro %}

{% macro featuredIcon(align='') %}
    <img class="featuredIcon"
         title="{{ 'Marketplace_FeaturedPlugin'|translate }}"
         src="plugins/Marketplace/images/rating_important.png"
         align="{{ align }}" />
{% endmacro %}

{% macro missingRequirementsPleaseUpdateNotice(plugin) %}
    <div vue-entry="Marketplace.MissingReqsNotice" plugin="{{ plugin|json_encode }}"></div>
{% endmacro %}
