{% extends inReportingMenu ? "empty.twig" : "admin.twig" %}

{% set title %}{{ 'Marketplace_Marketplace'|translate }}{% endset %}

{% block content %}

    <div class="marketplace">
        <div
            vue-entry="Marketplace.OverviewIntro"
            show-themes="{{ showThemes|default(false)|json_encode }}"
            in-reporting-menu="{{ inReportingMenu|default(false)|json_encode }}"
            is-valid-consumer="{{ isValidConsumer|default(false)|json_encode }}"
            is-super-user="{{ isSuperUser|default(false)|json_encode }}"
            is-auto-update-possible="{{ isAutoUpdatePossible|default(false)|json_encode }}"
            is-multi-server-environment="{{ isMultiServerEnvironment|default(false)|json_encode }}"
            is-plugins-admin-enabled="{{ isPluginsAdminEnabled|default(false)|json_encode }}"
            has-license-key="{{ hasLicenseKey|default(false)|json_encode }}"
            paid-plugins-to-install-at-once="{{ paidPluginsToInstallAtOnce|default([])|json_encode }}"
            install-nonce="{{ installNonce|default(null)|json_encode }}"
            activate-nonce="{{ activateNonce|default(null)|json_encode }}"
            deactivate-nonce="{{ deactivateNonce|default(null)|json_encode }}"
            update-nonce="{{ updateNonce|default(null)|json_encode }}"
            is-plugin-upload-enabled="{{ isPluginUploadEnabled|default(null)|json_encode }}"
            upload-limit="{{ uploadLimit|default(null)|json_encode }}"
            plugin-type="{{ pluginType|default(null)|json_encode }}"
            plugin-type-options="{{ pluginTypeOptions|default(null)|json_encode }}"
            sort="{{ sort|default(null)|json_encode }}"
            plugin-sort-options="{{ pluginSortOptions|default(null)|json_encode }}"
            plugins-to-show="{{ pluginsToShow|default(null)|json_encode }}"
            query="{{ query|default(null)|json_encode }}"
            num-available-plugins="{{ numAvailablePlugins|default(null)|json_encode }}"
        ></div>

        <div class="footer-message center">
            {{ 'Marketplace_DevelopersLearnHowToDevelopPlugins'|translate(externallink('https://developer.matomo.org/develop'), '</a>')|raw }}
            <br />
            <br />
            <br />
            <a rel="noreferrer noopener" href="{{ 'https://shop.matomo.org/faq/'|trackmatomolink }}" target="_blank">FAQ</a> |
            <a rel="noreferrer noopener" href="{{ 'https://shop.matomo.org/terms-conditions/'|trackmatomolink }}" target="_blank">Terms</a> |
            <a rel="noreferrer noopener" href="{{ 'https://matomo.org/privacy-policy/'|trackmatomolink }}" target="_blank">Privacy</a> |
            <a rel="noreferrer noopener" href="{{ 'https://matomo.org/contact/'|trackmatomolink }}" target="_blank">Contact</a>
        </div>

    </div>

{% endblock %}
