{% extends inReportingMenu ? "empty.twig" : "admin.twig" %}

{% set title %}{{ 'Marketplace_Marketplace'|translate }}{% endset %}

{% block content %}

    <div class="marketplace">
        <div
            vue-entry="Marketplace.OverviewIntro"
            show-themes="{{ showThemes|default(false)|json_encode|e('html_attr') }}"
            in-reporting-menu="{{ inReportingMenu|default(false)|json_encode|e('html_attr') }}"
            is-valid-consumer="{{ isValidConsumer|default(false)|json_encode|e('html_attr') }}"
            is-super-user="{{ isSuperUser|default(false)|json_encode|e('html_attr') }}"
            is-auto-update-possible="{{ isAutoUpdatePossible|default(false)|json_encode|e('html_attr') }}"
            is-plugins-admin-enabled="{{ isPluginsAdminEnabled|default(false)|json_encode|e('html_attr') }}"
            has-license-key="{{ hasLicenseKey|default(false)|json_encode|e('html_attr') }}"
            paid-plugins-to-install-at-once="{{ paidPluginsToInstallAtOnce|default([])|json_encode|e('html_attr') }}"
            install-nonce="{{ installNonce|default(null)|json_encode|e('html_attr') }}"
            is-plugin-upload-enabled="{{ isPluginUploadEnabled|default(null)|json_encode|e('html_attr') }}"
            upload-limit="{{ uploadLimit|default(null)|json_encode|e('html_attr') }}"
            plugin-type="{{ pluginType|default(null)|json_encode|e('html_attr') }}"
            plugin-type-options="{{ pluginTypeOptions|default(null)|json_encode|e('html_attr') }}"
            sort="{{ sort|default(null)|json_encode|e('html_attr') }}"
            plugin-sort-options="{{ pluginSortOptions|default(null)|json_encode|e('html_attr') }}"
            plugins-to-show="{{ pluginsToShow|default(null)|json_encode|e('html_attr') }}"
            query="{{ query|default(null)|json_encode|e('html_attr') }}"
            num-available-plugins="{{ numAvailablePlugins|default(null)|json_encode|e('html_attr') }}"
        ></div>

        {% include '@Marketplace/plugin-list.twig' %}

        <div class="footer-message center">
            {{ 'Marketplace_DevelopersLearnHowToDevelopPlugins'|translate('<a target="_blank" rel="noreferrer noopener" href="https://developer.matomo.org/develop">', '</a>')|raw }}
            <br />
            <br />
            <br />
            <a rel="noreferrer noopener" href="https://shop.matomo.org/faq/" target="_blank">FAQ</a> |
            <a rel="noreferrer noopener" href="https://shop.matomo.org/terms-conditions/" target="_blank">Terms</a> |
            <a rel="noreferrer noopener" href="https://matomo.org/privacy-policy/" target="_blank">Privacy</a> |
            <a rel="noreferrer noopener" href="https://matomo.org/contact/" target="_blank">Contact</a>
        </div>

    </div>

{% endblock %}
