<div class="ui-confirm" id="installAllPaidPluginsAtOnce">
    <h2>{{ 'Marketplace_InstallAllPurchasedPlugins'|translate }}</h2>
    <p>
        {{ 'Marketplace_InstallThesePlugins'|translate }}
        <br /><br />
    </p>
    <ul>
        {% for pluginName in paidPluginsToInstallAtOnce %}
            <li>{{ pluginName }}</li>
        {% endfor %}
    </ul>

    <p>
        <input role="install" type="button" data-href="{{ linkTo({'action': 'installAllPaidPlugins', 'nonce': installNonce}) }}"
               value="{{ 'Marketplace_InstallAllPurchasedPluginsAction'|translate(paidPluginsToInstallAtOnce|length) }}">
        <input role="cancel" type="button" value="{{ 'General_Cancel'|translate }}"/>
    </p>
</div>
