{% extends mode is defined and mode == 'user' ? "user.twig" : "admin.twig" %}
{% import '@Marketplace/macros.twig' as marketplaceMacro %}

{% set title %}{{ 'Marketplace_Marketplace'|translate }}{% endset %}

{% block content %}

    <div
        vue-entry="Marketplace.SubscriptionOverview"
        login-url="{{ loginUrl|json_encode|e('html_attr') }}"
        num-users="{{ numUsers|json_encode|e('html_attr') }}"
        has-license-key="{{ hasLicenseKey|default(false)|json_encode|e('html_attr') }}"
        subscriptions="{{ subscriptions|json_encode|e('html_attr') }}"
    ></div>

{% endblock %}
