<div class="row">

    <div class="col-md-6">
        <h2 piwik-enriched-headline>{{ "DevicesDetection_DeviceType"|translate }}</h2>
        {{ deviceTypes  | raw}}
        <h2 piwik-enriched-headline>{{ "DevicesDetection_DeviceBrand"|translate }}</h2>
        {{ deviceBrands | raw }}
    </div>

    <div class="col-md-6">
        <h2 piwik-enriched-headline>{{ "DevicesDetection_DeviceModel"|translate }}</h2>
        {{ deviceModels | raw }}
        {% if resolutions|default is not empty %}
            <h2 piwik-enriched-headline>{{ 'Resolution_Resolutions'|translate }}</h2>
            {{ resolutions|raw }}
        {% endif %}
    </div>

</div>
