<div id='leftcolumn'>
    <h2>{{ "DevicesDetection_DeviceType"|translate }}</h2>
    {{ deviceTypes }}
    <h2>{{ "DevicesDetection_DeviceBrand"|translate }}</h2>
    {{ deviceBrands }}
    <h2>{{ "DevicesDetection_DeviceModel"|translate }}</h2>
    {{ deviceModels }}
</div>

<div id='rightcolumn'>
    <h2>{{ "DeviceDetection_OperatingSystemFamilies"|translate }}</h2>
    {{ osReport }}
    <h2>{{ "DevicesDetection_BrowsersFamily"|translate }}</h2>
    {{ browserReport }}
</div>
