<div id='leftcolumn'>
    <h2 piwik-enriched-headline>{{ "DevicesDetection_DeviceType"|translate }}</h2>
    {{ deviceTypes  | raw}}
    <h2 piwik-enriched-headline>{{ "DevicesDetection_DeviceBrand"|translate }}</h2>
    {{ deviceBrands | raw }}
    <h2 piwik-enriched-headline>{{ "DevicesDetection_DeviceModel"|translate }}</h2>
    {{ deviceModels | raw }}
</div>

<div id='rightcolumn'>
    <h2 piwik-enriched-headline>{{ "DevicesDetection_OperatingSystemFamilies"|translate }}</h2>
    {{ osReport  | raw}}
    <h2 piwik-enriched-headline>{{ "UserSettings_BrowserFamilies"|translate }}</h2>
    {{ browserReport | raw }}
</div>
