<h2 piwik-enriched-headline>{{ 'VisitorInterest_VisitsPerDuration'|translate }}</h2>
{{ dataTableNumberOfVisitsPerVisitDuration|raw }}

<h2 piwik-enriched-headline>{{ 'VisitorInterest_VisitsPerNbOfPages'|translate }}</h2>
{{ dataTableNumberOfVisitsPerPage|raw }}

<h2 piwik-enriched-headline>{{ 'VisitorInterest_visitsByVisitCount'|translate }}</h2>
{{ dataTableNumberOfVisitsByVisitNum|raw }}

<h2 piwik-enriched-headline>{{ 'VisitorInterest_VisitsByDaysSinceLast'|translate }}</h2>
{{ dataTableNumberOfVisitsByDaysSinceLast|raw }}
