<h2 data-graph-id="{{ nameGraphEvolutionReferers }}">{{ 'General_EvolutionOverPeriod'|translate }}</h2>
{{ graphEvolutionReferers|raw }}

<br/>
<div id='leftcolumn' style="position:relative;">
    <h2>{{ 'Referers_Type'|translate }}</h2>

    <div id='leftcolumn'>
        <div class="sparkline">{{ sparkline(urlSparklineDirectEntry) }}
            {{ 'Referers_TypeDirectEntries'|translate("<strong>"~visitorsFromDirectEntry~"</strong>")|raw }}
            {% if visitorsFromDirectEntryPercent|default is not empty %},
                <strong>{{ visitorsFromDirectEntryPercent }}%</strong> of visits
            {% endif %}
            {% if visitorsFromDirectEntryEvolution is not empty %}
                {{ visitorsFromDirectEntryEvolution|raw }}
            {% endif %}
        </div>
        <div class="sparkline">{{ sparkline(urlSparklineSearchEngines) }}
            {{ 'Referers_TypeSearchEngines'|translate("<strong>"~visitorsFromSearchEngines~"</strong>")|raw }}
            {% if visitorsFromSearchEnginesPercent|default is not empty %},
                <strong>{{ visitorsFromSearchEnginesPercent }}%</strong> of visits
            {% endif %}
            {% if visitorsFromSearchEnginesEvolution is not empty %}
                {{ visitorsFromSearchEnginesEvolution|raw }}
            {% endif %}
        </div>
    </div>
    <div id='rightcolumn'>
        <div class="sparkline">{{ sparkline(urlSparklineWebsites) }}
            {{ 'Referers_TypeWebsites'|translate("<strong>"~visitorsFromWebsites~"</strong>")|raw }}
            {% if visitorsFromWebsitesPercent|default is not empty %},
                <strong>{{ visitorsFromWebsitesPercent }}%</strong> of visits
            {% endif %}
            {% if visitorsFromWebsitesEvolution is not empty %}
                {{ visitorsFromWebsitesEvolution|raw }}
            {% endif %}
        </div>
        <div class="sparkline">{{ sparkline(urlSparklineCampaigns) }}
            {{ 'Referers_TypeCampaigns'|translate("<strong>"~visitorsFromCampaigns~"</strong>")|raw }}
            {% if visitorsFromCampaignsPercent|default is not empty %},
                <strong>{{ visitorsFromCampaignsPercent }}%</strong> of visits
            {% endif %}
            {% if visitorsFromCampaignsEvolution is not empty %}
                {{ visitorsFromCampaignsEvolution|raw }}
            {% endif %}
        </div>
    </div>

    <div style="clear:both;"/>

    <div style="float:left;">
        <br/>

        <h2>{{ 'General_MoreDetails'|translate }}&nbsp;
            <a href="#" class="section-toggler-link" data-section-id="distinctReferrersByType">({{ 'General_Show'|translate }})</a>
        </h2>
    </div>

    <div id="distinctReferrersByType" style="display:none;float:left;">
        <table cellpadding="15">
            <tr>
                <td width="50%">
                    <div class="sparkline">{{ sparkline(urlSparklineDistinctSearchEngines) }}
                        <strong>{{ numberDistinctSearchEngines }}</strong> {{ 'Referers_DistinctSearchEngines'|translate }}
                        {% if numberDistinctSearchEnginesEvolution is not empty %}
                            {{ numberDistinctSearchEnginesEvolution|raw }}
                        {% endif %}
                    </div>
                    <div class="sparkline">{{ sparkline(urlSparklineDistinctKeywords) }}
                        <strong>{{ numberDistinctKeywords }}</strong> {{ 'Referers_DistinctKeywords'|translate }}
                        {% if numberDistinctKeywordsEvolution is not empty %}
                            {{ numberDistinctKeywordsEvolution|raw }}
                        {% endif %}
                    </div>
                </td>
                <td width="50%">
                    <div class="sparkline">{{ sparkline(urlSparklineDistinctWebsites) }}
                        <strong>{{ numberDistinctWebsites }}</strong> {{ 'Referers_DistinctWebsites'|translate }}
                        {{ 'Referers_UsingNDistinctUrls'|translate("<strong>"~numberDistinctWebsitesUrls~"</strong>") }}
                        {% if numberDistinctWebsitesEvolution is not empty %}
                            {{ numberDistinctWebsitesEvolution|raw }}
                        {% endif %}
                    </div>
                    <div class="sparkline">{{ sparkline(urlSparklineDistinctCampaigns) }}
                        <strong>{{ numberDistinctCampaigns }}</strong> {{ 'Referers_DistinctCampaigns'|translate }}
                        {% if numberDistinctCampaignsEvolution is not empty %}
                            {{ numberDistinctCampaignsEvolution|raw }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
        <br/>
    </div>

    <p style="clear:both;"/>

    <div style="float:left;">{{ 'General_View'|translate }}
        <a href="javascript:broadcast.propagateAjax('module=Referers&action=getSearchEnginesAndKeywords')">{{ 'Referers_SubmenuSearchEngines'|translate }}</a>,
        <a href="javascript:broadcast.propagateAjax('module=Referers&action=indexWebsites')">{{ 'Referers_SubmenuWebsites'|translate }}</a>,
        <a href="javascript:broadcast.propagateAjax('module=Referers&action=indexCampaigns')">{{ 'Referers_Campaigns'|translate }}</a>.
    </div>
</div>

<div id='rightcolumn'>
    <h2>{{ 'Referers_DetailsByReferrerType'|translate }}</h2>
    {{ dataTableRefererType|raw }}
</div>

<div style="clear:both;"></div>

{% if totalVisits > 0 %}
    <h2>{{ 'Referers_ReferrersOverview'|translate }}</h2>
    {{ referrersReportsByDimension|raw }}
{% endif %}

{% include "_sparklineFooter.twig" %}

