<div id='entityEditContainer'>

	<table class="dataTable entityTable">
        <thead>
            <tr>
                <th class="first">ID</th>
                <th>Alert Name</th>
                <th>Period</th>
                <th>Report</th>
                <th colspan="2">Send Email?</th>
            </tr>
        </thead>

        {% if not alerts %}
        <tr>
            <td colspan="6">
                <br/>
                {{ 'CustomAlerts_NoAlertsDefined'|translate }}.
                <br/><br/>
            </td>
        </tr>
        {% else %}
            {% for alert in alerts %}
                <tr>
                    <td>{{ alert.idalert }}</td>
                    <td>{{ alert.name }}</td>
                    <td>{{ alert.period|capitalize }}</td>
                    <td>{{ alert.reportName }}</td>
                    <td>{% if alert.enable_mail %}Yes{% else %}No{% endif %}</td>
                    {% set idalert=alert.idalert %}
                    <td><a href="{{ linkTo({'module': 'CustomAlerts', 'action': 'editAlert', 'idAlert': alert.idalert}) }}">Edit</a></td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>
	<br/>
	<a href="{{ linkTo({'module': 'CustomAlerts', 'action': 'addNewAlert'}) }}" id='linkAddReport'>&rsaquo; {{ 'CustomAlerts_CreateNewAlert'|translate }}</a>
		
</div>
