<span class="topBarElem">
	<span id="languageSelection">
		<form action="index.php?module=LanguagesManager&amp;action=saveLanguage" method="post">
            <select name="language" id="language">
                <option title="" value=""
                        href="?module=Proxy&amp;action=redirect&amp;url=http://piwik.org/translations/">{{ 'LanguagesManager_AboutPiwikTranslations'|translate }}</option>
                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == currentLanguageCode %}selected="selected"{% endif %}
                            title="{{ language.name }} ({{ language.english_name }})">{{ language.name }}</option>
                {% endfor %}
            </select>
            {# During installation token_auth is not set #}
            {% if token_auth is defined %}<input type="hidden" name="token_auth" value="{{ token_auth }}"/>{% endif %}
            <input type="submit" value="go"/>
        </form>
	</span>
	
	<script type="text/javascript">
        piwik.languageName = "{{ currentLanguageName }}";
    </script>
</span>
