<div
    vue-entry="LanguagesManager.LanguagesDropdown"
    token-auth="{{ token_auth|default(null)|json_encode }}"
    form-nonce="{{ nonce|json_encode }}"
    languages="{{ languages|json_encode }}"
    current-language-code="{{ currentLanguageCode|json_encode }}"
    current-language-name="{{ currentLanguageName|json_encode }}"
></div>
