<div
    vue-entry="LanguagesManager.LanguagesDropdown"
    token-auth="{{ token_auth|default(null)|json_encode|e('html_attr') }}"
    nonce="{{ nonce|json_encode|e('html_attr') }}"
    languages="{{ languages|json_encode|e('html_attr') }}"
    current-language-code="{{ currentLanguageCode|json_encode|e('html_attr') }}"
    current-language-name="{{ currentLanguageName|json_encode|e('html_attr') }}"
></div>
