<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'Login_PasswordResetEmail1'|translate(ip) }}</p>
<p style="word-break: break-all"><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
<p>{{ 'Login_PasswordResetEmail2'|translate }}</p>
<p>{{ 'Login_PasswordResetEmail3'|translate }}</p>
<p style="word-break: break-all"><a href="{{ cancelUrl }}">{{ cancelUrl }}</a></p>
<p>{{ 'Login_PasswordResetEmail4'|translate }}</p>
<p>{{ 'Login_PasswordResetEmail5'|translate }}:</p>
<p>{{ 'Login_PasswordResetEmail6'|translate }}</p>
