<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'Login_PasswordResetEmail1'|translate(ip) }}</p>
<p><a href="{{ resetUrl }}">{{ 'Login_PasswordResetEmailLinkReset'|translate }}</a></p>
<p>{{ 'Login_PasswordResetEmail2'|translate }}</p>
<p>{{ 'Login_PasswordResetEmail3'|translate }}</p>
<p><a href="{{ cancelUrl }}">{{ 'Login_PasswordResetEmailLinkCancel'|translate }}</a></p>
<p>{{ 'Login_PasswordResetEmail4'|translate }}</p>
<p><strong>{{ 'Login_SecurityTip'|translate }}:</strong></p>
<p>{{ 'Login_PasswordResetEmail5'|translate }}</p>
