<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'Login_PasswordResetEmail1'|translate(ip) }}</p>
<p style="word-break: break-all"><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
<p>{{ 'General_ThankYouForUsingMatomo'|translate }}.</p>
