<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'CoreAdminHome_SuspiciousLoginAttemptsInLastHourEmail1'|translate('<strong>'~countOverall~'</strong>', '<strong>'~countDistinctIps~'</strong>')|raw }}</p>
<p>{{ 'CoreAdminHome_SuspiciousLoginAttemptsInLastHourEmail2'|translate }}</p>
<p>
    <li>{{ 'CoreAdminHome_SuspiciousLoginAttemptsInLastHourEmail3'|translate }}</li>
    <li>{{ 'CoreAdminHome_SuspiciousLoginAttemptsInLastHourEmail4'|translate }}</li>
</p>
<p>{{ 'CoreAdminHome_SuspiciousLoginAttemptsInLastHourEmail5'|translate('<a href="https://matomo.org/faq/how-to/faq_25543/" rel="noopener noreferrer" target="_blank">', '</a>') }}</p>
