<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'Login_SuspiciousLoginAttemptsInLastHourEmail1'|translate('<strong>'~countOverall~'</strong>', '<strong>'~countDistinctIps~'</strong>')|raw }}</p>
<p>{{ 'Login_SuspiciousLoginAttemptsInLastHourEmail2'|translate }}</p>
<p>
    <li>{{ 'Login_SuspiciousLoginAttemptsInLastHourEmail3'|translate }}</li>
    <li>{{ 'Login_SuspiciousLoginAttemptsInLastHourEmail4'|translate }}</li>
</p>
<p>{{ 'Login_SuspiciousLoginAttemptsInLastHourEmail5'|translate('<a href="https://matomo.org/faq/how-to/faq_25543/" rel="noopener noreferrer" target="_blank">', '</a>') }}</p>
