{% extends '@Login/inviteLayout.twig' %}

{% block loginContent %}
    <div class="contentForm invitationForm">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                </div>
                <p> {{ "Login_InvitationDeclineBody"|translate }}</p>
                <p class="hints"> {{ "Login_InvitationHints"|translate }}</p>
                <form method="post" action="?module=Login&action=declineInvitation">
                    <input type="hidden" name="token" value="{{ token }}"/>
                    <div class="row actions">
                        <div class="col s12">
                            <input class="submit btn" name="invitation_form" id="login_form_submit" type="submit" value="{{ 'Login_Yes'|translate }}"
                            {% if privacyPolicyUrl|default('') is not empty %}
                                <input name="privacy" type="checkbox" id="privacy" value="1" tabindex="90"/>
                                <a target="_blank" rel="noreferrer noopener" href="{{ privacyPolicyUrl|safelink|e('html_attr') }}">{{ 'PrivacyManager_PrivacyPolicy'|translate }}</a>
                                </label>
                            {% endif %}
                            {% if termsAndCondition|default('') is not empty %}
                                <label>
                                    <input name="terms" type="checkbox" id="terms" value="1" tabindex="90"/>
                                    <span><a target="_blank" rel="noreferrer noopener" href="{{ termsAndCondition|safelink|e('html_attr') }}">{{ 'PrivacyManager_TermsAndConditions'|translate }}</a></span>
                                </label>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}