{% set isCenteredLogo = false %}
{% set colClassOverride = 'col l4 offset-l2 m12' %}
{% set showImageDiv = true %}
{% set imageToShow = 'plugins/Login/images/02_Welcome.png' %}
{% set bodyClass = 'onBoarding' %}
{% set pageTitle = 'Welcome to Matomo' %}

{% extends '@Login/loginLayout.twig' %}

{% block loginContent %}
    <div class="welcome" id="welcome">
        <p class="welcomeHeader">{{ 'Login_WelcomeToMatomo'|translate }}</p>
        <br>
        <p>{{ 'Login_WelcomeTextDescriptionLine1'|translate }}</p>
        <br>
        <p>{{ 'Login_WelcomeTextDescriptionLine2'|translate }}</p>
        <br>
        <p>{{ 'Login_WelcomeTextDescriptionLine3'|translate }}</p>
        <br>
        <p>{{ 'Login_WelcomeTextDescriptionLine4'|translate }}</p>
        <p>{{ 'Login_WelcomeTextDescriptionLine5'|translate }}</p>
        <br>
        <br>

        {% block content %}
            <form method="post"
                  action="{{ linkTo({'module': loginPlugin, 'action': 'welcome'}) }}">
                <input type="hidden" name="nonce" value="{{ nonce }}"/>

                <div class="row actions lets_get_started_row formSubmitButtonRow">
                    <div class="col s12">
                        <input class="submit btn uppercase formSubmitButton" name="welcome_form" id="lets_get_started_button"
                               type="submit"
                               value="{{ 'Login_LetsGetStarted'|translate }}"
                               tabindex="100"/>
                    </div>
                </div>
            </form>
        {% endblock %}
    </div>

{% endblock %}