{% extends 'layout.twig' %}

{% block pageTitle %}{% if not isCustomLogo %}Piwik &rsaquo;{% endif %} {{ 'CoreAdminHome_Administration'|translate }}{% endblock %}

{% set bodyClass = postEvent('Template.bodyClass', 'admin') %}

{% block body %}
    {% if isSuperUser %}
        {% set topMenuModule = 'CoreAdminHome' %}
        {% set topMenuAction = 'generalSettings' %}
    {% else %}
        {% set topMenuModule = 'SitesManager' %}
        {% set topMenuAction = 'index' %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block root %}
    {% include "@CoreHome/_topScreen.twig" %}

    {% import 'ajaxMacros.twig' as ajax %}
    {{ ajax.requestErrorDiv(emailSuperUser|default('')) }}
    {{ postEvent("Template.beforeContent", "admin", currentModule) }}

    <div id="container">

        {% if showMenu is not defined or showMenu %}
            {% include "@CoreAdminHome/_menu.twig" %}
        {% endif %}

        <div id="content" class="admin">

            {% include "@CoreHome/_headerMessage.twig" %}
            {% include "@CoreHome/_notifications.twig" %}

            <div class="ui-confirm" id="alert">
                <h2></h2>
                <input role="no" type="button" value="{{ 'General_Ok'|translate }}"/>
            </div>

            {% include "@CoreHome/_warningInvalidHost.twig" %}

            {% block content %}
            {% endblock %}

        </div>
    </div>
{% endblock %}
