{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}

    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" src="libs/jqplot/excanvas.min.js"></script>
    <![endif]-->
{% endblock %}

{% set title %}{{ siteName|raw }} - {{ 'CoreHome_WebAnalyticsReports'|translate }}{% endset %}

{% block pageDescription %}Web Analytics report for {{ siteName|escape("html_attr") }} - Piwik{% endblock %}

{% set bodyClass = postEvent('Template.bodyClass', 'dashboard') %}

{% block body %}
    {{ parent() }}
    {{ postEvent("Template.footer") }}
{% endblock %}

{% block root %}
    {% include "@CoreHome/_warningInvalidHost.twig" %}
    {% include "@CoreHome/_topScreen.twig" %}

    <div class="ui-confirm" id="alert">
        <h2></h2>
        <input role="yes" type="button" value="{{ 'General_Ok'|translate }}"/>
    </div>

    {{ postEvent("Template.beforeContent", "dashboard", currentModule) }}

    <div class="page">

        {% if (menu is defined and menu) %}
            {% import '@CoreHome/_menu.twig' as menuMacro %}
            {{ menuMacro.menu(menu, true, 'Menu--dashboard') }}
        {% endif %}

        <div class="pageWrap">

            <a name="main"></a>

            <div class="top_controls">
                {% block topcontrols %}
                {% endblock %}
            </div>

            {% block notification %}
                {% include "@CoreHome/_notifications.twig" %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            <div class="clear"></div>
        </div>

    </div>
{% endblock %}
