<html>
<head>
    <meta charset="utf-8">
</head>
<body style="color: rgb({{ reportTextColor }});">

<a id="reportTop" target="_blank" href="{{ currentPath }}"><img title="{{ 'General_GoTo'|translate("Piwik") }}" border="0" alt="Piwik" src='{{ logoHeader }}'/></a>

<h1 style="color: rgb({{ reportTitleTextColor }}); font-size: {{ reportTitleTextSize }}pt;">
    {{ reportTitle }}
</h1>

<p>
    {{ description }} - {{ 'General_DateRange'|translate }} {{ prettyDate }}
</p>

{% if displaySegment %}
<p style="color: rgb({{ reportTitleTextColor }});">
    {{ 'ScheduledReports_CustomVisitorSegment'|translate("Piwik") }} {{ segmentName }}
</p>
{% endif %}

{% if reportMetadata|length > 1 %}
    <h2 style="color: rgb({{ reportTitleTextColor }}); font-size: {{ reportTitleTextSize }}pt;">
        {{ 'ScheduledReports_TableOfContent'|translate }}
    </h2>
    <ul>
        {% for metadata in reportMetadata %}
            <li>
                <a href="#{{ metadata.uniqueId }}" style="text-decoration:none; color: rgb({{ reportTextColor }});">
                    {{ metadata.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
