{% set fontStyle %}color:{{ themeStyles.colorText }};font-family:{{ themeStyles.fontFamilyBase }};{% endset %}

{% if not hasWhiteLabel %}
  <hr style=" border: 0; margin-top: 50px;  height: 1px; background-image: linear-gradient(to right, rgba(231, 231, 231, 0), rgba(231, 231, 231, 1), rgba(2311, 2311, 231, 0));">

  <p style='{{emailStyles.styleParagraph}}{{fontStyle}}{{ emailStyles.footerParagraphStyles }}'>
    {{'General_PoweredBy'|translate}}
    <a style="color:{{ emailStyles.footerLinkColor }}; " href="https://matomo.org/" title="Matomo Analytics">Matomo Analytics</a>
    <br />
    {{ 'CoreHome_LeadingAnalyticsPlatformRespectsYourPrivacy'|translate }}
  </p>
{% endif %}

</div>
</body>
</html>
