{% set visitorLogLinkHtml %}<a href="{{ visitorLogLink }}" target="_blank">{% endset %}
<p>
    {{ 'SegmentEditor_UnprocessedSegmentNoData1'|translate('<strong>(' ~ segmentName ~ ')</strong>')|raw }}
    {{ 'SegmentEditor_UnprocessedSegmentNoData2'|translate }}
</p>
<p>&nbsp;</p>
<p>
    {{ 'SegmentEditor_UnprocessedSegmentInVisitorLog1'|translate(visitorLogLinkHtml, '</a>')|raw }}
    {{ 'SegmentEditor_UnprocessedSegmentInVisitorLog2'|translate }}
    {{ 'SegmentEditor_UnprocessedSegmentInVisitorLog3'|translate }}
</p>