<div id="footerLinks">
    {% if imprintUrl|default('') is not empty %}<a target="_blank" rel="noreferrer noopener" href="{{ imprintUrl|safelink|e('html_attr') }}">{{ 'PrivacyManager_Imprint'|translate }}</a>{% endif %}
    {% if imprintUrl|default('') is not empty and (privacyPolicyUrl|default('') is not empty or termsAndCondition|default('') is not empty) %}|{% endif %}
    {% if privacyPolicyUrl|default('') is not empty %}<a target="_blank" rel="noreferrer noopener" href="{{ privacyPolicyUrl|safelink|e('html_attr') }}">{{ 'PrivacyManager_PrivacyPolicy'|translate }}</a>{% endif %}
    {% if privacyPolicyUrl|default('') is not empty and termsAndCondition|default('') is not empty %}|{% endif %}
    {% if termsAndCondition|default('') is not empty %}<a target="_blank" rel="noreferrer noopener" href="{{ termsAndCondition|safelink|e('html_attr') }}">{{ 'PrivacyManager_TermsAndConditions'|translate|rawSafeDecoded }}</a>{% endif %}
</div>
