{% extends 'admin.twig' %}

{% set title %}{{ 'PrivacyManager_GDPR'|translate }}{% endset %}

{% block content %}
    <div piwik-content-block content-title="How do I ask for consent?">
        <p>
            The Matomo JavaScript Tracker lets you require consent in case you track for example personal data and do not
            have a legitimate interest.
            <br /><br />
            <strong>Step 1, requiring consent</strong>
            <br />
            To require consent, call <code>_paq.push(['requireConsent'])</code> on every page view. When consent is required, no
            tracking request will be sent to the Matomo tracking server until the user has given consent.<br />
            Please note that when consent is required, we will temporarily set cookies but not track any data. These
            cookies will only exist during this page view and deleted as soon as the user navigates to a different page
            or closes the browser.
            <br /><br />
            <strong>Step 2, asking for consent</strong>
            <br />
            Now you can ask the user for consent for example by showing a popup or a setting somewhere. Matomo does
            not offer the feature to show a popup yet, but may implement such a feature to gather consent in the future.
            <br /><br />
            When the user has given consent, you have two choices.
            <br /><br />
            <strong>Step 3a, user gives consent</strong>
            <br />
            You store the information that the user has given consent to be tracked yourself for example in a cookie,
            or in your platform and on every page view you call <code>_paq.push(['setConsentGiven'])</code> after
             calling <code>_paq.push(['requireConsent'])</code>. This lets the JavaScript tracker know that the user
            has given consent and ensures the tracking is working as expected. Alternatively, when the user has given consent,
            you could also avoid calling <code>_paq.push(['requireConsent'])</code> in the first place. When you call
            <code>setConsentGiven</code>, Matomo will not remember on subsequent requests that the user has given consent.
            <br /><br />
            <strong>Step 3b, user gives consent</strong>
            <br />
            Alternatively, you can let Matomo remember that the user has given consent by calling <code>_paq.push(['rememberConsentGiven', optionallyExpireConsentInMs])</code>
            once the user has given her or his consent. This means Matomo will remember on subsequent requests that
            the user has given his or her consent by setting a cookie named "consent" and the required consent will be automatically ignored while the cookie exists.
            This means when you call <code>_paq.push(['rememberConsentGiven'])</code> once, you do not need to call
            <code>_paq.push(['setConsentGiven'])</code> on each page view.
            <br />
            <div class="alert alert-info">
                Please note that this feature requires you to set the `cookieDomain` and `cookiePath` correctly and requires
                 that you do not disable cookies. Please also note that when you call this method, consent will be implied
                 for all sites that match the configured cookieDomain and cookiePath. Depending on your website structure,
                 you may need to restrict or widen the scope of the cookie domain/path to ensure the consent is applied
                 to the sites you want.
            </div>
            <strong>Step 4, user removes consent</strong>
            <br />
            If you went with "Step 3a" and the user has expressed she or he no longer gives consent, you shall not call the
            method <code>setConsentGiven</code> anymore. If you went with "Step 3b", you need to call <code>_paq.push(['forgetConsentGiven'])</code>
            once to make sure the cookie that remembered the given consent is deleted.
        </p>
    </div>

    <div piwik-content-block content-title="How do I embed the Matomo opt out to fulfill the right to remove consent?">
        <div piwik-opt-out-customizer piwikurl="{{ piwikUrl }}" language="{{ language }}">

        </div>
    </div>

    <div piwik-content-block content-title="Anonymize previously tracked raw data">
        <p>If you have tracked personal data such as the full visitor IP, you may
             want to anonymize this data now in case you do not have consent for this data.
        </p>

        {% if isSuperUser %}
            <div matomo-anonymize-log-data></div>
        {% else %}
            <p>Only a user with Super User access can anonymize previously tracked raw data.</p>
        {% endif %}

        <br />
        <h3>Previous log data anonymizations</h3>
        <table piwik-content-table>
            <thead>
            <tr>
                <th>Requester</th>
                <th>Affected ID Sites</th>
                <th>Affected date</th>
                <th>Anonymize IP</th>
                <th>Anonymize Location</th>
                <th>Visit Columns</th>
                <th>Link Visit Action Columns</th>
                <th>Status</th>
            </tr></thead>
            <tbody>
            {% for entry in anonymizations %}
                <tr>
                    <td>{{ entry.requester }}</td>
                    <td>{% if entry.idsites is empty or entry.idsites == 'all' %}All sites{% else %}{{ entry.idsites|join(', ') }}{% endif %}</td>
                    <td>{{ entry.date }}</td>
                    <td>{% if entry.anonymizeIp %}<span class="icon-ok"></span>{% else %}-{% endif %}</td>
                    <td>{% if entry.anonymizeLocation %}<span class="icon-ok"></span>{% else %}-{% endif %}</td>
                    <td>{{ entry.unsetVisitColumns|join(', ') }}</td>
                    <td>{{ entry.unsetLinkVisitActionColumns|join(', ') }}</td>
                    <td>
                        {% if not entry.isStarted %}
                            <span class="icon-info" style="cursor: help;" title="Scheduled date: {{ entry.scheduledOn|default('') }}."></span> Scheduled
                        {% elseif entry.isStarted and not entry.isFinished %}
                            <span class="icon-info" style="cursor: help;" title="Scheduled date: {{ entry.scheduledOn|default('') }}. Job Start Date: {{ entry.startDate }}. Current Output: {{ entry.output }}"></span> In progress
                        {% else %}
                            <span class="icon-info" style="cursor: help;" title="Scheduled date: {{ entry.scheduledOn|default('') }}. Job Start Date: {{ entry.startDate }}. Job End Date: {{ entry.finishDate }}. Output: {{ entry.output }}"></span> Done
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
