{% extends 'admin.twig' %}

{% set title %}{{ 'PrivacyManager_GDPR'|translate }}{% endset %}

{% block content %}
<div
    vue-entry="PrivacyManager.GdprOverview"
    after-g-d-p-r-overview-intro-content="{{ afterGDPROverviewIntroContent|default(null)|json_encode|e('html_attr') }}"
    delete-logs-enable="{{ deleteLogsEnable|default(null)|json_encode|e('html_attr') }}"
    delete-reports-enable="{{ deleteReportsEnable|default(null)|json_encode|e('html_attr') }}"
    raw-data-retention="{{ rawDataRetention|default(null)|json_encode|e('html_attr') }}"
    report-retention="{{ reportRetention|default(null)|json_encode|e('html_attr') }}"
></div>
{% endblock %}
