{% if visitorData.customVariables['visit'] is defined and visitorData.customVariables['visit']|length > 0 %}
    <div class="visitor-profile-summary visitor-profile-customvariables">
        <h1>{{ 'CustomVariables_CustomVariables'|translate }} ({{ 'General_TrackingScopeVisit'|translate }})</h1>
        <div>
            {%- for variable in visitorData.customVariables['visit'] -%}
                <p>
                    <span>{{ variable.name }}: </span>
                    {%- for value in variable.values -%}
                        <strong title="{{ value.count }}x">{{ value.value }}</strong>{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                </p>
            {%- endfor -%}
        </div>
    </div>
{% endif %}

{% if visitorData.customVariables['page'] is defined and visitorData.customVariables['page']|length > 0 %}
    <div class="visitor-profile-summary visitor-profile-customvariables">
        <h1>{{ 'CustomVariables_CustomVariables'|translate }} ({{ 'General_TrackingScopeAction'|translate }})</h1>
        <div>
            {%- for variable in visitorData.customVariables['page'] -%}
                <p>
                    <span>{{ variable.name }}: </span>
                    {%- for value in variable.values -%}
                        <strong title="{{ value.count }}x">{{ value.value }}</strong>{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                </p>
            {%- endfor -%}
        </div>
    </div>
{% endif %}
