{% if userCanEditGoals %}
    <h2 piwik-enriched-headline>{{ 'Goals_AddNewGoal'|translate }}</h2>
    <p>{{ 'Goals_NewGoalIntro'|translate }}</p>
    <p>{{ 'Goals_LearnMoreAboutGoalTrackingDocumentation'|translate("<a href='?module=Proxy&action=redirect&url=http://piwik.org/docs/tracking-goals-web-analytics/' target='_blank'>","</a>")|raw }}
       {{ 'Goals_ManageGoalsOrCreateANewGoal'|translate("<a href='#module=Goals&action=editGoals'>","</a>")|raw }}
    </p>

    {% include "@Goals/_addEditGoal.twig" %}

    <br/><br/>

{% else %}
    <h2>{{ 'Goals_AddNewGoal'|translate }}</h2>
    <p>
        {{ 'Goals_NoGoalsNeedAccess'|translate|raw }}
    </p>
    <p>
        {{ 'Goals_LearnMoreAboutGoalTrackingDocumentation'|translate("<a href='?module=Proxy&action=redirect&url=http://piwik.org/docs/tracking-goals-web-analytics/' target='_blank'>","</a>")|raw }}
    </p>

{% endif %}
