{% for goal in goals %}
<div class="card">
    <div class="card-content">
        <h2 class="card-title" piwik-goal-page-link="53">{{ goal['name'] }}</h2>
        <div class="row">
            <div class="col m6">
                <div>
                    <div class="sparkline ">
                        {{ sparkline(goal['urlSparklineConversions']) }}
                    </div>
                    <div>
                         <span class="sparkline-metrics">
                           <strong>{{ goal['nb_conversions'] }}</strong> conversions</span>
                    </div>
                </div>
                <br style="clear:left">
            </div>
            <div class="col m6">

                <div>
                    <div class="sparkline ">
                        {{ sparkline(goal['urlSparklineConversionRate']) }}
                    </div>
                    <div>
                         <span class="sparkline-metrics">
                           <strong>{{ goal['conversion_rate'] }}</strong> conversion rate</span>
                    </div>
                </div>
                <br style="clear:left">
            </div>
        </div>
    </div>
</div>
{% endfor %}

