<link rel="stylesheet" type="text/css" href="plugins/Goals/templates/goals.css"/>
{% include "@Goals/title_and_evolution_graph.twig" %}

<div class="clear"></div>
{% if nb_conversions > 0 %}
    <h2>{{ 'Goals_ConversionsOverview'|translate }}</h2>
    <ul class="ulGoalTopElements">
        {% if ecommerce is not defined}
            {% if topDimensions.country is defined %}
                <li>{{ 'Goals_BestCountries'|translate }} {% include '@Goals/list_top_dimension.twig' with {'topDimension':topDimensions.country} %}</li>
            {% endif %}
            {% if topDimensions.keyword is defined and topDimensions.keyword|length > 0 %}
                <li>{{ 'Goals_BestKeywords'|translate }} {% include '@Goals/list_top_dimension.twig' with {'topDimension':topDimensions.keyword} %}</li>
            {% endif %}
            {% if topDimensions.website is defined and topDimensions.website|length > 0 %}
                <li>{{ 'Goals_BestReferers'|translate }} {% include '@Goals/list_top_dimension.twig' with {'topDimension':topDimensions.website} %}</li>
            {% endif %}
            <li>
                {{ 'Goals_ReturningVisitorsConversionRateIs'|translate("<strong>"+conversion_rate_returning+"</strong>")|raw }}
                , {{ 'Goals_NewVisitorsConversionRateIs'|translate("<strong>"+conversion_rate_new+"</strong>") }}
            </li>
        {% else %}
            <li>
                {{ 'Live_GoalRevenue'|translate }}: {{ revenue|money(idSite) }}
                {% if revenue_subtotal is not empty %},
                    {{ 'General_Subtotal'|translate }}: {{ revenue_subtotal|money(idSite) }}
                {% endif %}
                {% if revenue_tax is not empty %},
                    {{ 'General_Tax'|translate }}: {{ revenue_tax|money(idSite) }}
                {% endif %}
                {% if revenue_shipping is not empty %},
                    {{ 'General_Shipping'|translate }}: {{ revenue_shipping|money(idSite) }}
                {% endif %}
                {% if revenue_discount is not empty %},
                    {{ 'General_Discount'|translate }}: {{ revenue_discount|money(idSite) }}
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.goalTopElement').tooltip({
            track:   true,
            content: function () {
                return $(this).attr("title");
            },
            show: false,
            hide: false
        });
    });
</script>

{% if displayFullReport %}
    {% if nb_conversions > 0 or cart_nb_conversions is not empty %}
        <h2 id='titleGoalsByDimension'>
            {% if idGoal is defined %}
                {{ 'Goals_GoalConversionsBy'|translate(goalName) }}
            {% else %}
                {{ 'Goals_ConversionsOverviewBy'|translate }}
            {% endif %}
        </h2>
        {{ goalReportsByDimension }}
    {% endif %}
{% endif %}