{% extends 'admin.twig' %}

{% set title %}{{ 'MobileMessaging_SettingsMenu'|translate }}{% endset %}

{% block content %}
<div
    vue-entry="MobileMessaging.AdminPage"
    delegate-management-options="{{ delegateManagementOptions|default(null)|json_encode|e('html_attr') }}"
    delegated-management="{{ delegatedManagement|default(null)|json_encode|e('html_attr') }}"
    credential-supplied="{{ credentialSupplied|default(null)|json_encode|e('html_attr') }}"
    credential-error="{{ credentialError|default(null)|json_encode|e('html_attr') }}"
    provider="{{ provider|default(null)|json_encode|e('html_attr') }}"
    credit-left="{{ creditLeft|default(null)|json_encode|e('html_attr') }}"
    sms-provider-options="{{ smsProviderOptions|default(null)|json_encode|e('html_attr') }}"
    sms-providers="{{ smsProviders|default(null)|json_encode|e('html_attr') }}"
    is-super-user="{{ isSuperUser|default(null)|json_encode|e('html_attr') }}"
    default-calling-code="{{ defaultCallingCode|default(null)|json_encode|e('html_attr') }}"
    countries="{{ countries|default(null)|json_encode|e('html_attr') }}"
    str-help-add-phone="{{ strHelpAddPhone|default(null)|json_encode|e('html_attr') }}"
    phone-numbers="{{ phoneNumbers|default(null)|json_encode|e('html_attr') }}"
    account-managed-by-current-user="{{ accountManagedByCurrentUser|json_encode|e('html_attr') }}"
></div>
{% endblock %}
