{% macro manageSmsApi(credentialSupplied, credentialError, creditLeft, smsProviderOptions, smsProviders, provider) %}
<div
  vue-entry="MobileMessaging.ManageSmsProvider"
  credential-supplied="{{ credentialSupplied|default(null)|json_encode|e('html_attr') }}"
  credential-error="{{ credentialError|default(null)|json_encode|e('html_attr') }}"
  provider="{{ provider|default(null)|json_encode|e('html_attr') }}"
  credit-left="{{ creditLeft|default(null)|json_encode|e('html_attr') }}"
  sms-provider-options="{{ smsProviderOptions|default(null)|json_encode|e('html_attr') }}"
  sms-providers="{{ smsProviders|default(null)|json_encode|e('html_attr') }}"
></div>
{% endmacro %}

{% macro selectPhoneNumbers(phoneNumbers, angularContext, value, withIntroduction) %}
    <div matomo-select-phone-numbers
      phone-numbers="{{ phoneNumbers|json_encode|e('html_attr') }}"
      ng-model="{{ angularContext }}.report.phoneNumbers"
      with-introduction="{{ withIntroduction|json_encode|e('html_attr') }}"
      {% if value %}value="{{ value|json_encode|e('html_attr') }}"{% endif %}
    ></div>
{% endmacro %}