{% extends 'user.twig' %}

{% set test_piwikUrl='http://demo.piwik.org/' %}
{% set isPiwikDemo %}{{ piwikUrl == 'http://demo.piwik.org/' or piwikUrl == 'https://demo.piwik.org/'}}{% endset %}

{% set title %}{{ 'General_AboutPiwikX'|translate(piwikVersion) }}{% endset %}

{% block content %}

    <div id="feedback-faq" class="admin">
        <h2 piwik-enriched-headline
            feature-name="{{ 'General_Help'|translate }}"
            >{{ title }}</h2>

        <div class="header_full">
            <p>{{ 'General_PiwikIsACollaborativeProjectYouCanContributeAndDonate'|translate(
            "<a href='?module=Proxy&action=redirect&url=http://piwik.org' target='_blank'>",
            "</a>",
            "<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/get-involved/'>",
            "</a>",
            "<a href='#donate'>",
            "</a>",
            "<a href='?module=Proxy&action=redirect&url=http://piwik.org/team/' target='_blank'>",
            "</a>"
            )|raw }}
            </p>
        </div>

        <h2>{{ 'Feedback_CommunityHelp'|translate }}</h2>

        <div class="header_full">
            <p> &bull; {{ 'Feedback_ViewUserGuides'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/docs/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'Feedback_ViewAnswersToFAQ'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/faq/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'Feedback_VisitTheForums'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://forum.piwik.org/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'API_LearnAboutCommonlyUsedTerms'|translate(
                '<a href="'~ linkTo({'module':"API",'action':"glossary"}) ~ '#metrics">' ~ 'General_Metrics'|translate ~ '</a>',
                '<a href="'~ linkTo({'module':"API",'action':"glossary"}) ~ '#reports">' ~ 'General_Reports'|translate ~ '</a>')|raw
                }} ({{ 'API_Glossary'|translate }})</p>
        </div>

        <h2>{{ 'Feedback_ProfessionalHelp'|translate }}</h2>

        <div class="header_full">
            <p>{{ 'Feedback_PiwikProIntro'|translate }}</p>

            <p>{{ 'Feedback_PiwikProOfferIntro'|translate }}:</p>
            <p> &bull; {{ 'Feedback_PiwikProReviewPiwikSetup'|translate }}</p>
            <p> &bull; {{ 'Feedback_PiwikProOptimizationMaintenance'|translate }}</p>
            <p> &bull; {{ 'Feedback_PiwikProPhoneEmailSupport'|translate }}</p>
            <p> &bull; {{ 'Feedback_PiwikProTraining'|translate }}</p>
            <p> &bull; {{ 'Feedback_PiwikProPremiumFeatures'|translate }}</p>
            <p> &bull; {{ 'Feedback_PiwikProCustomDevelopment'|translate }}</p>
            <p> &bull; {{ 'Feedback_PiwikProAnalystConsulting'|translate }}</p>
        </div>

        <form target="_blank" action="https://piwik.pro/contact#contact-form">
            <input type="hidden" name="pk_campaign" value="App_Help">
            <input type="hidden" name="pk_source" value="Piwik_App">
            <input type="hidden" name="pk_medium" value="App_ContactUs_button">
            <br />
            <input type="submit" value="{{ 'Feedback_ContactUs'|translate }}">
        </form>

        <h2>{{ 'Feedback_DoYouHaveBugReportOrFeatureRequest'|translate }}</h2>

        <div class="header_full">
                <p>{{ 'Feedback_HowToCreateTicket'|translate(
                "<a target='_blank' href='?module=Proxy&action=redirect&url=http://developer.piwik.org/guides/core-team-workflow%23submitting-a-bug-report'>",
                "</a>",
                "<a target='_blank' href='?module=Proxy&action=redirect&url=http://developer.piwik.org/guides/core-team-workflow%23submitting-a-feature-request'>",
                "</a>",
                "<a target='_blank' href='?module=Proxy&action=redirect&url=https://github.com/piwik/piwik/issues'>",
                "</a>",
                "<a target='_blank' href='?module=Proxy&action=redirect&url=https://github.com/piwik/piwik/issues/new'>",
                "</a>"
                )|raw }}</p>
        </div>

        <div class="footer">
            <hr/>
            <ul class="social">
                <li>
                    <a target="_blank" href="?module=Proxy&action=redirect&url=http://piwik.org/newsletter/"><img class="icon" src="plugins/Feedback/images/newsletter.png"></a>
                    <a target="_blank" href="?module=Proxy&action=redirect&url=http://piwik.org/newsletter/">Newsletter</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="http://www.facebook.com/Piwik"><img class="icon" src="plugins/Feedback/images/facebook.png"></a>
                    <a rel="noreferrer"  target="_blank" href="http://www.facebook.com/Piwik">Facebook</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="http://twitter.com/piwik"><img class="icon" src="plugins/Feedback/images/twitter.png"></a>
                    <a rel="noreferrer"  target="_blank" href="http://twitter.com/piwik">Twitter</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="http://www.linkedin.com/groups?gid=867857"><img class="icon" src="plugins/Feedback/images/linkedin.png"></a>
                    <a rel="noreferrer"  target="_blank" href="http://www.linkedin.com/groups?gid=867857">Linkedin</a>
                </li>
                <li>
                    <a rel="noreferrer"  target="_blank" href="https://github.com/piwik/piwik"><img class="icon" src="plugins/Feedback/images/github.png"></a>
                    <a rel="noreferrer"  target="_blank" href="https://github.com/piwik/piwik">GitHub</a>
                </li>
            </ul>
            <ul class="menu">
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=http://piwik.org/blog/">Blog</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=http://piwik.org/about/sponsors/">Sponsors</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=http://developer.piwik.org">Developers</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=http://plugins.piwik.org">Marketplace</a></li>
                <li><a target="_blank" href="?module=Proxy&action=redirect&url=http://piwik.org/thank-you-all/">Credits</a></li>
            </ul>
            <p class="claim"><small>{{ 'Feedback_PrivacyClaim'|translate(
                    "<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/privacy/'>",
                    "</a>"
                )|raw}}</small></p>
        </div>
    </div>
{% endblock %}