{% extends 'dashboard.twig' %}

{% set test_piwikUrl='http://demo.piwik.org/' %}
{% set isPiwikDemo %}{{ piwikUrl == 'http://demo.piwik.org/' or piwikUrl == 'https://demo.piwik.org/'}}{% endset %}

{% block content %}

    <div id="feedback-faq" class="admin centerLargeDiv">
        <h2 piwik-enriched-headline
            feature-name="About Piwik"
            >{{ 'General_AboutPiwikX'|translate(piwikVersion) }}</h2>

        <div class="header_full">
            <p>{{ 'General_PiwikIsACollaborativeProjectYouCanContributeAndDonate'|translate(
            "<a href='?module=Proxy&action=redirect&url=http://piwik.org' target='_blank'>",
            "</a>",
            "<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/get-involved/'>",
            "</a>",
            "<a href='#donate'>",
            "</a>",
            "<a href='?module=Proxy&action=redirect&url=http://piwik.org/team/' target='_blank'>",
            "</a>"
            )|raw }}
            </p>
            <br/>
        </div>

        <h2>{{ 'Feedback_DoYouHaveBugReportOrFeatureRequest'|translate }}</h2>

        <div class="header_full">
            <p> &bull; {{ 'Feedback_ViewAnswersToFAQ'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/faq/'>","</a>")|raw }}.</p>
            <ul>
                <li>» {{ 'Feedback_WhyAreMyVisitsNoTracked'|translate }}</li>
                <li>» {{ 'Feedback_HowToExclude'|translate }}</li>
                <li>» {{ 'Feedback_WhyWrongCountry'|translate }}</li>
                <li>» {{ 'Feedback_HowToAnonymizeIP'|translate }}</li>
            </ul>
            <p> &bull; {{ 'Feedback_VisitTheForums'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://forum.piwik.org/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'Feedback_SpecialRequest'|translate }} <a target='_blank' href="?module=Proxy&action=redirect&url=http://piwik.org/contact/">{{ 'Feedback_ContactThePiwikTeam'|translate }}</a></p>
            <br/>
        </div>

        <h2 id="donate">{{ 'Feedback_WantToThankConsiderDonating'|translate }}</h2>
        {% include "@CoreHome/_donate.twig" with { 'msg':""} %}
        <br/>

        <div class="footer">
            <hr/>
            <ul class="social">
                <li>
                    <a href="http://piwik.org/newsletter/"><i class="ficon-email"></i> Newsletter</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.facebook.com/Piwik"><i class="ficon-facebook"></i> Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="http://twitter.com/piwik"><i class="ficon-twitter"></i> Twitter</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.linkedin.com/groups?gid=867857"><i class="ficon-linkedin"></i> Linkedin</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/piwik/piwik"><i class="ficon-git"></i> Github</a>
                </li>
            </ul>
            <ul class="menu">
                <li><a target="_blank" href="http://piwik.org/privacy/">Privacy</a></li>
                <li><a target="_blank" href="http://piwik.org/about/sponsors/">Sponsors</a></li>
                <li><a target="_blank" href="http://piwik.orghttp://developer.piwik.org">Developers</a></li>
                <li><a target="_blank" href="http://piwik.orghttp://plugins.piwik.org">Marketplace</a></li>
                <li><a target="_blank" href="http://piwik.org/thank-you-all/">Credits</a></li>
            </ul>
            <p class="claim"><small>Piwik respects your privacy and gives you full control over your data.</small></p>
        </div>
    </div>
{% endblock %}