{% extends 'dashboard.twig' %}

{% set test_piwikUrl='http://demo.piwik.org/' %}
{% set isPiwikDemo %}{{ piwikUrl == 'http://demo.piwik.org/' or piwikUrl == 'https://demo.piwik.org/'}}{% endset %}

{% block content %}

    <div id="feedback-faq" class="admin centerLargeDiv">
        <h2 piwik-enriched-headline
            feature-name="About Piwik"
            >{{ 'General_AboutPiwikX'|translate(piwikVersion) }}</h2>

        <div class="header_full">
            <p>{{ 'General_PiwikIsACollaborativeProjectYouCanContributeAndDonate'|translate(
            "<a href='?module=Proxy&action=redirect&url=http://piwik.org' target='_blank'>",
            "</a>",
            "<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/get-involved/'>",
            "</a>",
            "<a href='#donate'>",
            "</a>",
            "<a href='?module=Proxy&action=redirect&url=http://piwik.org/team/' target='_blank'>",
            "</a>"
            )|raw }}
            </p>
            <br/>
        </div>

        <h2>{{ 'Feedback_DoYouHaveBugReportOrFeatureRequest'|translate }}</h2>

        <div class="header_full">
            <p> &bull; {{ 'Feedback_ViewAnswersToFAQ'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://piwik.org/faq/'>","</a>")|raw }}.</p>
            <ul>
                <li>» {{ 'Feedback_WhyAreMyVisitsNoTracked'|translate }}</li>
                <li>» {{ 'Feedback_HowToExclude'|translate }}</li>
                <li>» {{ 'Feedback_WhyWrongCountry'|translate }}</li>
                <li>» {{ 'Feedback_HowToAnonymizeIP'|translate }}</li>
            </ul>
            <p> &bull; {{ 'Feedback_VisitTheForums'|translate("<a target='_blank' href='?module=Proxy&action=redirect&url=http://forum.piwik.org/'>","</a>")|raw }}.</p>
            <p> &bull; {{ 'Feedback_SpecialRequest'|translate }} <a target='_blank' href="?module=Proxy&action=redirect&url=http://piwik.org/contact/">{{ 'Feedback_ContactThePiwikTeam'|translate }}</a></p>
            <br/>
        </div>

        <h2 id="donate">{{ 'Feedback_WantToThankConsiderDonating'|translate }}</h2>
        {% include "@CoreHome/_donate.twig" with { 'msg':""} %}
        <br/>
        <br/>
    </div>
{% endblock %}