{% extends 'admin.twig' %}

{% block content %}
<h2>{{ 'FileSynchronizer_SynchronizingFiles'|translate }}</h2>
<p>{{ 'FileSynchronizer_ToConfigurePluginGoToSettings'|translate('<a href="' ~ linkTo({'module': 'CoreAdminHome', 'action': 'adminPluginSettings'}) ~ '#FileSynchronizer">', ('CoreAdminHome_PluginSettings'|translate), '</a>')|raw }}</p>
<div id="listSyncedFiles">
    <table class="entityTable dataTable">
        <thead>
        <tr>
            <th class="filename">{{ 'FileSynchronizer_File'|translate }}</th>
            <th>{{ 'FileSynchronizer_StartDate'|translate }}</th>
            <th>{{ 'FileSynchronizer_InProcessSince'|translate }}</th>
            <th>{{ 'FileSynchronizer_FileSize'|translate }}</th>
        </tr>
        </thead>
        <tbody>
        {% if syncingFiles|length %}
            {% for syncingFile in syncingFiles %}
                <tr>
                    <td class="filename" title="{{ 'FileSynchronizer_FileDetails'|translate(syncingFile.source, syncingFile.target, syncingFile.command, syncingFile.file_hash) }}">{{ syncingFile.source_filename }}</td>
                    <td class="date_field">{{ syncingFile.start_date }}</td>
                    <td>{{ syncingFile.time_ago }}</td>
                    <td>{{ syncingFile.size_human }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6">{{ 'FileSynchronizer_NoSynchronizingFile'|translate }}</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>

<h2>{{ 'FileSynchronizer_ScheduledFiles'|translate }}</h2>

<p>{{ 'FileSynchronizer_ScheduledFilesDescription'|translate }}</p>

<div id="listSyncingFiles">
    <table class="entityTable dataTable">
        <thead>
        <tr>
            <th class="filename">{{ 'FileSynchronizer_File'|translate }}</th>
        </tr>
        </thead>
        <tbody>
        {% if scheduledFiles|length %}
            {% for hash, scheduledFile in scheduledFiles %}
                <tr>
                    <td>{{ scheduledFile }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="5">{{ 'FileSynchronizer_NoScheduledFiles'|translate }}</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>

<h2>{{ 'FileSynchronizer_SynchronizedFiles'|translate }}</h2>
<p>{{ 'FileSynchronizer_SynchronizedFilesDescription'|translate(limit) }}</p>
<div id="listSyncedFiles">
    <table class="entityTable dataTable">
        <thead>
        <tr>
            <th class="filename">{{ 'FileSynchronizer_File'|translate }}</th>
            <th>{{ 'General_Date'|translate }}</th>
            <th>{{ 'FileSynchronizer_FileSize'|translate }}</th>
            <th>{{ 'FileSynchronizer_TimeTaken'|translate }}</th>
            <th>{{ 'FileSynchronizer_Synced'|translate }}</th>
            <th>{{ 'FileSynchronizer_HashFile'|translate }}</th>
        </tr>
        </thead>
        <tbody>
        {% if syncedFiles|length %}
            {% for syncedFile in syncedFiles %}
                <tr>
                    <td class="filename" title="{{ 'FileSynchronizer_FileDetails'|translate(syncedFile.source, syncedFile.target, syncedFile.command, syncedFile.file_hash) }}">{{ syncedFile.source_filename }}</td>
                    <td class="date_field" title="{{ syncedFile.start_date|e('html_attr') }} - {{ syncedFile.end_date|e('html_attr') }}">{{ syncedFile.date }}</td>
                    <td>{{ syncedFile.size_human }}</td>
                    <td>{{ syncedFile.duration }}</td>
                    <td title="{{ 'FileSynchronizer_SyncDetails'|translate(syncedFile.exit_code, syncedFile.output)|e('html_attr') }}">
                        {% if syncedFile.exit_code == 0 %}
                            <span class="icon-success"></span>
                        {% else %}
                            <span class="icon-error"></span>
                        {% endif %}
                    </td>
                    {% if syncedFile.hash_file_created == 0 %}
                        <td title="{{ 'FileSynchronizer_HashFileNotCreated'|translate }}"><span class="icon-error"></span></td>
                    {% else %}
                        <td title="{{ 'FileSynchronizer_HashFileCreated'|translate }}"><span class="icon-success"></span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6">{{ 'FileSynchronizer_NoSynchronizedFile'|translate }}</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}