<div id="visitsTotal">
    <div
        vue-entry="Live.TotalVisitors"
        count-error-today="{{ countErrorToday|default(null)|json_encode }}"
        visitors-count-today="{{ (visitorsCountToday + 0)|default(null)|json_encode }}"
        pis-today="{{ pisToday|default(null)|json_encode }}"
        count-error-half-hour="{{ countErrorHalfHour|default(null)|json_encode }}"
        visitors-count-half-hour="{{ (visitorsCountHalfHour + 0)|default(null)|json_encode }}"
        pis-halfhour="{{ pisHalfhour|default(null)|json_encode }}"
    ></div>
</div>
