{% macro customVar(id, customVariable) %}
    {% set name='customVariableName' ~ id %}
    {% set value='customVariableValue' ~ id %}
    <li><span>{{ customVariable[name]|truncate(30) }}</span>{% if customVariable[value]|length > 0 %}<strong>{{ customVariable[value]|truncate(50) }}</strong>{% endif %}</li>
{% endmacro %}
{% import _self as macros %}
<div class="visitor-profile">
    <a href class="visitor-profile-close"></a>
    <div class="visitor-profile-info">
        <div>
            <div class="visitor-profile-avatar">
                <div>
                    <div class="visitor-profile-image-frame">
                        <img src="plugins/Live/images/REMOVE_ME_avatar.jpg" alt=""/>
                    </div>
                    <img src="plugins/Live/images/paperclip.png" alt=""/>
                </div>
                <div>
                    <h1>{{ 'Live_VisitorProfile'|translate }}</h1>
                    <div>
                        <div class="visitor-profile-latest-visit-column">
                            <ul>
                                <li><span>{{ 'General_IP'|translate }}</span><strong>{{ visitorData.latestVisitIp }}</strong></li>
                                <li><span>{{ 'General_Id'|translate|upper }}</span><strong>{{ visitorData.visitorId }}</strong></li>
                                <li>
                                    <div class="visitor-profile-browser">
                                        <img src="{{ visitorData.browserLogo }}"/><span>{{ visitorData.browserName }}</span>
                                    </div>
                                    <div class="visitor-profile-os">
                                        <img src="{{ visitorData.operatingSystemLogo }}"/><span>{{ visitorData.operatingSystemShortName }}</span>
                                    </div>
                                </li>
                                <li><span>{{ 'UserSettings_ColumnResolution'|translate }}</span><strong>{{ visitorData.resolution }}</strong></li>
                            </ul>
                        </div>
                        <div class="visitor-profile-latest-visit-column">
                            <ul>
                                {% for id,customVariable in visitorData.customVariables %}
                                {% if loop.index0 < 4 %}
                                    {{ macros.customVar(id, customVariable) }}
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% if visitorData.customVariables|length > 4 %}
                            <ul class="visitor-profile-extra-cvars" style="display:none;">
                                {% for id,customVariable in visitorData.customVariables %}
                                {% if loop.index0 >= 4 %}
                                    {{ macros.customVar(id, customVariable) }}
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <p class="visitor-profile-see-more-cvars"><a href="#">&#x25bc;</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <p style="clear:both; border:none!important;"></p>
            </div>
            <div>
                <div class="visitor-profile-location">
                    <h1>{{ 'UserCountry_Location'|translate }}</h1>
                    <img src="plugins/Live/images/REMOVE_ME_chart.png" alt=""/> {# TODO: bar graph #}
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="visitor-profile-map">
                    {{ userCountryMap|raw }}
                </div>
                <div class="visitor-profile-important-visits">
                    <div>
                        <h1>{{ 'Live_FirstVisit'|translate }}</h1>
                        <div>
                            <p><strong>{{ visitorData.firstVisit.prettyDate }}</strong><span>&nbsp;- {{ 'UserCountryMap_DaysAgo'|translate(visitorData.firstVisit.daysAgo) }}</span></p>
                            <p><span>{{ 'General_FromReferrer'|translate }}:</span>
                            <strong>{{ visitorData.firstVisit.referralSummary }}</strong></p>
                        </div>
                    </div>
                    <div>
                        <h1>{{ 'Live_LastVisit'|translate }}</h1>
                        <div>
                            <p><strong>{{ visitorData.lastVisit.prettyDate }}</strong><span>&nbsp;- {{ 'UserCountryMap_DaysAgo'|translate(visitorData.lastVisit.daysAgo) }}</span></p>
                            <p><span>{{ 'General_FromReferrer'|translate }}:</span>
                            <strong>{{ visitorData.lastVisit.referralSummary }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="visitor-profile-summary">
                    <h1>{{ 'General_Summary'|translate }}</h1>
                    <div>
                        <p>{{ 'Live_VisitSummary'|translate('<strong>', visitorData.totalVisitDurationPretty, '</strong>', '<strong>', visitorData.totalActionCount, visitorData.totalVisits, '</strong>')|raw }}</p>
                        <p><strong>{{ 'Live_ConvertedNGoals'|translate(visitorData.totalGoalConversions) }}</strong>
                        {%- if visitorData.totalGoalConversions %} (
                            {%- for idGoal, totalConversions in visitorData.totalConversionsByGoal -%}
                            {%- if not loop.first %}, {% endif -%}{{- totalConversions }} <span class="visitor-profile-goal-name">{{ goals[idGoal]['name'] -}}</span>
                            {%- endfor -%}
                        ){% endif %}.</p>
                        {% if visitorData.totalEcommerceConversions is defined %}
                        <p>{{ 'Live_EcommerceSummary'|translate('<strong>', visitorData.totalEcommerceConversions, visitorData.totalEcommerceRevenue|money(idSite), '</strong>', visitorData.totalEcommerceItems)|raw }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <div class="visitor-profile-pages-visited">
                    <h1>{{ 'Live_VisitedPages'|translate }}<a href>{{ 'General_SeeAll'|translate }}</a></h1>
                </div>
                <div class="visitor-profile-visits-container">
                    <ol class="visitor-profile-visits">
                        {% for visitInfo in visitorData.lastVisits.getRows() %}
                        <li><h2 class="visitor-profile-visit-title" data-idvisit="{{ visitInfo.getColumn('idVisit') }}">{{ 'General_Visit'|translate }} #{{ loop.index }}</h2><span>&nbsp;- ({{ visitInfo.getColumn('visitDurationPretty')|raw }})</span><span class="visitor-profile-date">{{ visitInfo.getColumn('serverDatePrettyFirstAction') }}</span>
                            <ol class="visitor-profile-actions">
                                {% include "@Live/_actionsList.twig" with {'actionDetails': visitInfo.getColumn('actionDetails'),
                                                                           'javascriptVariablesToSet': {
                                                                                'filterEcommerce': false,
                                                                                'idSite': idSite
                                                                            },
                                                                            'overrideLinkStyle': false} %}
                            </ol>
                        </li>
                        {% endfor %}
                    </ol>
                    <br/>
                </div>
                <div class="visitor-profile-fog"></div>
            </div>
        </div>
    </div>
    <div class="visitor-profile-more-info">
        <a href="#">{{ 'Live_ViewMoreVisitInfo'|translate }}</a>
    </div>
</div>
<script type="text/javascript">
$(function() {
    $('.visitor-profile-visits-container').jScrollPane({
        showArrows: true,
        verticalArrowPositions: 'os',
        horizontalArrowPositions: 'os'
    });

    $('.visitor-profile-close').click(function (e) {
        e.preventDefault();
        Piwik_Popover.close();
        return false;
    });

    $('.visitor-profile-pages-visited,.visitor-profile-more-info').click(function (e) {
        e.preventDefault();
        alert('STUB');
        return false;
    })

    $('.visitor-profile-see-more-cvars>a').click(function (e) {
        e.preventDefault();
        $('.visitor-profile-extra-cvars').slideToggle();
        return false;
    });

    $('.visitor-profile-visit-title').click(function () {
        // TODO
    });
});
</script>