<div class="visitorLog dataTable"
     data-report="{{ properties.report_id }}"
     data-params="{{ javascriptVariablesToSet|json_encode }}">

{% if reportDocumentation is not empty %}
    <div class="reportDocumentation"><p>{{ reportDocumentation|raw }}</p></div>
{% endif %}
{% set displayVisitorsInOwnColumn %}{% if isWidget %}0{% else %}1{% endif %}{% endset %}

<span data-graph-id="VisitsSummarygetEvolutionGraph"></span>

{% if error is defined %}
    {{ error.message }}
{% else %}
{% if dataTable.getRowsCount() == 0 %}
    <div class="pk-emptyDataTable">{{ 'CoreHome_ThereIsNoDataForThisReport'|translate }}</div>
{% else %}
    <table class="dataTable" cellspacing="0" width="100%" style="width:100%;">
    <thead>
    <tr>
        <th style="display:none"></th>
        <th id="label" class="sortable label" style="cursor: auto;width:12%" width="12%">
            <div id="thDIV">{{ 'General_Date'|translate }}
                <div>
        </th>
        {% if displayVisitorsInOwnColumn %}
            <th id="label" class="sortable label" style="cursor: auto;width:13%" width="13%">
                <div id="thDIV">{{ 'General_Visitors'|translate }}
                    <div>
            </th>
        {% endif %}
        <th id="label" class="sortable label" style="cursor: auto;width:15%" width="15%">
            <div id="thDIV">{{ 'Live_Referrer_URL'|translate }}
                <div>
        </th>
        <th id="label" class="sortable label" style="cursor: auto;width:62%" width="62%">
            <div id="thDIV">{{ 'General_ColumnNbActions'|translate }}
                <div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% set cycleIndex=0 %}
    {% for visitor in dataTable.getRows() %}
        {% set visitorColumnContent %}
            &nbsp;
            <img src="{{ visitor.getColumn('countryFlag') }}" title="{{ visitor.getColumn('location') }}, Provider {{ visitor.getColumn('providerName') }}"/>
            &nbsp;
            {% if visitor.getColumn('plugins') %}
            <img src="{{ visitor.getColumn('browserIcon') }}" title="{{ 'UserSettings_BrowserWithPluginsEnabled'|translate(visitor.getColumn('browserName'),visitor.getColumn('plugins')) }}"/>
            {% else %}
            <img src="{{ visitor.getColumn('browserIcon') }}" title="{{ 'UserSettings_BrowserWithNoPluginsEnabled'|translate(visitor.getColumn('browserName')) }}"/>
            {% endif %}
            &nbsp;
            <img src="{{ visitor.getColumn('operatingSystemIcon') }}"
                 title="{{ visitor.getColumn('operatingSystem') }}, {{ visitor.getColumn('resolution') }} ({{ visitor.getColumn('screenType') }})"/>
            {% if visitor.getColumn('visitorTypeIcon') %}
                {% if visitor.getColumn('visitorId') is not empty %}
                    <a class="rightLink" href="javascript:Piwik_Live_LoadVisitorPopover('{{ visitor.getColumn('visitorId') }}')">
                {% endif %}
                &nbsp;-
                <img src="{{ visitor.getColumn('visitorTypeIcon') }}"
                     title="{{ 'General_ReturningVisitor'|translate }}{% if visitor.getColumn('visitorId') is not empty %} - {{ 'General_ReturningVisitorAllVisits'|translate }}{% endif %}"/>
                {% if visitor.getColumn('visitorId') is not empty %}</a>{% endif %}
            {% endif %}

            {% if not displayVisitorsInOwnColumn %}<br/><br/>{% endif %}
            &nbsp;
            {% if visitor.getColumn('visitConverted') %}
                <span title="{{ 'General_VisitConvertedNGoals'|translate(visitor.getColumn('goalConversions')) }}" class='visitorRank'
                    {% if not displayVisitorsInOwnColumn %}style='margin-left:0'{% endif %}>
                <img src="{{ visitor.getColumn('visitConvertedIcon') }}"/>
                <span class='hash'>#</span>
                {{ visitor.getColumn('goalConversions') }}
                {% if visitor.getColumn('visitEcommerceStatusIcon') %}
                    &nbsp;-
                    <img src="{{ visitor.getColumn('visitEcommerceStatusIcon') }}" title="{{ visitor.getColumn('visitEcommerceStatus') }}"/>
                {% endif %}
                </span>
            {% endif %}
            <br/>
            {% if displayVisitorsInOwnColumn %}
                {% if visitor.getColumn('pluginsIcons')|length > 0 %}
                    <hr/>
                    {{ 'UserSettings_Plugins'|translate }}:
                    {% for pluginIcon in visitor.getColumn('pluginsIcons') %}
                        <img src="{{ pluginIcon.pluginIcon }}" title="{{ pluginIcon.pluginName|capitalize(true) }}" alt="{{ pluginIcon.pluginName|capitalize(true) }}"/>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endset %}

        {% set visitorRow %}
            <tr class="label{{ cycle(['odd','even'], cycleIndex) }}">
            {% set cycleIndex=cycleIndex+1 %}
                <td style="display:none;"></td>
                <td class="label" style="width:12%" width="12%">
                    <strong title="{% if visitor.getColumn('visitorType')=='new' %}{{ 'General_NewVisitor'|translate }}{% else %}{{ 'Live_VisitorsLastVisit'|translate(visitor.getColumn('daysSinceLastVisit')) }}{% endif %}">
                        {{ visitor.getColumn('serverDatePrettyFirstAction') }}
                        {% if isWidget %}<br/>{% else %}-{% endif %} {{ visitor.getColumn('serverTimePrettyFirstAction') }}</strong>
                    {% if visitor.getColumn('visitIp') is not empty %}
                        <br/>
                    <span title="{% if visitor.getColumn('visitorId') is not empty %}{{ 'General_VisitorID'|translate }}: {{ visitor.getColumn('visitorId') }}{% endif %}

                    {% if visitor.getColumn('latitude') or visitor.getColumn('longitude') %}
                            GPS (lat/long): {{ visitor.getColumn('latitude') }},{{ visitor.getColumn('longitude') }}{% endif %}">
                        IP: {{ visitor.getColumn('visitIp') }}</span>{% endif %}

                    {% if visitor.getColumn('provider') and visitor.getColumn('providerName')!='IP' %}
                        <br/>
                        {{ 'Provider_ColumnProvider'|translate }}:
                        <a href="{{ visitor.getColumn('providerUrl') }}" target="_blank" title="{{ visitor.getColumn('providerUrl') }}" style="text-decoration:underline;">
                            {{ visitor.getColumn('providerName') }}
                        </a>
                    {% endif %}
                    {% if visitor.getColumn('customVariables') %}
                        <br/>
                        {% for id,customVariable in visitor.getColumn('customVariables') %}
                            {% set name='customVariableName' ~ id %}
                            {% set value='customVariableValue' ~ id %}
                            <br/>
                            <acronym title="{{ 'CustomVariables_CustomVariables'|translate }} (index {{ id }})">
                                {{ customVariable[name]|truncate(30) }}
                            </acronym>
                        {% if customVariable[value]|length > 0 %}: {{ customVariable[value]|truncate(50) }}{% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if not displayVisitorsInOwnColumn %}
                        <br/>
                        {{ visitorColumnContent }}
                    {% endif %}
                </td>

                {% if displayVisitorsInOwnColumn %}
                    <td class="label" style="width:13%" width="13%">
                        {{ visitorColumnContent }}
                    </td>
                {% endif %}

                <td class="column" style="width:20%" width="20%">
                    <div class="referer">
                        {% if visitor.getColumn('referrerType') == 'website' %}
                            {{ 'Referers_ColumnWebsite'|translate }}:
                            <a href="{{ visitor.getColumn('referrerUrl') }}" target="_blank" title="{{ visitor.getColumn('referrerUrl') }}"
                               style="text-decoration:underline;">
                                {{ visitor.getColumn('referrerName') }}
                            </a>
                        {% endif %}
                        {% if visitor.getColumn('referrerType') == 'campaign' %}
                            {{ 'Referers_ColumnCampaign'|translate }}
                            <br/>
                            {{ visitor.getColumn('referrerName') }}
                            {% if visitor.getColumn('referrerKeyword') is not empty %} - {{ visitor.getColumn('referrerKeyword') }}{% endif %}
                        {% endif %}
                        {% if visitor.getColumn('referrerType') == 'search' %}
                            {% if visitor.getColumn('searchEngineIcon') %}
                                <img src="{{ visitor.getColumn('searchEngineIcon') }}" alt="{{ visitor.getColumn('referrerName') }}"/>
                            {% endif %}
                            {{ visitor.getColumn('referrerName') }}
                            {% if visitor.getColumn('referrerKeyword') is not empty %}{{ 'Referers_Keywords'|translate }}:
                                <br/>
                                <a href="{{ visitor.getColumn('referrerUrl') }}" target="_blank" style="text-decoration:underline;">
                                    "{{ visitor.getColumn('referrerKeyword') }}"</a>
                            {% endif %}
                            {% set keyword %}{{ visitor.getColumn('referrerKeyword') }}{% endset %}
                            {% set searchName %}{{ visitor.getColumn('referrerName') }}{% endset %}
                            {% set position %}#{{ visitor.getColumn('referrerKeywordPosition') }}{% endset %}
                            {% if visitor.getColumn('referrerKeywordPosition') %}
                                <span title='{{ 'Live_KeywordRankedOnSearchResultForThisVisitor'|translate(keyword,position,searchName) }}' class='visitorRank'>
                                    <span class='hash'>#</span>
                                    {{ visitor.getColumn('referrerKeywordPosition') }}
                                </span>
                            {% endif %}
                        {% endif %}
                        {% if visitor.getColumn('referrerType') == 'direct' %}{{ 'Referers_DirectEntry'|translate }}{% endif %}
                    </div>
                </td>
                <td class="column {% if visitor.getColumn('visitConverted') and not isWidget %}highlightField{% endif %}" style="width:55%" width="55%">
                    <strong>
                        {{ visitor.getColumn('actionDetails')|length }}
                        {% if visitor.getColumn('actionDetails')|length <= 1 %}
                            {{ 'Live_Action'|translate }}
                        {% else %}
                            {{ 'Live_Actions'|translate }}
                        {% endif %}
                        {% if visitor.getColumn('visitDuration') > 0 %}- {{ visitor.getColumn('visitDurationPretty')|raw }}{% endif %}
                    </strong>
                    <br/>
                    <ol class='visitorLog'>
                        {% set visitorHasSomeEcommerceActivity %}0{% endset %}
                        {% for action in visitor.getColumn('actionDetails') %}
                            {% set customVariablesTooltip %}
                                {% if action.customVariables is defined %}
                                    {{ 'CustomVariables_CustomVariables'|translate }}
                                    {% for id,customVariable in action.customVariables %}
                                        {% set name = 'customVariablePageName' ~ id %}
                                        {% set value = 'customVariablePageValue' ~ id %}
                                        - {{ customVariable[name]|raw }} {% if customVariable[value]|length > 0 %} = {{ customVariable[value]|raw }}{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endset %}
                            {% if not javascriptVariablesToSet.filterEcommerce or action.type == 'ecommerceOrder' or action.type == 'ecommerceAbandonedCart' %}
                                <li class="{% if action.goalName is defined %}goal{% else %}action{% endif %}"
                                    title="{{ action.serverTimePretty }}{% if action.url is defined and action.url|trim|length %}
                                    {{ action.url }}{% endif %} {% if customVariablesTooltip|trim|length %}

                                    {{ customVariablesTooltip|trim }}{% endif %}{% if action.timeSpentPretty is defined %}

                                    {{ 'General_TimeOnPage'|translate }}: {{ action.timeSpentPretty|raw }}{% endif %}{% if action.generationTime is defined %}

                                    {{ 'General_ColumnGenerationTime'|translate }}: {{ action.generationTime|raw }}{% endif %}">
                                    {% if action.type == 'ecommerceOrder' or action.type == 'ecommerceAbandonedCart' %}
                                    {# Ecommerce Abandoned Cart / Ecommerce Order #}
                                        <img src="{{ action.icon }}"/>
                                        {% if action.type == 'ecommerceOrder' %}
                                            {% set visitorHasSomeEcommerceActivity %}1{% endset %}
                                            <strong>{{ 'Goals_EcommerceOrder'|translate }}</strong>
                                            <span style='color:#666666'>({{ action.orderId }})</span>
                                        {% else %}
                                            <strong>{{'Goals_AbandonedCart'|translate}}</strong>

                                            {# TODO: would be nice to have the icons Orders / Cart in the ecommerce log footer #}
                                            {% if javascriptVariablesToSet.filterEcommerce == 2 %}
                                                {% set visitorHasSomeEcommerceActivity %}1{% endset %}
                                            {% endif %}
                                        {% endif %}
                                        <br/>
                                        <span {% if not isWidget %}style='margin-left:20px'{% endif %}>
					                        {% if action.type == 'ecommerceOrder' %}
                                            <abbr title="
                                                {{ 'Live_GoalRevenue'|translate }}: {{ action.revenue|money(javascriptVariablesToSet.idSite)|raw }}
                                                {% if action.revenueSubTotal is not empty %} - {{ 'General_Subtotal'|translate }}: {{ action.revenueSubTotal|money(javascriptVariablesToSet.idSite)|raw }}{% endif %}
                                                {% if action.revenueTax is not empty %} - {{ 'General_Tax'|translate }}: {{ action.revenueTax|money(javascriptVariablesToSet.idSite)|raw }}{% endif %}
                                                {% if action.revenueShipping is not empty %} - {{ 'General_Shipping'|translate }}: {{ action.revenueShipping|money(javascriptVariablesToSet.idSite)|raw }}{% endif %}
                                                {% if action.revenueDiscount is not empty %} - {{ 'General_Discount'|translate }}: {{ action.revenueDiscount|money(javascriptVariablesToSet.idSite)|raw }}{% endif %}
                                                ">{{ 'Live_GoalRevenue'|translate }}:
                                            {% else %}
                                                {% set revenueLeft %}{{ 'Live_GoalRevenue'|translate }}{% endset %}
                                                {{ 'Goals_LeftInCart'|translate(revenueLeft) }}:
                                            {% endif %}
                                                <strong>{{ action.revenue|money(javascriptVariablesToSet.idSite)|raw }}</strong>
                                            {% if action.type == 'ecommerceOrder' %}
                                            </abbr>
                                            {% endif %}, {{ 'General_Quantity'|translate }}: {{ action.items }}

                                            {# Ecommerce items in Cart/Order #}
                                            {% if action.itemDetails is not empty %}
                                                <ul style='list-style:square;margin-left:{% if isWidget %}15{% else %}50{% endif %}px'>
                                                    {% for product in action.itemDetails %}
                                                        <li>
                                                            {{ product.itemSKU }}{% if product.itemName is not empty %}: {{ product.itemName }}{% endif %}
                                                            {% if product.itemCategory is not empty %} ({{ product.itemCategory }}){% endif %}
                                                            ,
                                                            {{ 'General_Quantity'|translate }}: {{ product.quantity }},
                                                            {{ 'General_Price'|translate }}: {{ product.price|money(javascriptVariablesToSet.idSite)|raw }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </span>
                                    {% elseif action.goalName is not defined%}
                                        {# Page view / Download / Outlink #}
                                        {% if action.pageTitle is defined %}
                                            {{ action.pageTitle|truncate(80) }}
                                        {% endif %}
                                        {% if action.siteSearchKeyword is defined %}
                                            {% if action.type == 'search' %}
                                                <img src='{{ action.icon }}' title='{{ 'Actions_SubmenuSitesearch'|translate }}'>
                                            {% endif %}
                                            {{ action.siteSearchKeyword|truncate(80) }}
                                        {% endif %}
                                        {% if action.url is not empty %}
                                            {% if action.type == 'action' and action.pageTitle is not empty %}<br/>{% endif %}
                                            {% if action.type == 'download' or action.type == 'outlink' %}
                                                <img src='{{ action.icon }}'>
                                            {% endif %}
                                            <a href="{{ action.url }}" target="_blank"
                                               style="{% if action.type=='action' and action.pageTitle is not empty %}margin-left: 25px;{% endif %}text-decoration:underline;">
                                                {{ action.url|truncate(80) }}
                                            </a>
                                        {% elseif action.type != 'search' %}
                                            <br/>
                                            <span style="margin-left: 25px;">{{ javascriptVariablesToSet.pageUrlNotDefined }}</span>
                                        {% endif %}
                                    {% else %}
                                        {# Goal conversion #}
                                        <img src="{{ action.icon }}" />
                                        <strong>{{ action.goalName }}</strong>
                                        {% if action.revenue > 0 %}, {{ 'Live_GoalRevenue'|translate }}:
                                            <strong>{{ action.revenue|money(javascriptVariablesToSet.idSite)|raw }}</strong>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </td>
            </tr>
        {% endset %}

        {% if not javascriptVariablesToSet.filterEcommerce or visitorHasSomeEcommerceActivity is not empty %}
            {{ visitorRow }}
        {% endif %}
    {% endfor %}

    </tbody>
    </table>
{% endif %}

    {% if properties.show_footer %}
        {% include "@CoreHome/_dataTableFooter.twig" %}
    {% endif %}

    {% include "@CoreHome/_dataTableJS.twig" %}
    <script type="text/javascript" defer="defer">

        var visitorLogTitle = '{{ 'Live_VisitorLog'|translate|e('js') }}';
        function Piwik_Live_LoadVisitorPopover(visitorId) {
            var startingDate = piwik.minDateYear + '-01-01';
            var url = 'module=Live&action=getVisitorLog&period=range&date=' + startingDate + ',today&show_footer=0&segment=visitorId' + encodeURIComponent('==') + visitorId;
            return Piwik_Popover.createPopupAndLoadUrl(url, visitorLogTitle);
        }

        $(document).ready(function () {
            // Replace duplicated page views by a NX count instead of using too much vertical space
            $("ol.visitorLog").each(function () {
                var prevelement;
                var prevhtml;
                var counter = 0;
                $(this).find("li").each(function () {
                    counter++;
                    $(this).val(counter);
                    var current = $(this).html();
                    if (current == prevhtml) {
                        var repeat = prevelement.find(".repeat")
                        if (repeat.length) {
                            repeat.html((parseInt(repeat.html()) + 1) + "x");
                        } else {
                            prevelement.append($("<em title='{{ 'Live_PageRefreshed'|translate|e('js') }}' class='repeat'>2x</em>"));
                        }
                        $(this).hide();
                    } else {
                        prevhtml = current;
                        prevelement = $(this);
                    }
                    
                    $(this).tooltip({
                        track: true,
                        show: false,
                        hide: false,
                        content: function() {
                            var title = $(this).attr('title');
                            return $('<a>').text( title ).html().replace(/\n/g, '<br />');
                        },
                        tooltipClass: 'small'
                    });
                });
            });
        });
    </script>
{% endif %}

</div>
