{% for visitInfo in visits.getRows() %}
<li>
    <div>
        <div class="visitor-profile-visit-title-row">
            <h2 class="visitor-profile-visit-title" data-idvisit="{{ visitInfo.getColumn('idVisit') }}" title="{{ 'Live_ClickToViewMoreAboutVisit'|translate }}">
                {{ 'General_Visit'|translate }} #{{ startCounter }}

                {% if visitInfo.getColumn('visitDuration') != 0 %}
                    <span>&nbsp; ({{ visitInfo.getColumn('visitDurationPretty')|raw }})</span>
                {% endif %}
                <span class="visitor-profile-date" title="{{ visitInfo.getColumn('serverDatePrettyFirstAction') }} {{ visitInfo.getColumn('serverTimePrettyFirstAction') }}">
                    {{ visitInfo.getColumn('serverDatePrettyFirstAction') }} {{ visitInfo.getColumn('serverTimePrettyFirstAction') }}
                </span>
            </h2>
        </div>
        <div class="visitor-profile-visit-details">
            {% if visitInfo.getColumn('countryFlag') %}
                <span class="visitorLogIconWithDetails flag">
                    <img src="{{ visitInfo.getColumn('countryFlag') }}"/>
                    <ul class="details">
                     <li>{{ 'UserCountry_Country'|translate }}: {{ visitInfo.getColumn('country') }}</li>
                        {% if visitInfo.getColumn('region') %}<li>{{ 'UserCountry_Region'|translate }}: {{ visitInfo.getColumn('region') }}</li>{% endif %}
                        {% if visitInfo.getColumn('city') %}<li>{{ 'UserCountry_City'|translate }}: {{ visitInfo.getColumn('city') }}</li>{% endif %}
                    </ul>
                </span>
            {% endif %}
            {{ postEvent('Live.renderVisitorIcons', visitInfo) }}
        </div>
        <ol class="visitor-profile-actions">
            {% include "@Live/_actionsList.twig" with {'actionDetails': visitInfo.getColumn('actionDetails'),
                                                       'visitInfo': visitInfo} %}
        </ol>
    </div>
</li>
{% set startCounter = startCounter + 1 %}
{% endfor %}