<div
    vue-entry="Live.LivePage"
    count-error-today="{{ countErrorToday|default(null)|json_encode|e('html_attr') }}"
    visitors-count-today="{{ (visitorsCountToday + 0)|default(null)|json_encode|e('html_attr') }}"
    pis-today="{{ pisToday|default(null)|json_encode|e('html_attr') }}"
    count-error-half-hour="{{ countErrorHalfHour|default(null)|json_encode|e('html_attr') }}"
    visitors-count-half-hour="{{ (visitorsCountHalfHour + 0)|default(null)|json_encode|e('html_attr') }}"
    pis-halfhour="{{ pisHalfhour|default(null)|json_encode|e('html_attr') }}"
    disable-link="{{ (disableLink == 1)|default(null)|json_encode|e('html_attr') }}"
    visitors="{{ visitors|default(null)|json_encode|e('html_attr') }}"
    live-refresh-after-ms="{{ liveRefreshAfterMs|default(null)|json_encode|e('html_attr') }}"
    is-widgetized="{{ (isWidgetized == 1)|default(null)|json_encode|e('html_attr') }}"
></div>
