<div
    vue-entry="Live.LivePage"
    count-error-today="{{ countErrorToday|default(null)|json_encode }}"
    visitors-count-today="{{ visitorsCountToday|default(null)|json_encode }}"
    pis-today="{{ pisToday|default(null)|json_encode }}"
    count-error-half-hour="{{ countErrorHalfHour|default(null)|json_encode }}"
    visitors-count-half-hour="{{ visitorsCountHalfHour|default(null)|json_encode }}"
    pis-halfhour="{{ pisHalfhour|default(null)|json_encode }}"
    disable-link="{{ disableLink|default(null)|json_encode }}"
    visitors="{{ visitors|default(null)|json_encode }}"
    live-refresh-after-ms="{{ liveRefreshAfterMs|default(null)|json_encode }}"
    is-widgetized="{{ isWidgetized|default(null)|json_encode }}"
></div>
