<h2>{{ 'SitesManager_TrackingTags'|translate(displaySiteName) }}</h2>

<div class='trackingHelp'>
    {{ 'Installation_JSTracking_Intro'|translate }}
    <br/><br/>
    {{ 'CoreAdminHome_JSTrackingIntro3'|translate('<a href="http://piwik.org/integrate/" target="_blank">','</a>')|raw }}

    <h3>{{ 'General_JsTrackingTag'|translate }}</h3>

    <p>{{ 'CoreAdminHome_JSTracking_CodeNote'|translate("&lt;/body&gt;")|raw }}</p>

    <pre class="code-pre"><code>{{ jsTag|raw }}</code></pre>

    <br/>
    {{ 'CoreAdminHome_JSTrackingIntro5'|translate('<a target="_blank" href="http://piwik.org/docs/javascript-tracking/">','</a>')|raw }}
    <br/><br/>
    {{ 'Installation_JSTracking_EndNote'|translate('<em>','</em>')|raw }}
</div>