<p>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerIntro'|translate('<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/how-do-i-use-matomo-analytics-within-gtm-google-tag-manager/">','</a>')|raw }}</p>
<br>
<p>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStepsIntro'|translate }}</p>
<ol style="list-style: decimal;list-style-position: inside;">
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep1'|translate('<a target="_blank" rel="noreferrer noopener" href="https://tagmanager.google.com/">','</a>')|raw }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep2'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep3'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep4'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep5'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep6'|translate }}<br><div><pre vue-directive="CoreHome.CopyToClipboard">{{ jsTag|raw }}</pre></div></li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep7'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep8'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep9'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep10'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGTMFollowStep11'|translate }}</li>
</ol>
<br>
<p>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStepCompleted'|translate('<strong>','</strong>')|raw }}</p>
