<p>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerIntro'|translate('<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/how-do-i-use-matomo-analytics-within-gtm-google-tag-manager/">','</a>')|raw }}</p>
<br>
<p>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStepsIntro'|translate }}</p>
<ol style="list-style: decimal;list-style-position: inside;">
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep1'|translate('<a target="_blank" rel="noreferrer noopener" href="https://tagmanager.google.com/">','</a>')|raw }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep2'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep3'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep4'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep5'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep6'|translate }}<br><pre vue-directive="CoreHome.SelectOnFocus">{{ jsTag|raw }}</pre></li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep7'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep8'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep9'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep10'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStep11'|translate }}</li>
</ol>
<br>
<p>{{ 'SitesManager_SiteWithoutDataGoogleTagManagerFollowStepCompleted'|translate('<strong>','</strong>')|raw }}</p>
