{% set columnClass = tabs|length ? 's2' : 's3' %}

{% if recommendedMethod %}
<div class="row" id="start-tracking-detection">
    <!--div id="share-button">
        <a href="">
            <span class="icon-upload"></span>
            Share
        </a>
    </div-->
    <img src="{{ recommendedMethod.icon  }}" alt="{{ recommendedMethod.name }} logo" />
    <h2>Install Matomo with {{ recommendedMethod.name }} (recommended for you)</h2>
    <p>We have detected {{ recommendedMethod.name }} on your site, so you can set up Matomo within a few minutes with our official {{ recommendedMethod.name }} integration.</p>
    <a href="" class="btn">Install with {{ recommendedMethod.name }}</a>
</div>
{% endif %}

<div class="row" id="start-tracking-method-list">
    <span class="icon-search"></span>
    <h2>{{ 'SitesManager_SiteWithoutDataOtherInstallMethods'|translate }}</h2>
    <p>{{ 'SitesManager_SiteWithoutDataOtherInstallMethodsIntro'|translate }}</p>
    <ul>
        {% for tab in tabs %}
            <li class="list-entry">
                <a href="#{{ tab.id|lower }}">
                    {% if tab.icon %}
                        <img src="{{ tab.icon }}" class="list-entry-icon" />
                    {% endif %}
                    <span class="list-entry-text">{{ tab.name }}</span>
                </a>
            </li>
        {% endfor %}

        <li class="list-entry">
            <a href="#integrations">
                <img src="./plugins/SitesManager/images/integrations.svg" class="list-entry-icon" />
                <span class="list-entry-text">{{ 'SitesManager_Integrations'|translate }}</span>
            </a>
        </li>
        <li class="list-entry">
            <a href="#other">
                <img src="./plugins/SitesManager/images/others.svg" class="list-entry-icon" />
                <span class="list-entry-text">{{ 'SitesManager_SiteWithoutDataOtherWays'|translate }}</span>
            </a>
        </li>
    </ul>
</div>


{% for tab in tabs %}
    <div id="{{ tab.id|lower }}" class="start-tracking-method">
        {{ tab.content|raw }}
    </div>
{% endfor %}

<div id="integrations" class="start-tracking-method">
    {% if instruction %}
        <p>{{ instruction|raw }}</p>

        {% if 'GoogleTagManager' in trackers %}
            <p>{{ 'SitesManager_SiteWithoutDataDetectedGtm'|translate('<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/how-do-i-use-matomo-analytics-within-gtm-google-tag-manager">','</a>')|raw }}</p>
        {% endif %}

        <p>{{ 'SitesManager_SiteWithoutDataOtherIntegrations'|translate }}: {{ 'CoreAdminHome_JSTrackingIntro3a'|translate('<a href="https://matomo.org/integrate/" rel="noreferrer noopener" target="_blank">','</a>')|raw }}</p>
    {% else %}
        <p>{{ 'SitesManager_InstallationGuidesIntro'|translate }}

        <p>
        {% for instructionUrl in instructionUrls %}
           {% if not loop.first %} | {% endif %}<a target="_blank" rel="noreferrer noopener" href='{{ instructionUrl.instructionUrl }}'>{{ instructionUrl.name }}</a>
        {% endfor %}
        </p>

        <p>{{ 'CoreAdminHome_JSTrackingIntro3a'|translate('<a href="https://matomo.org/integrate/" rel="noreferrer noopener" target="_blank">','</a>')|raw }}</p>
        <p>{{ 'CoreAdminHome_JSTrackingIntro3b'|translate|raw }}</p>
        <br>
        <p>{{ 'SitesManager_ExtraInformationNeeded'|translate }}</p>
        <p>Matomo URL: <code vue-directive="CoreHome.CopyToClipboard">{{ matomoUrl }}</code></p>
        <p>{{ 'SitesManager_EmailInstructionsYourSiteId'|translate('<code vue-directive="CoreHome.CopyToClipboard">' ~ idSite ~ '</code>')|raw }}</p>
    {% endif %}
</div>

<div id="other" class="start-tracking-method">
    <p>{{ 'SitesManager_OtherWaysTabDescription'|translate }}</p>
    <p>Matomo URL: <code vue-directive="CoreHome.CopyToClipboard">{{ matomoUrl }}</code></p>
    <p>{{ 'SitesManager_EmailInstructionsYourSiteId'|translate('<code vue-directive="CoreHome.CopyToClipboard">' ~ idSite ~ '</code>')|raw }}</p>

    <h3>{{ 'CoreAdminHome_ImageTracking'|translate }}</h3>
    <p>{{ 'SitesManager_ImageTrackingDescription'|translate('<a href="https://matomo.org/docs/tracking-api/reference/" rel="noreferrer noopener" target="_blank">', '</a>')|raw }}</p>

    <h3>{{ 'SitesManager_LogAnalytics'|translate }}</h3>
    <p>{{ 'SitesManager_LogAnalyticsDescription'|translate('<a href="https://matomo.org/log-analytics/" rel="noreferrer noopener" target="_blank">', '</a>')|raw }}</p>

    <h3>{{ 'SitesManager_MobileAppsAndSDKs'|translate }}</h3>
    <p>{{ 'SitesManager_MobileAppsAndSDKsDescription'|translate('<a href="https://matomo.org/integrate/#programming-language-platforms-and-frameworks" rel="noreferrer noopener" target="_blank">','</a>')|raw }}</p>

    <h3>{{ 'CoreAdminHome_HttpTrackingApi'|translate }}</h3>
    <p>{{ 'CoreAdminHome_HttpTrackingApiDescription'|translate('<a href="https://developer.matomo.org/api-reference/tracking-api" rel="noreferrer noopener" target="_blank">','</a>')|raw }}</p>

    {% for othersInstruction in othersInstructions %}
        <h3>{{ othersInstruction.name }}</h3>
        <p>{{ othersInstruction.othersInstruction|raw }}</p>
    {% endfor %}

    {% if googleAnalyticsImporterMessage is defined and googleAnalyticsImporterMessage is not empty  %}
        {{ googleAnalyticsImporterMessage|raw }}
    {% elseif not 'GoogleAnalytics3' in trackers and not 'GoogleAnalytics4' in trackers %}
        <h3>{{ 'SitesManager_ImportDataFromGoogleAnalytics'|translate }}</h3>
        <p>{{ 'SitesManager_ImportDataFromGoogleAnalyticsDescription'|translate('<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/guide/installation-maintenance/import-google-analytics/">', '</a>')|raw }}</p>
    {% endif %}
</div>