<p>{{ 'SitesManager_SiteWithoutDataVueIntro'|translate }}</p>
<br>
<p>{{ 'SitesManager_SiteWithoutDataCloudflareFollowStepsIntro'|translate }}</p>
<ol class="list-style-decimal">
    <li>{{ 'SitesManager_SiteWithoutDataVueFollowStep1'|translate('<strong>vue-matomo</strong>')|raw }}<div style="text-indent: 1.2rem;"><code vue-directive="CoreHome.CopyToClipboard">npm install --save vue-matomo</code></div></li>
    <li>
        {{ 'SitesManager_SiteWithoutDataVueFollowStep2'|translate('<strong>VueMatomo</strong>', '<strong>main.js</strong>')|raw }}
        <br><br>
        {{ 'SitesManager_SiteWithoutDataVueFollowStep2ExampleCode'|translate('Vue.js 3') }}:
        <div><pre class="codeblock">{{ vue3Code }}</pre></div>
        {{ 'SitesManager_SiteWithoutDataVueFollowStep2ExampleCode'|translate('Vue.js 2') }}:
        <div><pre class="codeblock">{{ vue2Code }}</pre></div>
    </li>
</ol>
<br>

<p>{{ 'SitesManager_SiteWithoutDataVueFollowStepCompleted'|translate('<strong>', '</strong>', '<a target="_blank" rel="noreferrer noopener" href="https://github.com/AmazingDreams/vue-matomo">vue-matomo</a>')|raw }}</p>
<br>
<strong>{{ 'General_Note'|translate }}:</strong><ol class="list-style-decimal">
    <li>{{ 'SitesManager_SiteWithoutDataVueFollowStepNote1'|translate('<code vue-directive="CoreHome.CopyToClipboard">window._paq.push</code>')|raw }}</li>
    <li>{{ SiteWithoutDataVueFollowStepNote2Key|translate('<a target="_blank" rel="noreferrer noopener" href="https://developer.matomo.org/guides/spa-tracking">','</a>', '<a target="_blank" rel="noreferrer noopener" href="https://developer.matomo.org/guides/spa-tracking#using-matomo-tag-manager-to-track-single-page-application">','</a>')|raw }}</li>
</ol>