<p>{{ 'SitesManager_SiteWithoutDataWordpressIntroLine1'|translate }}</p>
<p>{{ 'SitesManager_SiteWithoutDataWordpressIntroLine2'|translate('<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/how-do-i-manually-insert-the-matomo-tracking-code-on-wordpress/">', '</a>', '<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/how-to/faq_176/">', '</a>')|raw }}</p>
<br>
<p>{{ 'SitesManager_SiteWithoutDataWordpressRequirementHeader'|translate }}</p>
<ol style="list-style: disc;list-style-position: inside;">
    <li>{{ 'SitesManager_SiteWithoutDataWordpressRequirement1'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressRequirement2'|translate }}</li>
</ol>
<br>
<p>{{ 'SitesManager_SiteWithoutDataWordpressFollowStepsIntro'|translate }}</p>
<ol style="list-style: decimal;list-style-position: inside;">
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep1'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep2'|translate('<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/how-do-i-manually-insert-the-matomo-tracking-code-on-wordpress/">','</a>')|raw }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep3'|translate('<a target="_blank" rel="noreferrer noopener" href="https://wordpress.org/plugins/wp-piwik/">','</a>')|raw }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep4'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep5'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep6'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep7'|translate }}<div style="text-indent: 1.2rem;">Matomo URL: <code vue-directive="CoreHome.SelectOnFocus">{{ piwikUrl }}</code></div></li>
    {% if authLink %}
        <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep8'|translate('<a target="_blank" rel="noreferrer noopener" href="'~authLink~'">','</a>','<a target="_blank" rel="noreferrer noopener" href="'~faqLink~'">','</a>')|raw }}</li>
    {% else %}
        <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep8'|translate('','','<a target="_blank" rel="noreferrer noopener" href="'~faqLink~'">','</a>')|raw }}</li>
    {% endif %}
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep9'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep10'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep11'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep12'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep13'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep14'|translate }}</li>
    <li>{{ 'SitesManager_SiteWithoutDataWordpressFollowStep15'|translate }}</li>
</ol>
<br>
<p>{{ 'SitesManager_SiteWithoutDataWordpressFollowStepCompleted'|translate }}</p>