<div style="padding: 10px;padding-bottom: 0px;">
    Minimum impact of
    <select name="minVisitsPercent" title="Based on a total of {{ dataTable.getMetadata('totalValue') }} visitors or metricname">
        {% for i in range(0, 10) %}
            <option {% if i == properties.min_visits_percent %}selected{% endif %} value="{{ i }}">{{ i }}%</option>
        {% endfor %}
        {% for i in range(12, 30, 2) %}
            <option {% if i == properties.min_visits_percent %}selected{% endif %} value="{{ i }}">{{ i }}%</option>
        {% endfor %}
        {% for i in range(35, 100, 5) %}
            <option {% if i == properties.min_visits_percent %}selected{% endif %} value="{{ i }}">{{ i }}%</option>
        {% endfor %}
    </select>

    and growth of at least
    <select size="1" name="minGrowthPercent">
        {% for i in range(0, 1, 1) %}
            <option {% if i == properties.min_growth_percent %}selected{% endif %} value="{{ i }}">{{ i }}%</option>
        {% endfor %}
        {% for i in range(5, 100, 5) %}
            <option {% if i == properties.min_growth_percent %}selected{% endif %} value="{{ i }}">{{ i }}%</option>
        {% endfor %}
        {% for i in range(200, 1000, 100) %}
            <option {% if i == properties.min_growth_percent %}selected{% endif %} value="{{ i }}">{{ i }}%</option>
        {% endfor %}
    </select>

    compared to
    {% if period == 'day' %}
        <select size="1" name="comparedToXPeriodsAgo">
            <option value="1" {% if properties.compared_to_x_periods_ago == 1 %}selected{% endif %}>
               previous day
            </option>
            <option value="7" {% if properties.compared_to_x_periods_ago == 7 %}selected{% endif %}>
               same day in previous week
            </option>
            <option value="365" {% if properties.compared_to_x_periods_ago == 365 %}selected{% endif %}>
               same day in previous year
            </option>
        </select>
    {% elseif period == 'month' %}
        <select size="1" name="comparedToXPeriodsAgo">
            <option value="1" {% if properties.compared_to_x_periods_ago == 1 %}selected{% endif %}>
                previous month
            </option>
            <option value="12" {% if properties.compared_to_x_periods_ago == 12 %}selected{% endif %}>
                same month in previous year
            </option>
        </select>
    {% endif %}

    <hr style="height: 1px;border: 0px;background-color: #cccccc;" />

    Filter

    {% if properties.show_filter_by %}
        <select size="1" name="filterBy" title="Show all, only movers, only new, only disappeared">
            <option {% if not properties.filter_by %}selected{% endif %} value="">All</option>
            <option {% if properties.filter_by == 'movers' %}selected{% endif %} value="movers">Only movers</option>
            <option {% if properties.filter_by == 'new' %}selected{% endif %} value="new">Only new</option>
            <option {% if properties.filter_by == 'disappeared' %}selected{% endif %} value="disappeared">Only disappeared</option>
        </select>
    {% endif %}

    <select size="1" name="showIncreaseOrDecrease" title="Show increaser and/or decreaser">
        <option value="both" {% if properties.limit_increaser and properties.limit_decreaser %}selected{%endif%}>
            All
        </option>
        <option value="increase" {% if properties.limit_increaser and not properties.limit_decreaser %}selected{%endif%}>
            Only increaser
        </option>
        <option value="decrease" {% if not properties.limit_increaser and properties.limit_decreaser %}selected{%endif%}>
            Only decreaser
        </option>
    </select>
</div>