<div class="widgetBody tourEngagement">
    {% if isCompleted %}
       <p><strong class="completed">{{ 'Tour_CompletionTitle'|translate }}</strong> {{ 'Tour_CompletionMessage'|translate }}
        <br />
        You can now call yourself a true <strong>{{ currentLevel }}</strong>.<br /><br />
        Share your status on
           <a target="_blank" rel="noreferrer noopener" href="http://twitter.com/share?text={{ "Just unlocked the Matomo expert achievement by completing all challenges."|e('url') }}&url={{ "https://matomo.org"|e('url') }}|raw">Twitter</a>,
           <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/sharer/sharer.php?t={{ "Just unlocked the Matomo expert achievement by completing all challenges."|e('url') }}&u={{ "https://matomo.org"|e('url')|raw }}">Facebook</a>,
           <a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/shareArticle?mini=true&url={{ "https://matomo.org"|e('url') }}&title={{ "Just unlocked the Matomo expert achievement by completing all challenges."|e('url')|raw }}">LinkedIn</a>
       </p>
    {% else %}
        <p>{{ description }}</p>

        <p>You are currently a <strong>{{ currentLevel }}</strong>. Complete {{ challengesNeededForNextLevel }} more challenges and you become a <strong>{{ nextLevel }}</strong>.</p>

        <ul>
            {% for challenge in challenges %}
                <li class="tourChallenge {{ challenge.id }}">
                    {%- if challenge.isCompleted or challenge.isSkipped %}
                        <span class="icon-ok" title="Completed"></span>
                    {% else %}
                        <a href="javascript:void 0;" onclick="tourEngagement.skipChallenge('{{ challenge.id|e('js') }}')" title="Skip this challenge"><span class="icon-hide"></span></a>
                    {% endif %}
                    {% if challenge.url is not empty %}
                        <a href="{{ challenge.url|safelink|e('html_attr') }}" target="_blank" rel="noreferrer noopener">{{ challenge.name }}</a>
                    {% elseif challenge.inAppLink is not empty %}
                        <a href="{{ linkTo(challenge.inAppLink) }}{% if challenge.inAppLinkHash is not empty %}#{{ challenge.inAppLinkHash }}{% endif %}" target="_self">{{ challenge.name }}</a>
                    {% else %}
                        {{ challenge.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <hr />

        {% if previousPage is not null %}
            <a class="previousChallenges" onclick="tourEngagement.goToPage({{ previousPage|e('js') }})">&lsaquo; Previous challenges</a>
        {% endif %}
        {% if nextPage %}
            <a class="nextChallenges" onclick="tourEngagement.goToPage({{ nextPage|e('js') }})">Next challenges &rsaquo;</a>
        {% endif %}
        <hr />
        <p class="tourSuperUserNote">{{ 'Tour_OnlyVisibleToSuperUser'|translate('<a href="https://matomo.org/faq/general/faq_35/" target="_blank" rel="noreferrer noopener">', '</a>')|raw }}</p>
    {% endif %}

</div>