{% extends 'admin.twig' %}

{% set title %}{{ 'CoreAdminHome_MenuGeneralSettings'|translate }}{% endset %}

{% block content %}

    {% import 'macros.twig' as piwik %}
    {% import 'ajaxMacros.twig' as ajax %}

    {{ ajax.errorDiv() }}
    {{ ajax.loadingDiv() }}

    <div class="card generalSettingsTOCCard">
        <div id="generalSettingsTOC" class="card-action">
            {{ 'General_GoTo2'|translate }}:
            {% if isGeneralSettingsAdminEnabled %}
            <a href="#/archivingSettings">{{ 'CoreAdminHome_ArchivingSettings'|translate  }}</a>
                {% if not isMultiServerEnvironment %}
                <a href="#/mailSettings">{{ 'CoreAdminHome_EmailServerSettings'|translate }}</a>
                {% endif %}
            {% endif %}
            {% if customLogoEnabled %}
            <a href="#/brandingSettings">{{ 'CoreAdminHome_BrandingSettings'|translate }}</a>
            {% endif %}
            {% if isDataPurgeSettingsEnabled %}
            <a href="#/deleteDataSettings">{{ 'PrivacyManager_DeleteDataSettings'|translate }}</a>
            {% endif %}
            {{ postEvent('Template.endGeneralSettingsPageTableOfContents') }}
        </div>
    </div>

{% if isGeneralSettingsAdminEnabled %}
    <div
        matomo-archiving-settings
        enable-browser-trigger-archiving="{{ (enableBrowserTriggerArchiving==1)|json_encode|e('html_attr') }}"
        show-segment-archive-trigger-info="{{ (not not showSegmentArchiveTriggerInfo)|json_encode|e('html_attr') }}"
        is-general-settings-admin-enabled="{{ (not not isGeneralSettingsAdminEnabled)|json_encode|e('html_attr') }}"
        show-warning-cron="{{ (not not showWarningCron)|json_encode|e('html_attr') }}"
        today-archive-time-to-live="{{ todayArchiveTimeToLive|e('html_attr') }}"
        today-archive-time-to-live-default="{{ todayArchiveTimeToLiveDefault|e('html_attr') }}"
    ></div>

    {% if not isMultiServerEnvironment %}
        <div piwik-content-block content-title="{{ 'CoreAdminHome_EmailServerSettings'|translate|e('html_attr') }}"
        anchor="mailSettings">

        <div piwik-form ng-controller="MailSmtpController as mailSettings">
            <div piwik-field uicontrol="checkbox" name="mailUseSmtp"
                 ng-model="mailSettings.enabled"
                 data-title="{{ 'General_UseSMTPServerForEmail'|translate|e('html_attr') }}"
                 value="{% if mail.transport == 'smtp' %}1{% endif %}"
                 inline-help="{{ 'General_SelectYesIfYouWantToSendEmailsViaServer'|translate|e('html_attr') }}">
            </div>

            <div id="smtpSettings"
                 ng-show="mailSettings.enabled">

                <div piwik-field uicontrol="text" name="mailHost"
                     ng-model="mailSettings.mailHost"
                     ng-change="mailSettings.passwordChanged || ((mailSettings.mailPassword = '') || (mailSettings.passwordChanged = true))"
                     data-title="{{ 'General_SmtpServerAddress'|translate|e('html_attr') }}"
                     value="{{ mail.host|e('html_attr') }}">
                </div>

                <div piwik-field uicontrol="text" name="mailPort"
                     ng-model="mailSettings.mailPort"
                     data-title="{{ 'General_SmtpPort'|translate|e('html_attr') }}"
                     value="{{ mail.port|e('html_attr') }}" inline-help="{{ 'General_OptionalSmtpPort'|translate|e('html_attr') }}">
                </div>

                <div piwik-field uicontrol="select" name="mailType"
                     ng-model="mailSettings.mailType"
                     data-title="{{ 'General_AuthenticationMethodSmtp'|translate|e('html_attr') }}"
                     options="{{ mailTypes|json_encode }}"
                     value="{{ mail.type|e('html_attr') }}" inline-help="{{ 'General_OnlyUsedIfUserPwdIsSet'|translate|e('html_attr') }}">
                </div>

                <div piwik-field uicontrol="text" name="mailUsername"
                     ng-model="mailSettings.mailUsername"
                     data-title="{{ 'General_SmtpUsername'|translate|e('html_attr') }}"
                     value="{{ mail.username|e('html_attr') }}" inline-help="{{ 'General_OnlyEnterIfRequired'|translate|e('html_attr') }}"
                     autocomplete="off">
                </div>

                {% set help -%}
                    {{ 'General_OnlyEnterIfRequiredPassword'|translate }}<br/>
                    {{ 'General_WarningPasswordStored'|translate("<strong>","</strong>")|raw }}
                {%- endset %}

                <div piwik-field uicontrol="password" name="mailPassword"
                     ng-model="mailSettings.mailPassword"
                     ng-change="mailSettings.passwordChanged = true"
                     ng-click="!mailSettings.passwordChanged && $event.target.select();"
                     data-title="{{ 'General_SmtpPassword'|translate|e('html_attr') }}"
                     value="{{ mail.password ? '******' }}" inline-help="{{ help|e('html_attr') }}"
                     autocomplete="off">
                </div>

                <div piwik-field uicontrol="text" name="mailFromAddress"
                     ng-model="mailSettings.mailFromAddress"
                     title="{{ 'General_SmtpFromAddress'|translate|e('html_attr') }}"
                     value="{{ mail.noreply_email_address|e('html_attr') }}" inline-help="{{ 'General_SmtpFromEmailHelp'|translate(mailHost)|e('html_attr') }}"
                     autocomplete="off">
                </div>

                <div piwik-field uicontrol="text" name="mailFromName"
                     ng-model="mailSettings.mailFromName"
                     title="{{ 'General_SmtpFromName'|translate|e('html_attr') }}"
                     value="{{ mail.noreply_email_name|e('html_attr') }}" inline-help="{{ 'General_NameShownInTheSenderColumn'|translate|e('html_attr') }}"
                     autocomplete="off">
                </div>

                <div piwik-field uicontrol="select" name="mailEncryption"
                     ng-model="mailSettings.mailEncryption"
                     data-title="{{ 'General_SmtpEncryption'|translate|e('html_attr') }}"
                     options="{{ mailEncryptions|json_encode }}"
                     value="{{ mail.encryption|e('html_attr') }}" inline-help="{{ 'General_EncryptedSmtpTransport'|translate|e('html_attr') }}">
                </div>
            </div>

            <div onconfirm="mailSettings.save()" saving="mailSettings.isLoading" piwik-save-button></div>
        </div>
    </div>
    {% endif %}
{% endif %}

{% if customLogoEnabled %}
<div
    matomo-branding-settings
    file-upload-enabled="{{ fileUploadEnabled|json_encode|e('html_attr') }}"
    logos-writeable="{{ logosWriteable|json_encode|e('html_attr') }}"
    use-custom-logo="{{ branding.use_custom_logo|json_encode|e('html_attr') }}"
    path-user-logo-directory="{{ pathUserLogoDirectory|json_encode|e('html_attr') }}"
    path-user-logo="{{ pathUserLogo|json_encode|e('html_attr') }}"
    path-user-logo-small="{{ pathUserLogoSmall|json_encode|e('html_attr') }}"
    path-user-logo-svg="{{ pathUserLogoSVG|json_encode|e('html_attr') }}"
    has-user-logo="{{ hasUserLogo|json_encode|e('html_attr') }}"
    path-user-favicon="{{ pathUserFavicon|json_encode|e('html_attr') }}"
    has-user-favicon="{{ hasUserFavicon|json_encode|e('html_attr') }}"
    is-plugins-admin-enabled="{{ isPluginsAdminEnabled|json_encode|e('html_attr') }}"
></div>
{% endif %}

{% if isDataPurgeSettingsEnabled %}
    <div piwik-content-block content-title="{{ 'PrivacyManager_DeleteDataSettings'|translate|e('html_attr') }}"
         anchor="deleteDataSettings">
        <p>{{ 'PrivacyManager_DeleteDataDescription'|translate }}</p>
        <p>
            <a href='{{ linkTo({'module':"PrivacyManager", 'action':"privacySettings"}) }}#deleteLogsAnchor'>
                {{ 'PrivacyManager_ClickHereSettings'|translate("'" ~ 'PrivacyManager_DeleteDataSettings'|translate ~ "'") }}
            </a>
        </p>
    </div>
{% endif %}

<div piwik-plugin-settings mode="admin"></div>

{% endblock %}
