{% extends 'admin.twig' %}

{% set title %}{{ 'CoreAdminHome_MenuGeneralSettings'|translate }}{% endset %}

{% block content %}
    {% import 'macros.twig' as piwik %}
    {% import 'ajaxMacros.twig' as ajax %}

    {{ ajax.errorDiv() }}
    {{ ajax.loadingDiv() }}

    <h2>{{ 'CoreAdminHome_ArchivingSettings'|translate }}</h2>

    {% if isGeneralSettingsAdminEnabled %}
        <div class="form-group">
            <label>{{ 'General_AllowPiwikArchivingToTriggerBrowser'|translate }}</label>
            <div class="form-help">
                {{ 'General_ArchivingInlineHelp'|translate }}
                <br/>
                {{ 'General_SeeTheOfficialDocumentationForMoreInformation'|translate("<a href='?module=Proxy&action=redirect&url=http://piwik.org/docs/setup-auto-archiving/' target='_blank'>","</a>")|raw }}
            </div>
            <label class="radio">
                <input type="radio" value="1" name="enableBrowserTriggerArchiving" {% if enableBrowserTriggerArchiving==1 %} checked="checked"{% endif %} />
                {{ 'General_Yes'|translate }}
                <span class="form-description">{{ 'General_Default'|translate }}</span>
            </label>
            <label class="radio">
                <input type="radio" value="0" name="enableBrowserTriggerArchiving" {% if enableBrowserTriggerArchiving==0 %} checked="checked"{% endif %} />
                {{ 'General_No'|translate }}
                <span class="form-description">{{ 'General_ArchivingTriggerDescription'|translate("<a href='?module=Proxy&action=redirect&url=http://piwik.org/docs/setup-auto-archiving/' target='_blank'>","</a>")|raw }}</span>
            </label>
        </div>
    {% else %}
        <div class="form-group">
            <label>{{ 'General_AllowPiwikArchivingToTriggerBrowser'|translate }}</label>
            <label class="radio">
                <input type="radio" checked="checked" disabled="disabled" />
                {% if enableBrowserTriggerArchiving==1 %}
                    {{ 'General_Yes'|translate }}
                {% else %}
                    {{ 'General_No'|translate }}
                {% endif %}
            </label>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="todayArchiveTimeToLive">
            {{ 'General_ReportsContainingTodayWillBeProcessedAtMostEvery'|translate }}
        </label>
        {% if isGeneralSettingsAdminEnabled %}
            <div class="form-help">
                {% if showWarningCron %}
                    <strong>
                        {{ 'General_NewReportsWillBeProcessedByCron'|translate }}<br/>
                        {{ 'General_ReportsWillBeProcessedAtMostEveryHour'|translate }}
                        {{ 'General_IfArchivingIsFastYouCanSetupCronRunMoreOften'|translate }}<br/>
                    </strong>
                {% endif %}
                {{ 'General_SmallTrafficYouCanLeaveDefault'|translate( todayArchiveTimeToLiveDefault ) }}
                <br/>
                {{ 'General_MediumToHighTrafficItIsRecommendedTo'|translate(1800,3600) }}
            </div>
        {% endif %}
        <div class="input-group">
            <input value='{{ todayArchiveTimeToLive  }}' id='todayArchiveTimeToLive' {% if not isGeneralSettingsAdminEnabled %}disabled="disabled"{% endif %} />
            <span class="input-group-addon">{{ 'Intl_NSeconds'|translate('') }}</span>
        </div>
        <span class="form-description">
            {{ 'General_RearchiveTimeIntervalOnlyForTodayReports'|translate }}
        </span>
    </div>

    {% if isGeneralSettingsAdminEnabled %}
        <h2>{{ 'CoreAdminHome_UpdateSettings'|translate }}</h2>

        <div class="form-group">
            <label>{{ 'CoreAdminHome_ReleaseChannel'|translate }}</label>
            <div class="form-help">
                {{ 'CoreAdminHome_DevelopmentProcess'|translate("<a href='?module=Proxy&action=redirect&url=http://piwik.org/participate/development-process/' target='_blank'>","</a>")|raw }}
                <br/>
                {{ 'CoreAdminHome_StableReleases'|translate("<a href='?module=Proxy&action=redirect&url=http%3A%2F%2Fdeveloper.piwik.org%2Fguides%2Fcore-team-workflow%23influencing-piwik-development' target='_blank'>","</a>")|raw }}
                <br />
                {{ 'CoreAdminHome_LtsReleases'|translate }}
            </div>
            {% for releaseChannel in releaseChannels %}
                <label class="radio">
                    <input type="radio" value="{{ releaseChannel.id|e('html_attr') }}" name="releaseChannel"{% if releaseChannel.active %} checked="checked"{% endif %} />
                    {{ releaseChannel.name }}
                    {% if releaseChannel.description %}
                    <span class="form-description">{{ releaseChannel.description }}</span>
                    {% endif %}
                </label>
            {% endfor %}
        </div>

        {% if canUpdateCommunication %}
            <div class="form-group">
                <label>{{ 'CoreAdminHome_SendPluginUpdateCommunication'|translate }}</label>
                <div class="form-help">
                    {{ 'CoreAdminHome_SendPluginUpdateCommunicationHelp'|translate }}
                </div>
                <label class="radio">
                    <input type="radio" name="enablePluginUpdateCommunication" value="1"
                            {% if enableSendPluginUpdateCommunication==1 %} checked="checked"{% endif %}/>
                    {{ 'General_Yes'|translate }}
                </label>
                <label class="radio">
                    <input type="radio" name="enablePluginUpdateCommunication" value="0"
                            {% if enableSendPluginUpdateCommunication==0 %} checked="checked"{% endif %}/>
                    {{ 'General_No'|translate }}
                    <span class="form-description">{{ 'General_Default'|translate }}</span>
                </label>
            </div>
        {% endif %}
    {% endif %}

    {% if isGeneralSettingsAdminEnabled %}
        <h2>{{ 'CoreAdminHome_EmailServerSettings'|translate }}</h2>

        <div class="form-group">
            <label>{{ 'General_UseSMTPServerForEmail'|translate }}</label>
            <div class="form-help">
                {{ 'General_SelectYesIfYouWantToSendEmailsViaServer'|translate }}
            </div>
            <label class="radio">
                <input type="radio" name="mailUseSmtp" value="1" {% if mail.transport == 'smtp' %}checked{% endif %} />
                {{ 'General_Yes'|translate }}
            </label>
            <label class="radio">
                <input type="radio" name="mailUseSmtp" value="0" {% if mail.transport == '' %}checked{% endif %} />
                {{ 'General_No'|translate }}
            </label>
        </div>

        <div id="smtpSettings">
            <div class="form-group">
                <label for="mailHost">{{ 'General_SmtpServerAddress'|translate }}</label>
                <input type="text" id="mailHost" value="{{ mail.host }}">
            </div>
            <div class="form-group">
                <label for="mailPort">{{ 'General_SmtpPort'|translate }}</label>
                <span class="form-help">{{ 'General_OptionalSmtpPort'|translate }}</span>
                <input type="text" id="mailPort" value="{{ mail.port }}">
            </div>
            <div class="form-group">
                <label for="mailType">{{ 'General_AuthenticationMethodSmtp'|translate }}</label>
                <span class="form-help">{{ 'General_OnlyUsedIfUserPwdIsSet'|translate }}</span>
                <select id="mailType">
                    <option value="" {% if mail.type == '' %} selected="selected" {% endif %}></option>
                    <option id="plain" {% if mail.type == 'Plain' %} selected="selected" {% endif %} value="Plain">Plain</option>
                    <option id="login" {% if mail.type == 'Login' %} selected="selected" {% endif %} value="Login"> Login</option>
                    <option id="cram-md5" {% if mail.type == 'Crammd5' %} selected="selected" {% endif %} value="Crammd5"> Crammd5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="mailUsername">{{ 'General_SmtpUsername'|translate }}</label>
                <span class="form-help">{{ 'General_OnlyEnterIfRequired'|translate }}</span>
                <input type="text" id="mailUsername" value="{{ mail.username }}"/>
            </div>
            <div class="form-group">
                <label for="mailPassword">{{ 'General_SmtpPassword'|translate }}</label>
                <span class="form-help">
                    {{ 'General_OnlyEnterIfRequiredPassword'|translate }}<br/>
                    {{ 'General_WarningPasswordStored'|translate("<strong>","</strong>")|raw }}
                </span>
                <input type="password" id="mailPassword" value="{{ mail.password }}"/>
            </div>
            <div class="form-group">
                <label for="mailEncryption">{{ 'General_SmtpEncryption'|translate }}</label>
                <span class="form-help">{{ 'General_EncryptedSmtpTransport'|translate }}</span>
                <select id="mailEncryption">
                    <option value="" {% if mail.encryption == '' %} selected="selected" {% endif %}></option>
                    <option id="ssl" {% if mail.encryption == 'ssl' %} selected="selected" {% endif %} value="ssl">SSL</option>
                    <option id="tls" {% if mail.encryption == 'tls' %} selected="selected" {% endif %} value="tls">TLS</option>
                </select>
            </div>
        </div>
    {% endif %}

    <h2>{{ 'CoreAdminHome_BrandingSettings'|translate }}</h2>

    <p>{{ 'CoreAdminHome_CustomLogoHelpText'|translate }}</p>

    <div class="form-group">
        <label>{{ 'CoreAdminHome_UseCustomLogo'|translate }}</label>
        <div class="form-help">
            {% set giveUsFeedbackText %}"{{ 'General_GiveUsYourFeedback'|translate }}"{% endset %}
            {{ 'CoreAdminHome_CustomLogoFeedbackInfo'|translate(giveUsFeedbackText,"<a href='?module=CorePluginsAdmin&action=plugins' rel='noreferrer' target='_blank'>","</a>")|raw }}
        </div>
        <label class="radio">
            <input type="radio" name="useCustomLogo" value="1" {% if branding.use_custom_logo == 1 %}checked{% endif %} />
            {{ 'General_Yes'|translate }}
        </label>
        <label class="radio">
            <input type="radio" name="useCustomLogo" value="0" {% if branding.use_custom_logo == 0 %}checked{% endif %} />
            {{ 'General_No'|translate }}
        </label>
    </div>

    <div id="logoSettings">
        <form id="logoUploadForm" method="post" enctype="multipart/form-data" action="index.php?module=CoreAdminHome&format=json&action=uploadCustomLogo">
            {% if fileUploadEnabled %}
                <input type="hidden" name="token_auth" value="{{ token_auth }}"/>

                {% if logosWriteable %}
                    <div class="alert alert-warning uploaderror" style="display:none;">
                        {{ 'CoreAdminHome_LogoUploadFailed'|translate }}
                    </div>
                    <div class="form-group">
                        <label for="customLogo">{{ 'CoreAdminHome_LogoUpload'|translate }}</label>
                        <div class="form-help">{{ 'CoreAdminHome_LogoUploadHelp'|translate("JPG / PNG / GIF", 110) }}</div>
                        <input name="customLogo" type="file" id="customLogo"/>
                        <img src="{{ pathUserLogo }}?r={{ random() }}" id="currentLogo" style="max-height: 150px"/>
                    </div>
                    <div class="form-group">
                        <label for="customLogo">{{ 'CoreAdminHome_FaviconUpload'|translate }}</label>
                        <div class="form-help">{{ 'CoreAdminHome_LogoUploadHelp'|translate("JPG / PNG / GIF", 16) }}</div>
                        <input name="customFavicon" type="file" id="customFavicon"/>
                        <img src="{{ pathUserFavicon }}?r={{ random() }}" id="currentFavicon" width="16" height="16"/>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        {{ 'CoreAdminHome_LogoNotWriteableInstruction'
                            |translate("<code>"~pathUserLogoDirectory~"</code><br/>", pathUserLogo ~", "~ pathUserLogoSmall ~", "~ pathUserLogoSVG ~"")|raw }}
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-warning">
                    {{ 'CoreAdminHome_FileUploadDisabled'|translate("file_uploads=1") }}
                </div>
            {% endif %}
        </form>
    </div>

    <div class="ui-confirm" id="confirmTrustedHostChange">
        <h2>{{ 'CoreAdminHome_TrustedHostConfirm'|translate }}</h2>
        <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
        <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
    </div>
    <h2 id="trustedHostsSection">{{ 'CoreAdminHome_TrustedHostSettings'|translate }}</h2>
    <div id='trustedHostSettings'>

        {% include "@CoreHome/_warningInvalidHost.twig" %}

        {% if not isGeneralSettingsAdminEnabled %}
            {{ 'CoreAdminHome_PiwikIsInstalledAt'|translate }}: {{ trustedHosts|join(", ") }}
        {% else %}
            <div class="form-group">
                <label>{{ 'CoreAdminHome_ValidPiwikHostname'|translate }}</label>
            </div>
            <ul>
                {% for hostIdx, host in trustedHosts %}
                    <li>
                        <input name="trusted_host" type="text" value="{{ host }}"/>
                        <a href="#" class="remove-trusted-host btn btn-flat btn-lg" title="{{ 'General_Delete'|translate }}">
                            <span class="icon-minus"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="add-trusted-host">
                <input type="text" placeholder="{{ 'CoreAdminHome_AddNewTrustedHost'|translate|e('html_attr') }}" readonly/>

                <a href="#" class="btn btn-flat btn-lg" title="{{ 'General_Add'|translate }}">
                    <span class="icon-add"></span>
                </a>

            </div>
        {% endif %}
    </div>

    <input type="submit" value="{{ 'General_Save'|translate }}" class="submit generalSettingsSubmit"/>
    <br/><br/>

    {% if isDataPurgeSettingsEnabled %}
        <h2>{{ 'PrivacyManager_DeleteDataSettings'|translate }}</h2>
        <p>{{ 'PrivacyManager_DeleteDataDescription'|translate }} {{ 'PrivacyManager_DeleteDataDescription2'|translate }}</p>
        <p>
            <a href='{{ linkTo({'module':"PrivacyManager", 'action':"privacySettings"}) }}#deleteLogsAnchor'>
                {{ 'PrivacyManager_ClickHereSettings'|translate("'" ~ 'PrivacyManager_DeleteDataSettings'|translate ~ "'") }}
            </a>
        </p>
    {% endif %}

{% endblock %}
