{% extends 'admin.twig' %}

{% set title %}{{ 'CoreAdminHome_MenuGeneralSettings'|translate }}{% endset %}

{% block content %}
    {% set feedbackHelp %}
        <div vue-entry="CoreHome.ContentBlock" content-title="{{ 'CoreAdminHome_NeedHelp'|translate }}">
            <div>
                {{ 'CoreAdminHome_HowToGetHelp'|translate }}
                <br />
                <br />
                <a href="{{ linkTo({'module': 'Feedback', 'action': 'index'}) }}">{{ 'CoreAdminHome_LearnMore'|translate }}</a>
            </div>
        </div>
    {% endset %}

    {% if isSuperUser %}
        <div class="row">
            {% if hasQuickLinks or hasSystemSummary %}
                <div class="col s12 {% if isFeedbackEnabled %}m4{% else %}m6{% endif %}">
                    {% if hasQuickLinks %}<div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;CoreHome&quot;,&quot;action&quot;:&quot;quickLinks&quot;}"></div>{% endif %}
                    {% if hasSystemSummary %}<div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;CoreHome&quot;,&quot;action&quot;:&quot;getSystemSummary&quot;}"></div>{% endif %}
                </div>
            {% endif %}
            {% if hasDiagnostics or hasTrackingFailures %}
                <div class="col s12 {% if isFeedbackEnabled %}m4{% else %}m6{% endif %}">
                    {% if hasDiagnostics %}
                    <div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;Installation&quot;,&quot;action&quot;:&quot;getSystemCheck&quot;}"></div>
                    {% endif %}
                    {% if hasTrackingFailures %}
                    <div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;CoreAdminHome&quot;,&quot;action&quot;:&quot;getTrackingFailures&quot;}"></div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="col s12 m4">
            {% if isFeedbackEnabled %}
                {{ feedbackHelp|raw }}
            {% endif %}
            </div>
        </div>
    {% elseif isFeedbackEnabled %}
        {{ feedbackHelp|raw }}
    {% endif %}

    {% if hasPremiumFeatures and isMarketplaceEnabled and isInternetEnabled %}
        <div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;Marketplace&quot;,&quot;action&quot;:&quot;getPremiumFeatures&quot;}"></div>
    {% endif %}
    {% if hasNewPlugins and isMarketplaceEnabled and isInternetEnabled %}
        <div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;Marketplace&quot;,&quot;action&quot;:&quot;getNewPlugins&quot;,&quot;isAdminPage&quot;: &quot;1&quot;}"></div>
    {% endif %}

    {{ postEvent('Template.adminHome') }}

    <style type="text/css">
        #content .piwik-donate-call {
            padding: 0;
            border: 0;
            max-width: none;
        }
        .theWidgetContent .rss {
            margin: -10px -15px;
        }
    </style>

    {% if hasDonateForm or hasPiwikBlog %}
        <div class="row">
            {% if hasDonateForm %}
                <div class="col s12 {% if hasPiwikBlog %}m6{% endif %}">
                    <div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;CoreHome&quot;,&quot;action&quot;:&quot;getDonateForm&quot;,&quot;widget&quot;: &quot;0&quot;}"></div>
                </div>
            {% endif %}
            {% if hasPiwikBlog and isInternetEnabled %}
                <div class="col s12 {% if hasDonateForm %}m6{% endif %}">
                    <div vue-entry="CoreHome.WidgetLoader" widget-params="{&quot;module&quot;:&quot;RssWidget&quot;,&quot;action&quot;:&quot;rssPiwik&quot;}"></div>
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
