{% extends 'admin.twig' %}

{% block content %}
{{ loadJavascriptTranslations(['SecurityInfo'])|raw }}
<h2>{{ 'SecurityInfo_SecurityInformation'|translate }}</h2>
<p>{{ 'SecurityInfo_PluginDescription'|translate }}</p>
<p>Learn more: read our guide <a target='_blank' href='http://piwik.org/security/how-to-secure-piwik/'>Hardening Piwik: How to make Piwik and your web server
        more secure?</a></p>
<div style="max-width:980px;">
    {% for i,section in results.test_results %}
        <h2>{{ i }}</h2>
        <table class="dataTable entityTable">
            <thead>
            <tr>
                <th>{{ 'SecurityInfo_Test'|translate }}</th>
                <th>{{ 'SecurityInfo_Result'|translate }}</th>
            </tr>
            </thead>
            <tbody>
            {% for j,test in section %}
                <tr>
                    <td>{{ j }}</td>
                    {% set color %}
                        {% if test.result == -1 %}
                            background-color:green;color:white;
                        {% elseif test.result == -2 %}
                            background-color:yellow;color:black;
                        {% elseif test.result == -4 %}
                            background-color:red;color:white;
                        {% endif %}
                    {% endset %}
                    <td style="{{ color }}}">{{ test.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}