<div id='leftcolumn'>
    <h2 piwik-enriched-headline>{{ 'UserSettings_BrowserFamilies'|translate }}</h2>
    {{ dataTableBrowserType|raw }}

    <h2 piwik-enriched-headline>{{ 'UserSettings_Browsers'|translate }}</h2>
    {{ dataTableBrowser|raw }}

    <h2 piwik-enriched-headline>{{ 'General_Plugins'|translate }}</h2>
    {{ dataTablePlugin|raw }}
</div>

<div id='rightcolumn'>
    <h2 piwik-enriched-headline>{{ 'UserSettings_Configurations'|translate }}</h2>
    {{ dataTableConfiguration|raw }}

    <h2 piwik-enriched-headline>{{ 'UserSettings_OperatingSystems'|translate }}</h2>
    {{ dataTableOS|raw }}

    <h2 piwik-enriched-headline>{{ 'UserSettings_Resolutions'|translate }}</h2>
    {{ dataTableResolution|raw }}

    <h2 piwik-enriched-headline>{{ 'UserSettings_MobileVsDesktop'|translate }}</h2>
    {{ dataTableMobileVsDesktop|raw }}

    <h2 piwik-enriched-headline>{{ 'UserSettings_BrowserLanguage'|translate }}</h2>
    {{ dataTableBrowserLanguage|raw }}
</div>
