<div id='leftcolumn'>
    {% if dataTablePlugin|default is not empty %}
    <h2 piwik-enriched-headline>{{ 'General_Plugins'|translate }}</h2>
    {{ dataTablePlugin|raw }}
    {% endif %}

    {% if dataTableBrowserLanguage|default is not empty %}
    <h2 piwik-enriched-headline>{{ 'UserSettings_BrowserLanguage'|translate }}</h2>
    {{ dataTableBrowserLanguage|raw }}
    {% endif %}
</div>

<div id='rightcolumn'>
    {% if dataTableResolution|default is not empty %}
    <h2 piwik-enriched-headline>{{ 'Resolution_Resolutions'|translate }}</h2>
    {{ dataTableResolution|raw }}
    {% endif %}

    {% if dataTableConfiguration|default is not empty %}
    <h2 piwik-enriched-headline>{{ 'Resolution_Configurations'|translate }}</h2>
    {{ dataTableConfiguration|raw }}
    {% endif %}
</div>
