<div class="dataTable" data-report="{{ properties.uniqueId }}" data-params="{{ javascriptVariablesToSet|json_encode }}">

    <div class="reportDocumentation">
        {% if reportDocumentation is not empty %}<p>{{ reportDocumentation }}</p>{% endif %}
        {% if properties.metadata.archived_date is defined %}<p>{{ properties.metadata.archived_date }}</p>{% endif %}
    </div>

    <div class="{% if graphType=='evolution' %}dataTableGraphEvolutionWrapper{% else %}dataTableGraphWrapper{% endif %}">

        {% if isDataAvailable %}
            <div class="jqplot-{{ graphType }}" style="padding-left: 6px;">
                <div class="piwik-graph"
                    style="position: relative; width: {{ width }}{% if width|slice(-1,1) != '%' %}px{% endif %}; height: {{ height }}{% if height|slice(-1,1) != '%' %}px{% endif %};"
                    data-data="{{ data|e('html') }}"
                    data-graph-type="{{ graphType }}"
                    {% if properties.externalSeriesToggle is defined and properties.externalSeriesToggle %}
                    data-external-series-toggle="{{ properties.externalSeriesToggle }}"
                    data-external-series-show-all="{% if properties.externalSeriesToggleShowAll %}1{% else %}0{% endif %}"
                    {% endif %}>
                </div>
            </div>
        {% else %}
            <div>
                <div class="pk-emptyGraph">
                    {% if showReportDataWasPurgedMessage %}
                        {{ 'General_DataForThisGraphHasBeenPurged'|translate(deleteReportsOlderThan) }}
                    {% else %}
                        {{ 'General_NoDataForGraph_js'|translate }}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if properties.show_footer %}
            {% include "@CoreHome/_dataTableFooter.twig" %}
        {% endif %}
        
        {% include "@CoreHome/_dataTableJS.twig" %}
    </div>
</div>
