<div class="dataTable" data-report="{{ properties.uniqueId }}" data-params="{{ javascriptVariablesToSet|json_encode|e('html') }}">
    {% if reportDocumentation is not empty and javascriptVariablesToSet.viewDataTable != 'tableGoals' %}
        <div class="reportDocumentation"><p>{{ reportDocumentation }}</p></div>
    {% endif %}
    <div class="tagCloud">
        {% if cloudValues|length == 0 %}
            {% if showReportDataWasPurgedMessage %}
                <div class="pk-emptyDataTable">{{ 'General_DataForThisTagCloudHasBeenPurged'|translate(deleteReportsOlderThan) }}</div>
            {% else %}
                <div class="pk-emptyDataTable">{{ 'General_NoDataForTagCloud'|translate }}</div>
            {% endif %}
        {% else %}
            {% for word,value in cloudValues %}
                <span title="{{ value.word }} ({{ value.value }} {{ columnTranslation }})" class="word size{{ value.size }}
                {# we strike tags with 0 hits #}
                {% if value.value == 0 %}valueIsZero{% endif %}">
		        {% if labelMetadata[value.word].url is not sameas(false) %}
                    <a href="{{ labelMetadata[value.word].url }}" target="_blank">
                {% endif %}
                {% if labelMetadata[value.word].logo is not sameas(false) %}
                    <img src="{{ labelMetadata[value.word].logo }}" width="{{ value.logoWidth }}" />
                {% else %}
                    {{ value.wordTruncated }}
                {% endif %}
                {% if labelMetadata[value.word].url is not sameas(false) %}</a>{% endif %}
                </span>
            {% endfor %}
        {% endif %}
    </div>
    {% if properties.show_footer %}
        {% include "@CoreHome/_dataTableFooter.twig" %}
    {% endif %}
    {% include "@CoreHome/_dataTableJS.twig" %}
</div>
