<div class="dataTable" data-table-type="actionDataTable" data-report="{{ properties.uniqueId }}" data-params="{{ javascriptVariablesToSet|json_encode|e('html') }}">
    <div class="dataTableActionsWrapper">
        {% if arrayDataTable.result is define and arrayDataTable.result == 'error' %}
            {{ arrayDataTable.message }}
        {% else %}
            {% if arrayDataTable|length == 0 %}
                <div class="pk-emptyDataTable">{{ 'CoreHome_ThereIsNoDataForThisReport'|translate }}</div>
            {% else %}
                <table cellspacing="0" class="dataTable dataTableActions">
                    
                    {% include "@CoreHome/_dataTableHead.twig" %}
                    
                    <tbody>
                    {% for row in arrayDataTable %}
                        <tr {% if row.idsubdatatable %}class="level{{ row.level }} rowToProcess subActionsDataTable" id="{{ row.idsubdatatable }}"
                            {% else %}class="actionsDataTable rowToProcess level{{ row.level }}"{% endif %}>
                            {% for column in dataTableColumns %}
                                <td>
                                    {% include "@CoreHome/_dataTableCell.twig" %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if properties.show_footer %}
                {% include "@CoreHome/_dataTableFooter.twig" %}
            {% endif %}
            {% include "@CoreHome/_dataTableJS.twig" %}
        {% endif %}
    </div>
</div>
