{% if error is defined %}
    {{ error.message }}
{% else %}
    {% if (dataTable is empty or dataTable.getRowsCount() == 0) and not properties.visualization_properties.show_expanded|default(false) %}
        <tr>
            <td colspan="{{ properties.columns_to_display|length }}">{{ 'CoreHome_CategoryNoData'|translate }}</td>
        </tr>
    {% else %}
        {% for row in dataTable.getRows() %}
            {# display this row if it doesn't have a subtable or if we don't replace the row with the subtable #}
            {% if not row.getIdSubDataTable() or not properties.visualization_properties.show_expanded|default(false) or not properties.replace_row_with_subtable|default(false) %}
            <tr {% if row.getIdSubDataTable() %}id="{{ row.getIdSubDataTable() }}"{% endif %}
                class="{{ row.getMetadata('css_class') }} {% if row.getIdSubDataTable() %}subDataTable{% endif %}">
                {% for column in properties.columns_to_display %}
                    <td>
                        {% include "@CoreHome/_dataTableCell.twig" %}
                    </td>
                {% endfor %}
            </tr>
            {% endif %}
            
            {# display subtable if present and showing expanded datatable #}
            {% if properties.visualization_properties.show_expanded|default(false) and row.getIdSubDataTable() %}
                {% include properties.visualization_properties.subtable_template|default("@CoreHome/_dataTable.twig") with {'dataTable': row.getSubtable()} %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
