{# testing, remove test_ from var names #}
{% set test_latest_version_available="3.0" %}
{% set test_piwikUrl='http://demo.piwik.org/' %}
{% set isPiwikDemo %}{{ piwikUrl == 'http://demo.piwik.org/' or piwikUrl == 'https://demo.piwik.org/'}}{% endset %}

{% set updateCheck %}
<div id="updateCheckLinkContainer">
    <span class='loadingPiwik' style="display:none;"><img src='plugins/Morpheus/images/loading-blue.gif'/></span>
    <img class="icon" src="plugins/Morpheus/images/reload.png"/>
    <a href="#" id="checkForUpdates"><em>{{ 'CoreHome_CheckForUpdates'|translate }}</em></a>
</div>
{% endset %}

{% if isPiwikDemo or (latest_version_available and hasSomeViewAccess and not isUserIsAnonymous) or (isSuperUser and adminMenu is defined and adminMenu) %}
<span id="header_message" class="{% if isPiwikDemo or not latest_version_available %}header_info{% else %}header_alert{% endif %}">
    <span class="header_short">
        {% if isPiwikDemo %}
            {{ 'General_YouAreViewingDemoShortMessage'|translate }}
        {% elseif latest_version_available %}
            {{ 'General_NewUpdatePiwikX'|translate(latest_version_available) }}
        {% elseif isSuperUser and adminMenu is defined and adminMenu %}
            {{ updateCheck|raw }}
        {% endif %}
    </span>

    <span class="header_full">
        {% if isPiwikDemo %}
            {{ 'General_YouAreViewingDemoShortMessage'|translate }}
            <br />
            {{ 'General_DownloadFullVersion'|translate("<a href='http://piwik.org/'>","</a>","<a href='http://piwik.org'>piwik.org</a>")|raw }}
            <br/>
        {% endif %}
        {% if latest_version_available and isSuperUser %}
            {{ 'General_PiwikXIsAvailablePleaseUpdateNow'|translate(latest_version_available,"<br /><a href='index.php?module=CoreUpdater&amp;action=newVersionAvailable'>","</a>","<a href='?module=Proxy&amp;action=redirect&amp;url=http://piwik.org/changelog/' target='_blank'>","</a>")|raw }}
            <br/>
            {{ 'General_YouAreCurrentlyUsing'|translate(piwik_version) }}
        {% elseif latest_version_available and not isPiwikDemo and hasSomeViewAccess and not isUserIsAnonymous %}
            {% set updateSubject = 'General_NewUpdatePiwikX'|translate(latest_version_available)|e('url') %}
            {{ 'General_PiwikXIsAvailablePleaseNotifyPiwikAdmin'|translate("<a href='?module=Proxy&action=redirect&url=http://piwik.org/' target='_blank'>Piwik</a> <a href='?module=Proxy&action=redirect&url=http://piwik.org/changelog/' target='_blank'>" ~ latest_version_available ~ "</a>", "<a href='mailto:" ~ superUserEmails ~ "?subject=" ~ updateSubject ~ "'>", "</a>")|raw }}
        {% elseif isSuperUser and adminMenu is defined and adminMenu %}
            {{ updateCheck|raw }}
            <br />
            {{ 'General_YouAreCurrentlyUsing'|translate(piwik_version) }}
        {% endif %}
    </span>
</span>
{% endif %}