<div class="Menu--dashboard">

    <ul class="Menu-tabList">
        {% for level1,level2 in menu %}
            <li id="{{ level2._url|urlRewriteWithParameters }}">
                <a href="#{{ level2._url|urlRewriteWithParameters|slice(1) }}"
                   onclick="return piwikMenu.onItemClick(this);">{{ level1|translate }}</a>
                <ul>
                {% for name,urlParameters in level2 %}
                    {% if name|slice(0,1) != '_' %}
                        <li>
                            <a href='#{{ urlParameters._url|urlRewriteWithParameters|slice(1) }}'
                               onclick='return piwikMenu.onItemClick(this);'>
                                {{ name|translate }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        <li id="Searchmenu">
            <span piwik-quick-access></span>
        </li>
    </ul>

</div>
<div class="nav_sep"></div>
