<div id="notificationContainer">

</div>
{% if notifications|length %}
<div style="display:none">
    {% for notificationId, notification in notifications %}
        <div data-id="{{ notificationId|e('html_attr') }}"
             data-role="notification"
             data-type="{{ notification.type|e('html_attr') }}"
             data-title="{{ notification.title|e('html_attr') }}"
             data-noclear="{{ notification.hasNoClear|e('html_attr') }}"
             data-context="{{ notification.context|e('html_attr') }}"
             data-priority="{{ notification.priority|e('html_attr') }}">
            {{ notification.message|raw }}
        </div>
    {% endfor %}
</div>
{% endif %}
