<div class="ui-confirm" id="shortcuthelp">
    <h2>{{ 'CoreHome_ShortcutsAvailable'|translate }}</h2>
    <dl>
        <dt>z</dt>
        <dd>{{ 'CoreHome_ShortcutZenMode'|translate }}</dd>
        <dt>s</dt>
        <dd>{{ 'CoreHome_ShortcutSegmentSelector'|translate }}</dd>
        <dt>w</dt>
        <dd>{{ 'CoreHome_ShortcutWebsiteSelector'|translate }}</dd>
        <dt>d</dt>
        <dd>{{ 'CoreHome_ShortcutCalendar'|translate }}</dd>
        <dt>f</dt>
        <dd>{{ 'CoreHome_ShortcutSearch'|translate }}</dd>
        <dt>?</dt>
        <dd>{{ 'CoreHome_ShortcutHelp'|translate }}</dd>
    </dl>
</div>