<div class="{{ cssIdentifier }} {{ cssClass }}"
     data-props="{{ clientSideProperties|json_encode }}"
     data-params="{{ clientSideParameters|json_encode }}">
     {% render implView with implOverride %}
</div>
<script>$(document).ready(function () { require('{{ jsNamespace }}').{{ jsClass }}.initElements(); });</script>