{% set tooltipIndex %}{{ column }}_tooltip{% endset %}
{% if row.metadata[tooltipIndex] is defined %}<span class="cell-tooltip" data-tooltip="{{ row.metadata[tooltipIndex] }}">{% endif %}
{% if not row.idsubdatatable and column=='label' and row.metadata.url is not empty %}
    <a target="_blank" href='{% if row.metadata.url|slice(0,4) not in ['http','ftp:'] %}http://{% endif %}{{ row.metadata.url }}'>
    {% if row.metadata.logo is empty %}
        <img class="link" width="10" height="9" src="plugins/Zeitgeist/theme/images/link.gif"/>
    {% endif %}
{% endif %}
{% if column=='label' %}
    {% import 'macros.twig' as piwik %}
    {{ piwik.logoHtml(row.metadata, row.columns.label) }}
    {% if row.metadata.html_label_prefix is not empty %}<span class='label-prefix'>{{ row.metadata.html_label_prefix }}</span>{% endif %}
    <span class='label{% if row.metadata.is_aggregate is not empty and  row.metadata.is_aggregate %} highlighted{% endif %}'
        {% if properties.tooltip_metadata_name is not empty %}title="{{ row.metadata[properties.tooltip_metadata_name] }}"{% endif %}>
        {# make sure there are no whitespaces inside the span #}
    {% if row.metadata.html_label_suffix is not empty %}<span class='label-suffix'>{{ row.metadata.html_label_suffix }}</span>{% endif %}
{% endif %}
{% if row.columns[column] is defined %}{{ row.columns[column] }}{% else %}{{ defaultWhenColumnValueNotDefined }}{% endif %}
{% if column=='label' %}</span>{% endif %}
{% if not row.idsubdatatable and column=='label' and row.metadata.url is not empty %}
    </a>
{% endif %}
{% if row.metadata[tooltipIndex] is defined %}</span>{% endif %}