<div class="widgetBody systemSummary">
    <div>
        <span>{{ 'CoreHome_SystemSummaryNumUsersTotal'|translate }}: </span>
        <strong>{{ numUsers }}</strong>
    </div>
    <div>
        <span>{{ 'CoreHome_SystemSummaryNumWebsitesTotal'|translate }}:</span>
        <strong>{{ numWebsites }}</strong>
    </div>
    <div>
        <span>{{ 'CoreHome_SystemSummaryNumSegmentsTotal'|translate }}:</span>
        <strong>{{ numSegments }}</strong>
    </div>
    <div>
        <span>{{ 'CoreHome_SystemSummaryNumPlugins'|translate }}:</span>
        <strong>{{ numPlugins }}</strong>
    </div>
    <div>
        <span>{{ 'CoreHome_SystemSummaryPiwikVersion'|translate }}:</span>
        <strong>{{ piwikVersion }}</strong>
    </div>
    <div>
        <span>{{ 'CoreHome_SystemSummaryMysqlVersion'|translate }}:</span>
        <strong>{{ mySqlVersion }}</strong>
    </div>
    <div>
        <span>{{ 'CoreHome_SystemSummaryPhpVersion'|translate }}:</span>
        <strong>{{ phpVersion }}</strong>
    </div>
    <br />
</div>