<div class="widgetBody systemSummary">
    <table>
        <tbody>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryNumUsersTotal'|translate }}: </td>
            <td>{{ numUsers }}</td>
        </tr>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryNumWebsitesTotal'|translate }}:</td>
            <td>{{ numWebsites }}</td>
        </tr>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryNumSegmentsTotal'|translate }}:</td>
            <td>{{ numSegments }}</td>
        </tr>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryNumPlugins'|translate }}:</td>
            <td>{{ numPlugins }}</td>
        </tr>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryPiwikVersion'|translate }}:</td>
            <td>{{ piwikVersion }}</td>
        </tr>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryMysqlVersion'|translate }}:</td>
            <td>{{ mySqlVersion }}</td>
        </tr>
        <tr>
            <td>{{ 'CoreHome_SystemSummaryPhpVersion'|translate }}:</td>
            <td>{{ phpVersion }}</td>
        </tr>
        </tbody>
    </table>
    <p>
</div>