<div id="geoipdb-update-info" {% if not geoIPDatabasesInstalled %}style="display:none;"{% endif %}>
    <p>{{ 'UserCountry_GeoIPUpdaterInstructions'|translate('<a href="http://www.maxmind.com/en/download_files?rId=piwik" _target="blank">','</a>',
        '<a href="http://www.maxmind.com/?rId=piwik">','</a>')|raw }}
        <br/><br/>
{{ 'UserCountry_GeoLiteCityLink'|translate("<a href='"~geoLiteUrl~"'>",geoLiteUrl,'</a>')|raw }}
	{% if geoIPDatabasesInstalled %}
	<br/><br/>{{ 'UserCountry_GeoIPUpdaterIntro'|translate }}:
	{% endif %}
	</p>
	<table class="adminTable" style="width:900px;">
		<tr>
			<th>{{ 'Live_GoalType'|translate }}</th>
			<th>{{ 'Actions_ColumnDownloadURL'|translate }}</th>
			<th></th>
		</tr>
		<tr>
			<td width="150">{{ 'UserCountry_LocationDatabase'|translate }}</td>
			<td><input type="text" id="geoip-location-db" value="{{ geoIPLocUrl }}"/></td>
			<td width="164">
				{% set locationHint %}
				{{ 'UserCountry_LocationDatabaseHint'|translate }}
				{% endset %}
                {% import 'macros.twig' as piwik %}
				{{ piwik.inlineHelp(locationHint) }}
			</td>
		</tr>
		<tr>
			<td width="150">{{ 'UserCountry_ISPDatabase'|translate }}</td>
			<td><input type="text" id="geoip-isp-db" value="{{ geoIPIspUrl }}"/></td>
		</tr>
		<tr>
			<td width="150">{{ 'UserCountry_OrgDatabase'|translate }}</td>
			<td><input type="text" id="geoip-org-db" value="{{ geoIPOrgUrl }}"/></td>
		</tr>
		<tr>
			<td width="150">{{ 'UserCountry_DownloadNewDatabasesEvery'|translate }}</td>
			<td id="geoip-update-period-cell">
				<input type="radio" name="geoip-update-period" value="month" id="geoip-update-period-month" {% if geoIPUpdatePeriod == 'month' %}checked="checked"{% endif %} />
				<label for="geoip-update-period-month">{{ 'CoreHome_PeriodMonth'|translate }}</label>

				<input type="radio" name="geoip-update-period" value="week" id="geoip-update-period-week" {% if geoIPUpdatePeriod == 'week' %}checked="checked"{% endif %}/>
				<label for="geoip-update-period-week">{{ 'CoreHome_PeriodWeek'|translate }}</label>
			</td>
			<td width="164">
			{% set lastTimeRunNote %}
				{% if lastTimeUpdaterRun is defined and lastTimeUpdaterRun is not empty %}
					{{ 'UserCountry_UpdaterWasLastRun'|translate(lastTimeUpdaterRun)|raw }}
				{% else %}
					{{ 'UserCountry_UpdaterHasNotBeenRun'|translate }}
				{% endif %}
        <br/><br/>
        <div id="geoip-updater-next-run-time">
        {% include "@UserCountry/_updaterNextRunTime.twig" %}
        </div>
			{% endset %}
			{{ piwik.inlineHelp(lastTimeRunNote) }}
			</td>
		</tr>
	</table>
	<p style="display:inline-block;vertical-align:top;">
		<input type="button" class="submit" value="{% if not geoIPDatabasesInstalled %}{{ 'General_Continue'|translate }}{% else %}{{ 'General_Save'|translate }}{% endif %}" id="update-geoip-links"/>
	</p>
	<div style="display:inline-block;width:700px;">
		<div id="done-updating-updater"></div>
		<div id="geoipdb-update-info-error"></div>
		<div id="geoip-progressbar-container" style="display:none;">
			<div id="geoip-updater-progressbar"></div>
			<span id="geoip-updater-progressbar-label"></span>
		</div>
	</div>
</div>
