{% extends 'admin.twig' %}

{% block content %}
{% import 'macros.twig' as piwik %}

<h2 piwik-enriched-headline
    help-url="http://piwik.org/docs/geo-locate/"
    id="location-providers">{{ 'UserCountry_Geolocation'|translate }}</h2>

<div style="width:900px;">

    <p>{{ 'UserCountry_GeolocationPageDesc'|translate }}</p>

    {% if not isThereWorkingProvider %}
        <h3 style="margin-top:0;">{{ 'UserCountry_HowToSetupGeoIP'|translate }}</h3>
        <p>{{ 'UserCountry_HowToSetupGeoIPIntro'|translate }}</p>
        <ul style="list-style:disc;margin-left:2em;">
            <li>{{ 'UserCountry_HowToSetupGeoIP_Step1'|translate('<a href="http://geolite.maxmind.com/download/geoip/database/GeoLiteCity.dat.gz">','</a>','<a target="_blank" href="http://www.maxmind.com/?rId=piwik">','</a>')|raw }}</li>
            <li>{{ 'UserCountry_HowToSetupGeoIP_Step2'|translate("'GeoLiteCity.dat'",'<strong>','</strong>')|raw }}</li>
            <li>{{ 'UserCountry_HowToSetupGeoIP_Step3'|translate('<strong>','</strong>','<span style="color:green"><strong>','</strong></span>')|raw }}</li>
            <li>{{ 'UserCountry_HowToSetupGeoIP_Step4'|translate }}</li>
        </ul>
        <p>&nbsp;</p>
    {% endif %}

    <table class="adminTable locationProviderTable">
        <tr>
            <th>{{ 'UserCountry_LocationProvider'|translate }}</th>
            <th>{{ 'General_Description'|translate }}</th>
            <th>{{ 'General_InfoFor'|translate(thisIP) }}</th>
        </tr>
        {% for id,provider in locationProviders %}
        <tr>
            <td width="150">
                <p>
                    <input class="location-provider" name="location-provider" value="{{ id }}" type="radio" {% if currentProviderId == id %}checked="checked"{% endif %}
                           id="provider_input_{{ id }}" {% if provider.status != 1 %}disabled="disabled"{% endif %}/>
                    <label for="provider_input_{{ id }}">{{ provider.title|translate }}</label><br/>
                    <span class="loadingPiwik" style="display:none;"><img src="./plugins/Morpheus/images/loading-blue.gif"/></span>
                    <span class="success" ></span>
                </p>

                <p class="loc-provider-status">
                    <strong><em>
                            {% if provider.status == 0 %}
                                <span class="is-not-installed">{{ 'General_NotInstalled'|translate}}</span>
                            {% elseif provider.status == 1 %}
                                <span class="is-installed">{{ 'General_Installed'|translate }}</span>
                            {% elseif provider.status == 2 %}
                                <span class="is-broken">{{ 'General_Broken'|translate }}</span>
                            {% endif %}
                        </em></strong>
                </p>
            </td>
            <td>
                <p>{{ provider.description|translate|raw }}</p>
                {% if provider.status != 1 and provider.install_docs is defined %}
                    <p>{{ provider.install_docs|raw }}</p>
                {% endif %}
            </td>
            <td width="164">
                {% if provider.status == 1 %}
                    {% set currentLocation %}
                        {% if thisIP != '127.0.0.1' %}
                            {{ 'UserCountry_CurrentLocationIntro'|translate }}:
                            <div style="text-align:left;">
                                <br/>
                                <span class="loadingPiwik" style="display:none;position:absolute;">
                                    <img src="./plugins/Morpheus/images/loading-blue.gif"/> {{ 'General_Loading'|translate }}</span>
                                <span class="location"><strong><em>{{ provider.location|raw }}</em></strong></span>
                            </div>
                            <div style="text-align:right;">
                                <a href="#" class="refresh-loc" data-impl-id="{{ id }}"><em>{{ 'General_Refresh'|translate }}</em></a>
                            </div>
                        {% else %}
                            {{ 'UserCountry_CannotLocalizeLocalIP'|translate(thisIP) }}
                        {% endif %}
                    {% endset %}
                    {{ piwik.inlineHelp(currentLocation) }}
                {% endif %}
                {% if provider.statusMessage is defined and provider.statusMessage %}
                    {% set brokenReason %}
                        {% if provider.status == 2 %}<strong><em>{{ 'General_Error'|translate }}:</em></strong> {% endif %}{{ provider.statusMessage|raw }}
                    {% endset %}
                    {{ piwik.inlineHelp(brokenReason) }}
                {% endif %}
                {% if provider.extra_message is defined and provider.extra_message %}
                    {% set extraMessage %}
                        {{ provider.extra_message|raw }}
                    {% endset %}
                    <br/>
                    {{ piwik.inlineHelp(extraMessage) }}
                {% endif %}
            </td>
            {% endfor %}
    </table>

</div>

{% if not geoIPDatabasesInstalled %}
    <h2 id="geoip-db-mangement">{{ 'UserCountry_GeoIPDatabases'|translate }}</h2>
{% else %}
    <h2 id="geoip-db-mangement">{{ 'UserCountry_SetupAutomaticUpdatesOfGeoIP'|translate }}</h2>
{% endif %}

{% if showGeoIPUpdateSection %}
    <div id="manage-geoip-dbs" style="width:900px;" class="adminTable">

    {% if not geoIPDatabasesInstalled %}
        <div id="geoipdb-screen1">
            <p>{{ 'UserCountry_PiwikNotManagingGeoIPDBs'|translate }}</p>

            <div class="geoipdb-column-1">
                <p>{{ 'UserCountry_IWantToDownloadFreeGeoIP'|translate|raw }}</p>
                <input type="button" class="submit" value="{{ 'General_GetStarted'|translate }}..." id="start-download-free-geoip"/>
            </div>
            <div class="geoipdb-column-2">
                <p>{{ 'UserCountry_IPurchasedGeoIPDBs'|translate('<a href="http://www.maxmind.com/en/geolocation_landing?rId=piwik">','</a>')|raw }}</p>
                <input type="button" class="submit" value="{{ 'General_GetStarted'|translate }}..." id="start-automatic-update-geoip"/>
            </div>
        </div>
        <div id="geoipdb-screen2-download" style="display:none;">
            <p class='loadingPiwik'><img src='./plugins/Morpheus/images/loading-blue.gif'/>
            {{ 'UserCountry_DownloadingDb'|translate('<a href="'~geoLiteUrl~'">GeoLiteCity.dat</a>')|raw }}...</p>
	        <div id="geoip-download-progress"></div>
        </div>
    {% endif %}
    {% include "@UserCountry/_updaterManage.twig" %}
{% else %}
<p style="width:900px;" class="form-description">{{ 'UserCountry_CannotSetupGeoIPAutoUpdating'|translate }}</p>
{% endif %}
</div>

{% endblock %}

