{% extends 'admin.twig' %}

{% set title %}{{ 'UserCountry_Geolocation'|translate }}{% endset %}

{% block content %}
{% import 'macros.twig' as piwik %}

<div
    vue-entry="UserCountry.AdminPage"
    current-provider-id="{{ currentProviderId|json_encode|e('html_attr') }}"
    is-there-working-provider="{{ isThereWorkingProvider|default(null)|json_encode|e('html_attr') }}"
    set-up-guides="{{ setUpGuides|default(null)|json_encode|e('html_attr') }}"
    this-ip="{{ thisIP|default(null)|json_encode|e('html_attr') }}"
    location-providers="{{ locationProviders|default(null)|json_encode|e('html_attr') }}"
    default-provider-id="{{ constant("Piwik\\Plugins\\UserCountry\\LocationProvider\\DefaultProvider::ID")|default(null)|json_encode|e('html_attr') }}"
    disabled-provider-id="{{ constant("Piwik\\Plugins\\UserCountry\\LocationProvider\\DisabledProvider::ID")|default(null)|json_encode|e('html_attr') }}"
></div>

{{ configurations|raw }}

{% endblock %}

