<div id="leftcolumn">
    {{ postEvent("Template.leftColumnUserCountry") }}

    <h2 piwik-enriched-headline>{{ 'UserCountry_Continent'|translate }}</h2>
    {{ dataTableContinent|raw }}

    <div class="sparkline">
        {{ sparkline(urlSparklineCountries) }}
        {{ 'UserCountry_DistinctCountries'|translate("<strong>"~numberDistinctCountries~"</strong>")|raw }}
    </div>

    {{ postEvent("Template.footerUserCountry") }}

</div>

<div id="rightcolumn">
    <h2 piwik-enriched-headline>{{ 'UserCountry_Country'|translate }}</h2>
    {{ dataTableCountry|raw }}

    <h2 piwik-enriched-headline>{{ 'UserCountry_Region'|translate }}</h2>
    {{ dataTableRegion|raw }}

    <h2 piwik-enriched-headline>{{ 'UserCountry_City'|translate }}</h2>
    {{ dataTableCity|raw }}
</div>

