{% set closingHeadTag %}<code>{{ '</head>'|e('html') }}</code>{% endset %}
<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ content|raw }}</p>
<a target="_blank" href="{{ piwikUrl }}?module={{ loginPlugin }}&action=acceptInvitation&token={{ token }}"
>{{ 'CoreAdminHome_AcceptInvite'|translate }}</a> |
<a target="_blank" href="{{ piwikUrl }}?module={{ loginPlugin }}&action=declineInvitation&token={{ token }}"
>{{ 'CoreAdminHome_DeclineInvite'|translate }}</a>
<p>{{ notes }}</p>