{% extends 'admin.twig' %}

{% set title %}{{ 'General_Security'|translate }}{% endset %}

{% block content %}

    <div piwik-content-block content-title="Auth tokens">
        <p>
            {{ 'UsersManager_TokenAuthIntro'|translate }}
        </p>
        <form  action="{{ linkTo({'module': 'UsersManager', 'action': 'addNewToken'}) }}" method="post">
            <div piwik-field uicontrol="text" name="description"
                 data-title="Description"
                 maxlength="100"
                 inline-help="What are you using this token for?">
            </div>

            <input type="hidden" value="{{ nonce|e('html_attr') }}" name="nonce">

            <input type="submit"
                   value="{{ 'UsersManager_CreateToken'|translate|e('html_attr') }}"
                   class="btn"/>
            {% set backlink = linkTo({'module': 'UsersManager', 'action': 'userSecurity'}) %}
            {{ 'General_OrCancel'|translate("<a class='entityCancelLink' href='" ~ backlink ~ "'>","</a>")|raw }}

        </form>
    </div>

{% endblock %}
