{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_MenuAnonymousUserSettings'|translate|raw }}{% endset %}

{% block content %}
{% if isSuperUser %}
<div
    matomo-anonymous-settings
    title="{{ title|json_encode|e('html_attr') }}"
    anonymous-sites="{{ anonymousSites|json_encode|e('html_attr') }}"
    anonymous-default-report="{{ anonymousDefaultReport|json_encode|e('html_attr') }}"
    anonymous-default-site="{{ anonymousDefaultSite|json_encode|e('html_attr') }}"
    anonymous-default-date="{{ anonymousDefaultDate|json_encode|e('html_attr') }}"
    available-default-dates="{{ availableDefaultDates|json_encode|e('html_attr') }}"
    default-report-options="{{ defaultReportOptions|json_encode|e('html_attr') }}"
></div>
{% endif %}
{% endblock %}