{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_ManageAccess'|translate }}{% endset %}

{% block content %}

<div
    vue-entry="UsersManager.UsersManager"
    initial-site-id="{{ idSiteSelected|json_encode|e('html_attr') }}"
    initial-site-name="{{ defaultReportSiteName|json_encode|e('html_attr') }}"
    current-user-role="{{ currentUserRole|json_encode|e('html_attr') }}"
    access-levels="{{ accessLevels|json_encode|e('html_attr') }}"
    filter-access-levels="{{ filterAccessLevels|json_encode|e('html_attr') }}"
>
</div>

{% endblock %}
