{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_ManageAccess'|translate }}{% endset %}

{% block content %}
<div
    vue-entry="UsersManager.UsersManager"
    initial-site-id="{{ idSiteSelected|json_encode }}"
    invite-token-expiry-days="{{ inviteTokenExpiryDays }}"
    initial-site-name="{{ defaultReportSiteName|json_encode }}"
    current-user-role="{{ currentUserRole|json_encode }}"
    access-levels="{{ accessLevels|json_encode }}"
    filter-access-levels="{{ filterAccessLevels|json_encode }}"
    filter-status-levels="{{ statusAccessLevels|json_encode }}"
    activated-plugins="{{ activatedPlugins|json_encode }}"
>
</div>

{% endblock %}
