{% extends 'admin.twig' %}

{% block content %}

<h2>{{ 'UsersManager_ManageAccess'|translate }}</h2>
<div id="sites">
    <section class="sites_selector_container">
        <p>{{ 'UsersManager_MainDescription'|translate }}</p>

        <div style="display:inline-block;margin-top:5px;">{{ 'SitesManager_Sites'|translate }}:</div>

        {% set applyAllSitesText %}
            <strong>{{ 'UsersManager_ApplyToAllWebsites'|translate }}</strong>
        {% endset %}
        {% include "@CoreHome/_siteSelect.twig" with {
            'siteName': defaultReportSiteName,
            'idSite':idSiteSelected,
            'allSitesItemText': applyAllSitesText,
            'allWebsitesLinkLocation': 'top',
            'siteSelectorId':"usersManagerSiteSelect",
            'switchSiteOnSelect':false
        } %}
    </section>
</div>

{% import 'ajaxMacros.twig' as ajax %}
{{ ajax.errorDiv }}
{{ ajax.loadingDiv }}

<div class="entityContainer" style="width:600px;">
    {% if anonymousHasViewAccess %}
        <div style="display:inline-block;margin-top:10px;" id="usersManagerAnonymousUserHasViewAccess">
            {{ ['UsersManager_AnonymousUserHasViewAccess'|translate("'anonymous'","'view'"), 'UsersManager_AnonymousUserHasViewAccess2'|translate]|join('<br/>')|notification({'placeAt': '#usersManagerAnonymousUserHasViewAccess', 'noclear': true}) }}
        </div>
    {% endif %}
    <table class="entityTable dataTable" id="access" style="display:inline-table;width:500px;">
        <thead>
        <tr>
            <th class='first'>{{ 'UsersManager_User'|translate }}</th>
            <th>{{ 'UsersManager_Alias'|translate }}</th>
            <th>{{ 'UsersManager_PrivNone'|translate }}</th>
            <th>{{ 'UsersManager_PrivView'|translate }}</th>
            <th>{{ 'UsersManager_PrivAdmin'|translate }}</th>
        </tr>
        </thead>

        <tbody>
        {% set accesValid %}<img src='plugins/UsersManager/images/ok.png' class='accessGranted' />{% endset %}
        {% set accesInvalid %}<img src='plugins/UsersManager/images/no-access.png' class='updateAccess' />{% endset %}
        {% for login,access in usersAccessByWebsite %}
            <tr>
                <td id='login'>{{ login }}</td>
                <td>{{ usersAliasByLogin[login]|raw }}</td>
                <td id='noaccess'>{% if access=='noaccess' and idSiteSelected != 'all' %}{{ accesValid }}{% else %}{{ accesInvalid }}{% endif %}&nbsp;</td>
                <td id='view'>{% if access == 'view' and idSiteSelected != 'all' %}{{ accesValid }}{% else %}{{ accesInvalid }}{% endif %}&nbsp;</td>
                <td id='admin'>
                    {% if login == 'anonymous' %}
                        N/A
                    {% else %}
                        {% if access == 'admin' and idSiteSelected != 'all' %}{{ accesValid }}{% else %}{{ accesInvalid }}{% endif %}&nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="accessUpdated" class="ajaxSuccess" style="display:none;vertical-align:top;">{{ 'General_Done'|translate }}!</div>
</div>

<div class="ui-confirm" id="confirm">
    <h2>{{ 'UsersManager_ChangeAllConfirm'|translate("<span id='login'></span>")|raw }}</h2>
    <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
    <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
</div>

{% if userIsSuperUser %}
    <div class="ui-confirm" id="confirmUserRemove">
        <h2></h2>
        <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
        <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
    </div>
    <div class="ui-confirm" id="confirmPasswordChange">
        <h2>{{ 'UsersManager_ChangePasswordConfirm'|translate }}</h2>
        <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
        <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
    </div>
    <br/>
    <h2>{{ 'UsersManager_UsersManagement'|translate }}</h2>
    <p>{{ 'UsersManager_UsersManagementMainDescription'|translate }}
        {{ 'UsersManager_ThereAreCurrentlyNRegisteredUsers'|translate("<b>"~usersCount~"</b>")|raw }}</p>
    {% import 'ajaxMacros.twig' as ajax %}
    {{ ajax.errorDiv('ajaxErrorUsersManagement') }}
    {{ ajax.loadingDiv('ajaxLoadingUsersManagement') }}
    <div class="entityContainer" style="margin-bottom:50px;">
        <table class="entityTable dataTable" id="users">
            <thead>
            <tr>
                <th>{{ 'General_Username'|translate }}</th>
                <th>{{ 'General_Password'|translate }}</th>
                <th>{{ 'UsersManager_Email'|translate }}</th>
                <th>{{ 'UsersManager_Alias'|translate }}</th>
                <th>token_auth</th>
                <th>{{ 'General_Edit'|translate }}</th>
                <th>{{ 'General_Delete'|translate }}</th>
            </tr>
            </thead>

            <tbody>
            {% for i,user in users %}
                {% if user.login != 'anonymous' %}
                    <tr class="editable" id="row{{ i }}">
                        <td id="userLogin" class="editable">{{ user.login }}</td>
                        <td id="password" class="editable">-</td>
                        <td id="email" class="editable">{{ user.email }}</td>
                        <td id="alias" class="editable">{{ user.alias|raw }}</td>
                        <td id="token_auth">{{ user.token_auth }}</td>
                        <td>
                            <span class="edituser link_but" id="row{{ i }}">
                                <img title="{{ 'General_Edit'|translate }}" src='plugins/Zeitgeist/images/ico_edit.png'/>
                                {{ 'General_Edit'|translate }}
                            </span>
                        </td>
                        <td>
                            <span class="deleteuser link_but" id="row{{ i }}">
                                <img title="{{ 'General_Delete'|translate }}" src='plugins/Zeitgeist/images/ico_delete.png'/>
                                {{ 'General_Delete'|translate }}
                            </span>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="addrow"><img src='plugins/UsersManager/images/add.png'/> {{ 'UsersManager_AddUser'|translate }}</div>
    </div>
{% endif %}
{% endblock %}
