{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_PersonalSettings'|translate }}{% endset %}

{% block content %}
<div
    matomo-personal-settings
    is-users-admin-enabled="{{ isUsersAdminEnabled|json_encode|e('html_attr') }}"
    title="{{ title|json_encode|e('html_attr') }}"
    user-login="{{ userLogin|json_encode|e('html_attr') }}"
    user-email="{{ userEmail|json_encode|e('html_attr') }}"
    current-language-code="{{ currentLanguageCode|json_encode|e('html_attr') }}"
    language-options="{{ languageOptions|json_encode|e('html_attr') }}"
    current-timeformat="{{ currentTimeformat|json_encode|e('html_attr') }}"
    time-formats="{{ timeFormats|json_encode|e('html_attr') }}"
    default-report="{{ defaultReport|json_encode|e('html_attr') }}"
    default-report-options="{{ defaultReportOptions|json_encode|e('html_attr') }}"
    default-report-id-site="{{ defaultReportIdSite|json_encode|e('html_attr') }}"
    default-report-site-name="{{ defaultReportSiteName|json_encode|e('html_attr') }}"
    default-date="{{ defaultDate|json_encode|e('html_attr') }}"
    available-default-dates="{{ availableDefaultDates|json_encode|e('html_attr') }}"
></div>

{% if showNewsletterSignup %}
    <div matomo-newsletter-settings></div>
{% endif %}

<div piwik-plugin-settings mode="user"></div>

<div piwik-content-block
     content-title="{{ 'UsersManager_ExcludeVisitsViaCookie'|translate|e('html_attr') }}">
    <p>
        {% if ignoreCookieSet %}
            {{ 'UsersManager_YourVisitsAreIgnoredOnDomain'|translate("<strong>", piwikHost, "</strong>")|raw }}
        {% else %}
            {{ 'UsersManager_YourVisitsAreNotIgnored'|translate("<strong>","</strong>")|raw }}
        {% endif %}
    </p>
    <span style="margin-left:20px;">
    <a href='{{ linkTo({'ignoreSalt':ignoreSalt, 'module': 'UsersManager', 'action':'setIgnoreCookie'}) }}#excludeCookie'>&rsaquo; {% if ignoreCookieSet %}{{ 'UsersManager_ClickHereToDeleteTheCookie'|translate }}
        {% else %}{{'UsersManager_ClickHereToSetTheCookieOnDomain'|translate(piwikHost) }}{% endif %}
        <br/>
    </a></span>
</div>

{% endblock %}
