{% extends 'admin.twig' %}

{% set title %}{{ 'General_Security'|translate }}{% endset %}

{% block content %}
{% if isUsersAdminEnabled %}
    <div piwik-content-block content-title="{{ 'General_ChangePassword'|translate|e('html_attr') }}" feature="true">
        <form id="userSettingsTable" method="post" action="{{ linkTo({'module': 'UsersManager', 'action': 'recordPasswordChange'}) }}">

            <input type="hidden" value="{{ changePasswordNonce|e('html_attr') }}" name="nonce">

            {% if isValidHost is defined and isValidHost %}

                <div piwik-field uicontrol="password" name="password" autocomplete="off"
                     ng-model="personalSettings.password"
                     ng-change="personalSettings.requirePasswordConfirmation()"
                     data-title="{{ 'Login_NewPassword'|translate|e('html_attr') }}"
                     value="" inline-help="{{ 'UsersManager_IfYouWouldLikeToChangeThePasswordTypeANewOne'|translate|e('html_attr') }}">
                </div>

                <div piwik-field uicontrol="password" name="passwordBis" autocomplete="off"
                     ng-model="personalSettings.passwordBis"
                     ng-change="personalSettings.requirePasswordConfirmation()"
                     data-title="{{ 'Login_NewPasswordRepeat'|translate|e('html_attr') }}"
                     value="" inline-help="{{ 'UsersManager_TypeYourPasswordAgain'|translate|e('html_attr') }}">
                </div>

                <div piwik-field uicontrol="password" name="passwordConfirmation" autocomplete="off"
                     ng-model="personalSettings.current_password"
                     data-title="{{ 'UsersManager_YourCurrentPassword'|translate|e('html_attr') }}"
                     value="" inline-help="{{ 'UsersManager_TypeYourCurrentPassword'|translate|e('html_attr') }}">
                </div>

                <input type="submit"
                       value="{{ 'General_Save'|translate|e('html_attr') }}"
                       class="btn"/>
            {% endif %}

            {% if isValidHost is not defined or not isValidHost %}
                <div class="alert alert-danger">
                    {{ 'UsersManager_InjectedHostCannotChangePwd'|translate(invalidHost) }}
                    {% if not isSuperUser %}{{ 'UsersManager_EmailYourAdministrator'|translate(invalidHostMailLinkStart,'</a>')|raw }}{% endif %}
                </div>
            {% endif %}

        </form>
    </div>

    {{ postEvent('Template.userSecurity.afterPassword') }}
{% endif %}

    <a name="authtokens" id="authtokens"></a>
    <div piwik-content-block content-title="Auth tokens">
        <p>
            {{ 'UsersManager_TokenAuthIntro'|translate }}
        </p>
        <table piwik-content-table>
            <thead>
            <tr>
                <th>Description</th>
                <th>Last used</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if tokens is empty %}
            <tr>
                <td colspan="3">No token created yet, <a href="{{ linkTo({'module': 'UsersManager', 'action': 'addNewToken'}) }}">create a new token now</a>.</td></tr>
            {% else %}
                {% for theToken in tokens %}
                    <tr>
                        <td>{{ theToken.description }}</td>
                        <td>{% if theToken.last_used %}{{ theToken.last_used|prettyDate }}{% else %}{{ 'General_Never'|translate }}{% endif %}</td>
                        <td>

                            <form method="post" action="{{ linkTo({'module': 'UsersManager', 'action': 'deleteToken'}) }}" style="display: inline">
                                <input name="nonce" type="hidden" value="{{ deleteTokenNonce|e('html_attr')  }}">
                                <input name="idtokenauth" type="hidden" value="{{ theToken.idusertokenauth|e('html_attr') }}">
                                <button type="submit" class="table-action"
                                        title="{{ 'General_Delete'|translate }}">
                                    <span class="icon-delete"></span>
                                </button>
                            </form>

                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <div class="tableActionBar">
            <a href="{{ linkTo({'module': 'UsersManager', 'action': 'addNewToken'}) }}">
                <span class="icon-add"></span>
                Create new token
            </a>

            {% if tokens is not empty %}
            <form method="post" action="{{ linkTo({'module': 'UsersManager', 'action': 'deleteToken'}) }}" style="display: inline">
                <input name="nonce" type="hidden" value="{{ deleteTokenNonce|e('html_attr')  }}">
                <input name="idtokenauth" type="hidden" value="all">
                <button type="submit" class="table-action"
                        title="{{ 'General_Delete'|translate }}">
                    <span class="icon-delete"></span> Delete all tokens
                </button>
            </form>
            {% endif %}
        </div>

    </div>


{% endblock %}
