<div id='leftcolumn'>
    <div class="sparkline">
        {{ sparkline(urlSparklineNbVisits) }}
        {{ 'VisitsSummary_NbVisits'|translate("<strong>"~nbVisits~"</strong>") }}{% if displayUniqueVisitors %},
            {{ 'VisitsSummary_NbUniqueVisitors'|translate("<strong>"~nbUniqVisitors~"</strong>") }}{% endif %}
    </div>
    <div class="sparkline">
        {{ sparkline(urlSparklineAvgVisitDuration) }}
        {% set averageVisitDuration=averageVisitDuration|sumtime %}
        {{ 'VisitsSummary_AverageVisitDuration'|translate("<strong>"~averageVisitDuration~"</strong>") }}
    </div>
    <div class="sparkline">
        {{ sparkline(urlSparklineBounceRate) }}
        {{ 'VisitsSummary_NbVisitsBounced'|translate("<strong>"~bounceRate~"%</strong>") }}
    </div>
    <div class="sparkline">
        {{ sparkline(urlSparklineActionsPerVisit) }}
        {{ 'VisitsSummary_NbActionsPerVisit'|translate("<strong>"~nbActionsPerVisit~"</strong>") }}
    </div>
	<div class="sparkline">
        {{ sparkline(urlSparklineAvgGenerationTime) }}
		{% set averageGenerationTime=averageGenerationTime|sumtime %}
		{{ 'VisitsSummary_AverageGenerationTime'|translate("<strong>"~averageGenerationTime~"</strong>") }}
	</div>
</div>

<div id='rightcolumn'>
    {% if showOnlyActions %}
        <div class="sparkline">
            {{ sparkline(urlSparklineNbActions) }}
            {{ 'VisitsSummary_NbActionsDescription'|translate("<strong>"~nbActions~"</strong>") }}
        </div>
    {% else %}
        <div class="sparkline">
            {{ sparkline(urlSparklineNbPageviews) }}
            {{ 'VisitsSummary_NbPageviewsDescription'|translate("<strong>"~nbPageviews~"</strong>")|trim }},
            {{ 'VisitsSummary_NbUniquePageviewsDescription'|translate("<strong>"~nbUniquePageviews~"</strong>") }}
        </div>
        {% if displaySiteSearch %}
            <div class="sparkline">
                {{ sparkline(urlSparklineNbSearches) }}
                {{ 'VisitsSummary_NbSearchesDescription'|translate("<strong>"~nbSearches~"</strong>")|trim }},
                {{ 'VisitsSummary_NbKeywordsDescription'|translate("<strong>"~nbKeywords~"</strong>") }}
            </div>
        {% endif %}
        <div class="sparkline">
                {{ sparkline(urlSparklineNbDownloads) }}
                {{ 'VisitsSummary_NbDownloadsDescription'|translate("<strong>"~nbDownloads~"</strong>")|trim }},
                {{ 'VisitsSummary_NbUniqueDownloadsDescription'|translate("<strong>"~nbUniqueDownloads~"</strong>") }}
        </div>
        <div class="sparkline">
                {{ sparkline(urlSparklineNbOutlinks) }}
                {{ 'VisitsSummary_NbOutlinksDescription'|translate("<strong>"~nbOutlinks~"</strong>")|trim }},
                {{ 'VisitsSummary_NbUniqueOutlinksDescription'|translate("<strong>"~nbUniqueOutlinks~"</strong>") }}
        </div>
    {% endif %}
    <div class="sparkline">
            {{ sparkline(urlSparklineMaxActions) }}
            {{ 'VisitsSummary_MaxNbActions'|translate("<strong>"~maxActions~"</strong>") }}
    </div>
</div>
<div style="clear:both;"></div>

{% include "_sparklineFooter.twig" %}

