<div id='leftcolumn'>
    <div class="sparkline">
        {{ sparkline(urlSparklineNbVisits)|raw }}
        {{ 'General_NVisits'|translate("<strong>"~nbVisits~"</strong>")|raw }}{% if displayUniqueVisitors %},
            {{ 'VisitsSummary_NbUniqueVisitors'|translate("<strong>"~nbUniqVisitors~"</strong>")|raw }}{% endif %}
    </div>
    {% if nbUsers > 0 %}
        {# Most of users will not have used `setUserId` so this would be confusingly zero #}
        <div class="sparkline">
            {{ sparkline(urlSparklineNbUsers)|raw }}
            {{ 'General_NUsers'|translate("<strong>"~nbUsers~"</strong>")|raw }}
        </div>
    {% endif %}
    <div class="sparkline">
        {{ sparkline(urlSparklineAvgVisitDuration)|raw }}
        {% set averageVisitDuration=averageVisitDuration|sumtime %}
        {{ 'VisitsSummary_AverageVisitDuration'|translate("<strong>"~averageVisitDuration~"</strong>")|raw }}
    </div>
    <div class="sparkline">
        {{ sparkline(urlSparklineBounceRate)|raw }}
        {{ 'VisitsSummary_NbVisitsBounced'|translate("<strong>"~bounceRate~"%</strong>")|raw }}
    </div>
    <div class="sparkline">
        {{ sparkline(urlSparklineActionsPerVisit)|raw }}
        {{ 'VisitsSummary_NbActionsPerVisit'|translate("<strong>"~nbActionsPerVisit~"</strong>")|raw }}
    </div>
    {% if showActionsPluginReports|default(false) %}
	<div class="sparkline">
        {{ sparkline(urlSparklineAvgGenerationTime)|raw }}
		{% set averageGenerationTime=averageGenerationTime|sumtime %}
		{{ 'VisitsSummary_AverageGenerationTime'|translate("<strong>"~averageGenerationTime~"</strong>")|raw }}
	</div>
    {% endif %}
</div>

<div id='rightcolumn'>
    {% if showActionsPluginReports|default(false) %}
        {% if showOnlyActions %}
            <div class="sparkline">
                {{ sparkline(urlSparklineNbActions)|raw }}
                {{ 'VisitsSummary_NbActionsDescription'|translate("<strong>"~nbActions~"</strong>")|raw }}
            </div>
        {% else %}
            <div class="sparkline">
                {{ sparkline(urlSparklineNbPageviews)|raw }}
                {{ 'VisitsSummary_NbPageviewsDescription'|translate("<strong>"~nbPageviews~"</strong>")|trim|raw }},
                {{ 'VisitsSummary_NbUniquePageviewsDescription'|translate("<strong>"~nbUniquePageviews~"</strong>")|raw }}
            </div>
            {% if displaySiteSearch %}
                <div class="sparkline">
                    {{ sparkline(urlSparklineNbSearches)|raw }}
                    {{ 'VisitsSummary_NbSearchesDescription'|translate("<strong>"~nbSearches~"</strong>")|trim|raw }},
                    {{ 'VisitsSummary_NbKeywordsDescription'|translate("<strong>"~nbKeywords~"</strong>")|raw }}
                </div>
            {% endif %}
            <div class="sparkline">
                    {{ sparkline(urlSparklineNbDownloads)|raw }}
                    {{ 'VisitsSummary_NbDownloadsDescription'|translate("<strong>"~nbDownloads~"</strong>")|trim|raw }},
                    {{ 'VisitsSummary_NbUniqueDownloadsDescription'|translate("<strong>"~nbUniqueDownloads~"</strong>")|raw }}
            </div>
            <div class="sparkline">
                    {{ sparkline(urlSparklineNbOutlinks)|raw }}
                    {{ 'VisitsSummary_NbOutlinksDescription'|translate("<strong>"~nbOutlinks~"</strong>")|trim|raw }},
                    {{ 'VisitsSummary_NbUniqueOutlinksDescription'|translate("<strong>"~nbUniqueOutlinks~"</strong>")|raw }}
            </div>
            {% endif %}
    {% endif %}
    <div class="sparkline">
            {{ sparkline(urlSparklineMaxActions)|raw }}
            {{ 'VisitsSummary_MaxNbActions'|translate("<strong>"~maxActions~"</strong>")|raw }}
    </div>
</div>
<div style="clear:both;"></div>

{% include "_sparklineFooter.twig" %}

