{# This graphId must be unique for this report #}
<h2 piwik-enriched-headline
    data-graph-id="VisitsSummary.getEvolutionGraph"
        >{{ 'General_EvolutionOverPeriod'|translate }}</h2>

{{ graphEvolutionVisitsSummary|raw }}

<h2 class="visitsSummaryReportTitle">{{ 'General_Report'|translate }}</h2>
{% include "@VisitsSummary/_sparklines.twig" %}
{#
Time page generation
	<p style='color:lightgrey; size:0.8em;'>
	{{ 'VisitsSummary_GenerateTime'|translate(totalTimeGeneration,totalNumberOfQueries) }}
	{% if totalNumberOfQueries != 0 %}, {{ 'VisitsSummary_GenerateQueries'|translate(totalNumberOfQueries) }}{% endif %}
	</p>
#}
