<div
  piwik-geoip2-updater
  geoip-database-started-installed="{{ geoIPDatabasesInstalled|default(null)|json_encode|e('html_attr') }}"
  show-geoip-update-section="{{ showGeoIPUpdateSection|default(null)|json_encode|e('html_attr') }}"
  dbip-lite-url="{{ dbipLiteUrl|default(null)|json_encode|e('html_attr') }}"
  dbip-lite-filename="{{ dbipLiteFilename|default(null)|json_encode|e('html_attr') }}"
  geoip-loc-url="{{ geoIPLocUrl|default(null)|json_encode|e('html_attr') }}"
  is-provider-plugin-active="{{ isProviderPluginActive|default(null)|json_encode|e('html_attr') }}"
  geoip-isp-url="{{ geoIPIspUrl|default(null)|json_encode|e('html_attr') }}"
  last-time-updater-run="{{ lastTimeUpdaterRun|default(null)|json_encode|e('html_attr') }}"
  geoip-update-period="{{ geoIPUpdatePeriod|default(null)|json_encode|e('html_attr') }}"
  update-period-options="{{ updatePeriodOptions|default(null)|json_encode|e('html_attr') }}"
  is-provider-plugin-active="{{ isProviderPluginActive|default(null)|json_encode|e('html_attr') }}"
  next-run-time="{{ (nextRunTime ? nextRunTime.getTimestamp() : null)|json_encode|e('html_attr') }}"
  next-run-time-pretty="{{ (nextRunTime ? nextRunTime.toString() : null)|json_encode|e('html_attr') }}"
>
</div>
