<div
  vue-entry="GeoIp2.GeoIp2Updater"
  geoip-database-started-installed="{{ geoIPDatabasesInstalled|default(null)|json_encode }}"
  show-geoip-update-section="{{ showGeoIPUpdateSection|default(null)|json_encode }}"
  dbip-lite-url="{{ dbipLiteUrl|default(null)|json_encode }}"
  dbip-lite-filename="{{ dbipLiteFilename|default(null)|json_encode }}"
  geoip-loc-url="{{ geoIPLocUrl|default(null)|json_encode }}"
  is-provider-plugin-active="{{ isProviderPluginActive|default(null)|json_encode }}"
  geoip-isp-url="{{ geoIPIspUrl|default(null)|json_encode }}"
  last-time-updater-run="{{ lastTimeUpdaterRun|default(null)|json_encode }}"
  geoip-update-period="{{ geoIPUpdatePeriod|default(null)|json_encode }}"
  update-period-options="{{ updatePeriodOptions|default(null)|json_encode }}"
  is-provider-plugin-active="{{ isProviderPluginActive|default(null)|json_encode }}"
  next-run-time="{{ (nextRunTime ? nextRunTime.getTimestamp() : null)|json_encode }}"
  next-run-time-pretty="{{ (nextRunTime ? nextRunTime.toString() : null)|json_encode }}"
>
</div>
