<li class="content"
    title="{{ postEvent('Live.renderActionTooltip', action, visitInfo) }}">
    <div>
        {% if action.contentInteraction %}
            <img src='{{ action.iconSVG|default(action.icon) }}' title='{{ 'Contents_ContentInteraction'|translate }}'
                 class="action-list-action-icon content-interaction">
        {% else %}
            <img src='{{ action.iconSVG|default(action.icon) }}' title='{{ 'Contents_ContentImpression'|translate }}'
                 class="action-list-action-icon content-impression">
        {% endif %}
        {% if action.contentInteraction %}
            <span class="content-interaction">[{{ action.contentInteraction }}]</span>
        {% endif %}
        <span class="content-name">{{ action.contentName }}</span> -
        <span class="content-piece">{{ action.contentPiece }}</span>
    </div>
</li>
