<li class="content"
    title="{{ postEvent('Live.renderActionTooltip', action, visitInfo) }}">
    <div>
        {{ 'Contents_ContentName'|translate }}: {{ action.contentName }} -
        {{ 'Contents_ContentPiece'|translate }}: {{ action.contentPiece }} -
        {{ 'Contents_ContentTarget'|translate }}: {{ action.contentTarget }}
        {{ 'Contents_ContentInteraction'|translate }}: {{ action.contentInteraction }}
    </div>
</li>
