{% extends 'admin.twig' %}

{% set title %}{{ 'API_ReportingApiReference'|translate }}{% endset %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% include "@CoreHome/_periodSelect.twig" %}
{% endblock %}

{% block content %}

<div class="api-list">
    <div vue-entry="CoreHome.ContentBlock" content-title="{{ title }}" rate="true">
        <p>{{ 'API_PluginDescription'|translate }}</p>

        <p>
            {{ 'API_MoreInformation'|translate(externallink("https://matomo.org/docs/analytics-api"),"</a>", externallink("https://developer.matomo.org/api-reference/reporting-api"),"</a>")|raw }}
        </p>
    </div>
    <div vue-entry="CoreHome.ContentBlock" content-title="{{ 'API_UserAuthentication'|translate }}">
        <p>
            {{ 'API_UsingTokenAuth'|translate('','',"<code>token_auth</code>")|raw }} <a target="_blank" rel="noreferrer noopener" href="{{ 'https://developer.matomo.org/api-reference/reporting-api#authenticate-to-the-api-via-token_auth-parameter'|trackmatomolink }}">{{ 'CoreAdminHome_LearnMore'|translate }}</a><br/>
            <br/>
            <a href="{{ linkTo({
                'module': 'UsersManager',
                'action': 'userSecurity',
            }) }}#/#authtokens">You can manage your authentication tokens on your security page.</a>
        </p>
    </div>
    {{ list_api_methods_with_links|raw }}
    <br/>
</div>
{% endblock %}
