{% extends 'admin.twig' %}

{% block content %}
    <style type="text/css">
        .plugin li { display: inline-block;padding-right: 10px;font-size: 90%; }
        .plugin ul { list-style: none;margin-left: 0; }
        .plugin .description { padding-bottom: 10px; }
        .plugin .install { float: right; }
        .plugin .more { font-weight: bold; text-decoration: none; color: #1D3256; }
        .pluginslist { margin-top: 20px;max-width:980px;clear: right; }
        .infoBox {
            font-size: 14px;
            margin: 0px 0px 10px 10px;
            padding: 15px;
            color: #301901;
            display: inline-block;
            background-color: #ffffe0;
            border: 1px solid #e6db55;
            border-radius: 3px;
            width: 250px;
            float: right;
        }
    </style>

    <div style="max-width:980px;">

        <h2>Extend Piwik by installing a new plugin</h2>

        <div class="infoBox">
            Piwik is not the owner of these Plugins and did not review them.
        </div>

        <div>
            <a href="{{ linkTo({'sort': 'popular', 'query': ''}) }}">popular</a>
            |
            <a href="{{ linkTo({'sort': 'newest', 'query': ''}) }}">newest</a>
            |
            <a href="{{ linkTo({'sort': 'alpha', 'query': ''}) }}">alpha</a>
            |
            <form action="{{ linkTo({'sort': ''}) }}" method="POST" style="display:inline">
                <input value="{{ query }}" placeholder="Search" type="text" name="query"/>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="pluginslist" style="">

        {% if plugins|length %}
            {% for plugin in plugins %}

                <div class="plugin">

                    <a href="{{ linkTo({'action': 'installPlugin', 'pluginName': plugin.name, 'nonce': nonce}) }}" class="install">Install</a>

                    <h3 class="header"><a href="javascript:return;" class="more">{{ plugin.name }}</a></h3>
                    <p class="description">{{ plugin.description }}
                        <br /><a href="javascript:return;" class="more">&gt;&gt; more</a>
                    </p>
                    <ul>
                        <li>Version {{ plugin.latestVersion }}</li>
                        <li>Updated {{ plugin.createdDateTime }}</li>
                        <li>Downloads {{ plugin.numDownloads }}</li>
                    </ul>

                </div>

            {% endfor %}

        {% else %}
            No plugins found
        {% endif %}
    </div>
{% endblock %}
