<div class="sort">
    <a href="{{ linkTo({'sort': 'popular', 'query': ''}) }}" {% if 'popular' == sort %}class="active"{% endif %}>popular</a>
    |
    <a href="{{ linkTo({'sort': 'newest', 'query': ''}) }}" {% if 'newest' == sort %}class="active"{% endif %}>newest</a>
    |
    <a href="{{ linkTo({'sort': 'alpha', 'query': ''}) }}" {% if 'alpha' == sort %}class="active"{% endif %}>alpha</a>
    |
    <form action="{{ linkTo({'sort': ''}) }}" method="POST">
        <input value="{{ query }}" placeholder="Search" type="text" name="query"/>
        <button type="submit">Search</button>
    </form>
</div>
