{% extends 'admin.twig' %}

{% block content %}
    <style type="text/css">
        .plugin li { display: inline-block;padding-right: 10px;font-size: 90%; }
        .plugin ul { list-style: none;margin-left: 0; }
        .plugin .description { padding-bottom: 10px; }
        .plugin .install { float: right; }
        .pluginslist { margin-top: 20px;max-width:980px; }
    </style>

    <div style="max-width:980px;">

        <h2>Extend Piwik by installing a new plugin</h2>

        <div>
            <a href="{{ linkTo({'sort': 'popular', 'query': ''}) }}">popular</a>
            |
            <a href="{{ linkTo({'sort': 'newest', 'query': ''}) }}">newest</a>
            |
            <a href="{{ linkTo({'sort': 'alpha', 'query': ''}) }}">alpha</a>
            |
            <form action="{{ linkTo({'sort': ''}) }}" method="POST" style="display:inline">
                <input value="{{ query }}" placeholder="Search" type="text" name="query"/>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="pluginslist" style="">

        {% for plugin in plugins %}

            <div class="plugin">

                <a href="{{ linkTo({'action': 'installPlugin', 'pluginName': plugin.name}) }}" class="install">Install</a>

                <h3>{{ plugin.name }}</h3>
                <p class="description">{{ plugin.description }}</p>
                <ul>
                    <li>Version {{ plugin.latestVersion }}</li>
                    <li>Updated {{ plugin.timestamp }}</li>
                    <li>Downloads {{ plugin.numDownloads }}</li>
                </ul>

            </div>

        {% endfor %}

    </div>
{% endblock %}
