{% macro tablePluginUpdates(pluginsHavingUpdate, nonce, isTheme) %}

    <div class='entityContainer'>
        <table class="dataTable entityTable">
            <thead>
            <tr>
                <th>{% if isTheme %}{{ 'CorePluginsAdmin_Theme'|translate }}{% else %}{{ 'General_Plugin'|translate }}{% endif %}</th>
                <th class="num">{{ 'CorePluginsAdmin_Version'|translate }}</th>
                <th>{{ 'General_Description'|translate }}</th>
                <th class="status">{{ 'CorePluginsAdmin_Status'|translate }}</th>
                <th class="action-links">{{ 'General_Action'|translate }}</th>
            </tr>
            </thead>
            <tbody id="plugins">
            {% for name,plugin in pluginsHavingUpdate %}
                <tr {% if plugin.isActivated %}class="highlighted"{% endif %}>
                    <td class="name">
                        {{ plugin.name }}
                    </td>
                    <td class="vers">
                        {{ plugin.currentVersion }} => {{ plugin.latestVersion }}
                    </td>
                    <td class="desc">
                        {{ plugin.description }}
                    </td>
                    <td class="status">
                        {% if plugin.isActivated %}
                            {{ 'CorePluginsAdmin_Active'|translate }}
                        {% else %}
                            {{ 'CorePluginsAdmin_Inactive'|translate }}
                        {% endif %}
                    </td>
                    <td class="togl action-links">
                        <a href="{{ linkTo({'action':'updatePlugin', 'pluginName': plugin.name, 'nonce': nonce}) }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endmacro %}

{% macro tablePlugins(pluginsInfo, pluginNamesHavingSettings, activateNonce, deactivateNonce, uninstallNonce, isTheme) %}

<div id="confirmUninstallPlugin" class="ui-confirm">

    <h2 id="uninstallPluginConfirm">{{ 'CorePluginsAdmin_UninstallConfirm'|translate }}</h2>
    <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
    <input role="no" type="button" value="{{ 'General_No'|translate }}"/>

</div>

<div class='entityContainer'>
    <table class="dataTable entityTable">
        <thead>
        <tr>
            <th>{% if isTheme %}{{ 'CorePluginsAdmin_Theme'|translate }}{% else %}{{ 'General_Plugin'|translate }}{% endif %}</th>
            <th class="num">{{ 'CorePluginsAdmin_Version'|translate }}</th>
            <th>{{ 'General_Description'|translate }}</th>
            <th class="status">{{ 'CorePluginsAdmin_Status'|translate }}</th>
            <th class="action-links">{{ 'General_Action'|translate }}</th>
        </tr>
        </thead>
        <tbody id="plugins">
        {% for name,plugin in pluginsInfo %}
            {% if (plugin.alwaysActivated is defined and not plugin.alwaysActivated) or isTheme %}
                <tr {% if plugin.activated %}class="highlighted"{% endif %}>
                    <td class="name">
                        {% if plugin.info.homepage is defined %}
                        <a title="{{ 'CorePluginsAdmin_PluginHomepage'|translate }}" href="{{ plugin.info.homepage }}" target="_blank">
                            {% endif %}
                            {{ name }}
                            {% if plugin.info.homepage is defined %}</a>{% endif %}

                        {% if name in pluginNamesHavingSettings %}
                            <br /><br />
                            <a href="{{ linkTo({'module':'CoreAdminHome', 'action': 'pluginSettings'}) }}#{{ name|e('html_attr') }}" class="settingsLink">{{ 'General_Settings'|translate }}</a>
                        {% endif %}
                    </td>
                    <td class="vers">{{ plugin.info.version }}</td>
                    <td class="desc">
                        {{ plugin.info.description|raw|nl2br }}
                        {% if plugin.info.license is defined %}
                            &nbsp;({% if plugin.info.license_homepage is defined %}<a title="{{ 'CorePluginsAdmin_LicenseHomepage'|translate }}" target="_blank" href="{{ plugin.info.license_homepage }}">{% endif %}{{ plugin.info.license }}{% if plugin.info.license_homepage is defined %}</a>){% endif %}
                        {% endif %}
                        {% if plugin.info.author is defined %}
                            &nbsp; <cite>By
                            {% if plugin.info.author_homepage is defined %}
                            <a title="{{ 'CorePluginsAdmin_AuthorHomepage'|translate }}" href="{{ plugin.info.author_homepage }}" target="_blank">
                                {% endif %}{{ plugin.info.author }}{% if plugin.info.author_homepage is defined -%}</a>{% endif -%}
                            .</cite>
                        {% endif %}
                    </td>
                    <td class="status">
                        {% if plugin.activated %}
                            {{ 'CorePluginsAdmin_Active'|translate }}
                        {% else %}
                            {{ 'CorePluginsAdmin_Inactive'|translate }} <br/>
                            - {% if plugin.uninstallable %}<a data-pluginName="{{ name|escape('html_attr') }}" class="uninstall" href='index.php?module=CorePluginsAdmin&action=uninstall&pluginName={{ name }}&nonce={{
                        uninstallNonce }}'>uninstall</a>{% endif %}
                        {% endif %}
                    </td>

                    <td class="togl action-links">
                        {% if plugin.invalid is defined or plugin.alwaysActivated %}
                            -
                        {% else %}
                            {% if plugin.activated %}
                                <a href='index.php?module=CorePluginsAdmin&action=deactivate&pluginName={{ name }}&nonce={{ deactivateNonce }}'>{{ 'CorePluginsAdmin_Deactivate'|translate }}</a>
                            {% else %}
                                <a href='index.php?module=CorePluginsAdmin&action=activate&pluginName={{ name }}&nonce={{  activateNonce }}'>{{ 'CorePluginsAdmin_Activate'|translate }}</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endmacro %}