{% extends 'admin.twig' %}

{% import '@CorePluginsAdmin/macros.twig' as plugins %}

{% block content %}
<div style="max-width:980px;">

    {% if pluginsHavingUpdate|length %}
        <h2>{{ pluginsHavingUpdate|length }} Update(s) available</h2>

        <p>{{ 'Update your plugins now to benefit from the latest improvements.'|translate }}</p>

        {{ plugins.tablePluginUpdates(pluginsHavingUpdate, updateNonce, activateNonce, 0) }}
    {% endif %}

    <h2>{{ 'CorePluginsAdmin_PluginsManagement'|translate }}</h2>

    <p>{{ 'CorePluginsAdmin_MainDescription'|translate }}</p>

    {{ plugins.tablePlugins(pluginsInfo, pluginNamesHavingSettings, activateNonce, deactivateNonce, uninstallNonce, false) }}

</div>
{% endblock %}