
{% extends 'admin.twig' %}

{% set title %}{{ 'CorePluginsAdmin_PluginsManagement'|translate }}{% endset %}

{% block content %}

    <div
        vue-entry="CorePluginsAdmin.UploadPluginDialog"
        is-plugin-upload-enabled="{{ isPluginUploadEnabled|default(null)|json_encode }}"
        upload-limit="{{ uploadLimit|default(null)|json_encode }}"
        install-nonce="{{ installNonce|default(null)|json_encode }}"
    ></div>

    <div
        vue-entry="CorePluginsAdmin.PluginsIntro"
        is-marketplace-enabled="{{ isMarketplaceEnabled|default(null)|json_encode }}"
        is-plugin-upload-enabled="{{ isPluginUploadEnabled|default(null)|json_encode }}"
        is-plugins-admin-enabled="{{ isPluginsAdminEnabled|default(null)|json_encode }}"
    ></div>

    <div
        vue-entry="CorePluginsAdmin.PluginsTableWithUpdates"
        plugins-having-update="{{ pluginsHavingUpdate|default({})|json_encode }}"
        plugin-update-nonces="{{ pluginUpdateNonces|default({})|json_encode }}"
        update-nonce="{{ updateNonce|json_encode }}"
        is-multi-server-environment="{{ isMultiServerEnvironment|default(false)|json_encode }}"
        is-plugins-admin-enabled="{{ isPluginsAdminEnabled|default(null)|json_encode }}"
    ></div>

    <div
        vue-entry="CorePluginsAdmin.PluginsTable"
        title="{{ 'CorePluginsAdmin_InstalledPlugins'|translate|json_encode }}"
        is-theme="false"
        display-admin-links="{{ isPluginsAdminEnabled|default(null)|json_encode }}"
        plugins-info="{{ pluginsInfo|default({})|json_encode }}"
        uninstall-nonce="{{ uninstallNonce|json_encode }}"
        deactivate-nonce="{{ deactivateNonce|json_encode }}"
        activate-nonce="{{ activateNonce|json_encode }}"
        marketplace-plugin-names="{{ marketplacePluginNames|default([])|json_encode }}"
        plugin-names-having-settings="{{ pluginNamesHavingSettings|default([])|json_encode }}"
    ></div>

{% endblock %}
