<hr class="metadataSeparator"/>
<ul class="metadata">
    <li class="odd">{{ 'CorePluginsAdmin_Version'|translate }}: <strong>{{ plugin.latestVersion }}</strong></li>
    <li class="even">Updated: <strong>{{ plugin.lastUpdated }}</strong></li>
    <li class="odd">{{ 'General_Downloads'|translate }}: <strong>{{ plugin.numDownloads }}</strong></li>
    <li class="even">{{ 'Developer'|translate }}: <strong>{{ plugin.owner }}</strong></li>
</ul>