{% import '@CorePluginsAdmin/macros.twig' as pluginsMacro %}

{% block content %}

    <div class="pluginDetails">
        {% if errorMessage %}
            {{ errorMessage }}
        {% elseif plugin %}

            <div class="header">
                <div class="intro" style="width:75%;float:left;">
                    <h2>{{ plugin.name }}</h2>
                    <p class="description">
                        {% if plugin.featured %}
                            {{ pluginsMacro.featuredIcon('left') }}
                        {% endif %}
                        {{ plugin.description }}
                    </p>
                </div>
                <div class="width:25%;float:left;">

                    {% if isSuperUser %}
                        {% if plugin.canBeUpdated %}
                            <a class="install update"
                               href="{{ linkTo({'action':'updatePlugin', 'pluginName': plugin.name, 'nonce': updateNonce}) }}"
                                    >Update</a>
                        {% elseif plugin.isInstalled %}
                        {% else %}
                            <a href="{{ linkTo({'action': 'installPlugin', 'pluginName': plugin.name, 'nonce': installNonce}) }}"
                               class="install">Install</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="content">
                <div style="width:75%;float:left;">

                    <div id="pluginDetailsTabs">
                        <ul>
                            <li><a href="#tabs-description">Description</a></li>
                            {% if plugin.versions[plugin.versions|length - 1].readmeHtml.faq %}
                                <li><a href="#tabs-faq">FAQ</a></li>
                            {% endif %}
                            <li><a href="#tabs-changelog">Changelog</a></li>
                            {% if plugin.screenshots|length %}
                                <li><a href="#tabs-screenshots">Screenshots</a></li>
                            {% endif %}
                            {% if plugin.versions[plugin.versions|length - 1].readmeHtml.support %}
                                <li><a href="#tabs-support">Support</a></li>
                            {% endif %}
                        </ul>

                        <div id="tabs-description">
                            {{ plugin.versions[plugin.versions|length - 1].readmeHtml.description|raw }}
                        </div>

                        {% if plugin.versions[plugin.versions|length - 1].readmeHtml.faq %}
                            <div id="tabs-faq">
                                {{ plugin.versions[plugin.versions|length - 1].readmeHtml.faq|raw }}
                            </div>
                        {% endif %}

                        <div id="tabs-changelog">
                            {% if plugin.canBeUpdated %}
                                <p class="updateAvailableNotice">You can update this plugin from version {{ plugin.currentVersion }} to {{ plugin.latestVersion }}.
                                    {% if plugin.repositoryChangelogUrl %}<a target="_blank" href="{{ plugin.repositoryChangelogUrl }}">View the changes</a>{% endif %}
                                </p>
                            {% endif %}

                            {% if plugin.versions[plugin.versions|length - 1].readmeHtml.changelog %}
                                {{ plugin.versions[plugin.versions|length - 1].readmeHtml.changelog|raw }}
                            {% endif %}

                            <h3>History</h3>

                            <ul>
                                {% for version in plugin.versions %}
                                    <li>
                                        <strong>
                                            {% if version.repositoryChangelogUrl %}
                                                <a target="_blank" title="Changelog" href="{{ version.repositoryChangelogUrl }}">{{ version.name }}</a>
                                            {% else %}
                                                {{ version.name }}
                                            {% endif %}
                                        </strong>
                                        from {{ version.release|date }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% if plugin.screenshots|length %}
                            <div id="tabs-screenshots">
                                <ul class="thumbnails">
                                    {% for screenshot in plugin.screenshots %}
                                        <li>
                                            <div class="thumbnail">
                                                <a href="{{ screenshot }}" target="_blank"><img src="{{ screenshot }}?w=400" width="400" alt=""></a>
                                                <p>
                                                    {{ screenshot|split('/')|last|replace({'_': ' ', '.png': '', '.jpg': '', '.jpeg': ''}) }}
                                                </p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if plugin.versions[plugin.versions|length - 1].readmeHtml.support %}
                            <div id="tabs-support">

                                {{ plugin.versions[plugin.versions|length - 1].readmeHtml.support|raw }}

                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="metadata" style="width:25%;float:left;">
                    <p><br /></p>
                    <dl>
                        <dt>Version</dt>
                        <dd>{{ plugin.latestVersion }}</dd>
                        <dt>Keywords</dt>
                        <dd>{{ plugin.keywords|join(', ') }}</dd>
                        <dt>Last Updated</dt>
                        <dd>{{ plugin.lastUpdated }}</dd>
                        <dt>Downloads</dt>
                        <dd title="Latest version: {{ plugin.versions[plugin.versions|length - 1].numDownloads|number_format }} Downloads">{{ plugin.numDownloads }}</dd>
                        <dt>Developer</dt>
                        <dd>{{ pluginsMacro.pluginDeveloper(plugin.owner) }}</dd>
                        <dt>Authors</dt>
                        <dd>{% for author in plugin.authors if author.name %}

                                {% spaceless %}
                                    {% if author.homepage %}
                                        <a target="_blank" href="{{ author.homepage }}">{{ author.name }}</a>
                                    {% elseif author.email %}
                                        <a href="mailto:{{ author.email|escape('url') }}">{{ author.name }}</a>
                                    {% else %}
                                        {{ author.name }}
                                    {% endif %}

                                    {% if loop.index < plugin.authors|length %}
                                        ,
                                    {% endif %}
                                {% endspaceless %}

                            {% endfor %}
                        </dd>
                        <dt>Websites</dt>
                        <dd>
                            {% if plugin.homepage %}
                                <a target="_blank" href="{{ plugin.homepage }}">Plugin Website</a>,
                            {% endif %}
                            <a target="_blank" href="{{ plugin.repositoryUrl }}">GitHub</a></dd>
                        {% if plugin.activity %}
                            <dt>Activity</dt>
                            <dd>
                                {{ plugin.activity.numCommits }} commits

                                {% if plugin.activity.numContributors > 1 %}
                                    by {{ plugin.activity.numContributors }} developers
                                {% endif %}
                                {% if plugin.activity.lastCommitDate %}
                                    (last commit {{ plugin.activity.lastCommitDate }})
                                {% endif %}</dd>
                        {% endif %}
                    </dl>
                    <br />
                </div>
            </div>
            <script type="text/javascript">
                $(function() {

                    var active = 0;
                    {% if activeTab %}
                        var $activeTab = $('#tabs-{{ activeTab|e('js') }}');
                        if ($activeTab) {
                            active = $activeTab.index() - 1;
                        }
                    {% endif %}

                    $( "#pluginDetailsTabs" ).tabs({active: active >= 0 ? active : 0});

                    $('.pluginDetails a').each(function (index, a) {
                        var link = $(a).attr('href');

                        if (link && 0 === link.indexOf('http')) {
                            $(a).attr('target', '_blank');
                        }
                    });
                });
            </script>
        {% endif %}
    </div>

{% endblock %}
