<hr class="metadataSeparator"/>
<ul class="metadata">
    <li>{{ 'CorePluginsAdmin_Version'|translate }}: <strong>{{ plugin.latestVersion }}</strong></li>
    <li class="even">Updated: <strong>{{ plugin.lastUpdated }}</strong></li>
    <li>{{ 'General_Downloads'|translate }}: <strong>{{ plugin.numDownloads }}</strong></li>
</ul>