{% extends 'admin.twig' %}

{% set title %}{{ 'CorePluginsAdmin_ThemesManagement'|translate }}{% endset %}

{% block content %}

<div
    vue-entry="CorePluginsAdmin.ThemesIntro"
    is-marketplace-enabled="{{ isMarketplaceEnabled|json_encode }}"
    other-users-count="{{ otherUsersCount|default(null)|json_encode }}"
    theme-enabled="{{ themeEnabled|json_encode }}"
    is-plugins-admin-enabled="{{ isPluginsAdminEnabled|json_encode }}"
></div>

<div
    vue-entry="CorePluginsAdmin.PluginsTable"
    title="{{ 'CorePluginsAdmin_InstalledThemes'|translate|json_encode }}"
    is-theme="true"
    display-admin-links="{{ isPluginsAdminEnabled|json_encode }}"
    plugins-info="{{ pluginsInfo|default({})|json_encode }}"
    uninstall-nonce="{{ uninstallNonce|json_encode }}"
    deactivate-nonce="{{ deactivateNonce|json_encode }}"
    activate-nonce="{{ activateNonce|json_encode }}"
    marketplace-plugin-names="{{ marketplacePluginNames|default([])|json_encode }}"
    plugin-names-having-settings="{{ pluginNamesHavingSettings|default([])|json_encode }}"
></div>

{% endblock %}
