{% extends 'admin.twig' %}

{% import '@CorePluginsAdmin/macros.twig' as plugins %}

{% set title %}{{ 'CorePluginsAdmin_ThemesManagement'|translate }}{% endset %}

{% block content %}

<div piwik-content-intro>
    <h2 piwik-enriched-headline>
        {{ title }}
    </h2>

    <p>
        {{ 'CorePluginsAdmin_ThemesDescription'|translate }}

        {% if isMarketplaceEnabled %}
            {{ 'CorePluginsAdmin_TeaserExtendPiwikByTheme'|translate('<a href="' ~ linkTo({'module': 'Marketplace','action':'overview', 'sort': '', 'show': 'themes'}) ~ '">', '</a>')|raw }}
        {% endif %}

        {% if otherUsersCount > 0 %}
            <br/> {{ 'CorePluginsAdmin_InfoThemeIsUsedByOtherUsersAsWell'|translate(otherUsersCount, themeEnabled) }}
        {% endif %}
        {% if not isPluginsAdminEnabled %}
            <br/>{{ 'CorePluginsAdmin_DoMoreContactPiwikAdmins'|translate }}
        {% endif %}

    </p>
</div>

<div
    vue-entry="CorePluginsAdmin.PluginsTable"
    title="{{ 'CorePluginsAdmin_InstalledThemes'|translate|json_encode }}"
    is-theme="true"
    display-admin-links="{{ isPluginsAdminEnabled|json_encode }}"
    plugins-info="{{ pluginsInfo|default({})|json_encode }}"
    uninstall-nonce="{{ uninstallNonce|json_encode }}"
    deactivate-nonce="{{ deactivateNonce|json_encode }}"
    activate-nonce="{{ activateNonce|json_encode }}"
    marketplace-plugin-names="{{ marketplacePluginNames|default([])|json_encode }}"
    plugin-names-having-settings="{{ pluginNamesHavingSettings|default([])|json_encode }}"
></div>

{% endblock %}
