{% if isSuperUser %}
    {% if plugin.canBeUpdated %}
        <a href="{{ linkTo({'action':'updatePlugin', 'pluginName': plugin.name, 'nonce': updateNonce}) }}"
           class="update"
           >{{ 'CoreUpdater_UpdateTitle'|translate }}</a>
    {% elseif plugin.isInstalled %}
        <span class="install">{{ 'General_Installed'|translate }}</span>
    {% else %}
        <a href="{{ linkTo({'action': 'installPlugin', 'pluginName': plugin.name, 'nonce': installNonce}) }}"
           class="install">Install</a>
    {% endif %}
{% endif %}

<h3 class="header" title="Click for more details">
    <a href="javascript:return;" data-pluginName="{{ plugin.name }}" class="more">{{ plugin.name }}</a>
</h3>

<p class="description">{{ plugin.description }}</p>

<a href="javascript:return;" data-pluginName="{{ plugin.name }}" class="more"><img  title="Click for more details"
            class="preview" src="{{ plugin.screenshots|first }}?w=250&h=250"/></a>

{% if plugin.canBeUpdated %}
    <p class="updateAvailableNotice">You can update this theme to version {{ plugin.latestVersion }}</p>
{% endif %}