{% extends 'admin.twig' %}

{% import '@CorePluginsAdmin/macros.twig' as plugins %}

{% block content %}
<div style="max-width:980px;">

    {% if pluginsHavingUpdate|length %}
        <h2>{{ 'CorePluginsAdmin_NumUpdatesAvailable'|translate(pluginsHavingUpdate|length) }}</h2>

        <p>{{ 'CorePluginsAdmin_InfoThemeUpdateIsRecommended'|translate }}</p>

        {{ plugins.tablePluginUpdates(pluginsHavingUpdate, updateNonce, true) }}
    {% endif %}

    <h2 piwik-enriched-headline>{{ 'CorePluginsAdmin_ThemesManagement'|translate }}</h2>

    <p>{{ 'CorePluginsAdmin_ThemesDescription'|translate }}
    {% if otherUsersCount > 0 %}
        <br/> {{ 'CorePluginsAdmin_InfoThemeIsUsedByOtherUsersAsWell'|translate(otherUsersCount, themeEnabled) }}
    {% endif %}
    {% if not isPluginsAdminEnabled %}
        <br/>{{ 'CorePluginsAdmin_DoMoreContactPiwikAdmins'|translate }}
    {% endif %}

    </p>

    {{ plugins.pluginsFilter(true, isMarketplaceEnabled) }}

    {{ plugins.tablePlugins(pluginsInfo, pluginNamesHavingSettings, activateNonce, deactivateNonce, uninstallNonce, true, marketplacePluginNames, isPluginsAdminEnabled ) }}

</div>
{% endblock %}
