{% extends 'admin.twig' %}

{% block content %}

    <div style="max-width:980px;">

        <h2>Updating {{ plugin.name}}</h2>

        {% if errorMessage %}
            <div class="ajaxError" style="">{{ errorMessage }}</div>
        {% else %}

            <div>

                {% if plugin.isTheme %}

                    <p>Downloading theme from Marketplace</p>

                    <p>Unzipping theme</p>

                    <p>Replacing existing theme</p>

                    <p>You have successfully updated the theme {{ plugin.name }} {{ plugin.latestVersion }}.</p>

                {% else %}

                    <p>Downloading plugin from Marketplace</p>

                    <p>Unzipping plugin</p>

                    <p>Replacing existing plugin</p>

                    <p>You have successfully updated the plugin {{ plugin.name }} {{ plugin.latestVersion }}.</p>

                {% endif %}

                <p><a href="{{ linkTo({'action': 'plugins'}) }}">Plugins</a>
                    |
                    <a href="{{ linkTo({'action': 'themes'}) }}">Themes</a>
                    |
                    <a href="{{ linkTo({'action': 'extend'}) }}">Extend Piwik</a></p>
            </div>

        {% endif %}
    </div>

{% endblock %}
