{% extends 'admin.twig' %}

{% block content %}

    <div style="max-width:980px;">

        <h2>{{ 'CorePluginsAdmin_UpdatingPlugin'|translate(plugin.name) }}</h2>

        <div>

            {% if plugin.isTheme %}

                <p>{{ 'CorePluginsAdmin_StepDownloadingThemeFromMarketplace'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepUnzippingTheme'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepReplaceExistingTheme'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepThemeSuccessfullyUpdated'|translate(plugin.name, plugin.latestVersion) }}</p>

            {% else %}

                <p>{{ 'CorePluginsAdmin_StepDownloadingPluginFromMarketplace'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepUnzippingPlugin'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepReplaceExistingPlugin'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepPluginSuccessfullyUpdated'|translate(plugin.name, plugin.latestVersion) }}</p>

            {% endif %}

            <p><a href="{{ linkTo({'action': 'plugins'}) }}">{{ 'General_Plugins'|translate }}</a>
                |
                <a href="{{ linkTo({'action': 'themes'}) }}">{{ 'CorePluginsAdmin_Themes'|translate }}</a>
                |
                <a href="{{ linkTo({'action': 'marketplace'}) }}">{{ 'CorePluginsAdmin_Marketplace'|translate }}</a></p>
        </div>
    </div>

{% endblock %}
