{% extends 'admin.twig' %}

{% block content %}

    <div style="max-width:980px;">

        <div>
            <h2>{{ 'CorePluginsAdmin_InstallingPlugin'|translate(plugin.name) }}</h2>

            {% if plugin.isTheme %}

                <p>{{ 'CorePluginsAdmin_StepUnzippingTheme'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepThemeSuccessfullyInstalled'|translate(plugin.name, plugin.version) }}</p>

                <p>
                    {% if not plugin.isActivated %}
                        <strong><a href="{{ linkTo({'action': 'activate', 'pluginName': plugin.name, 'nonce': nonce}) }}">{{ 'CorePluginsAdmin_ActionActivateTheme'|translate }}</a></strong>

                        |
                    {% endif %}
                    <a href="{{ linkTo({'action': 'marketplace'}) }}">{{ 'CorePluginsAdmin_BackToExtendPiwik'|translate }}</a>
                </p>

            {% else %}

                <p>{{ 'CorePluginsAdmin_StepUnzippingPlugin'|translate }}</p>

                <p>{{ 'CorePluginsAdmin_StepPluginSuccessfullyInstalled'|translate(plugin.name, plugin.version) }}</p>

                <p>
                    {% if not plugin.isActivated %}
                        <strong><a href="{{ linkTo({'action': 'activate', 'pluginName': plugin.name, 'nonce': nonce}) }}">{{ 'CorePluginsAdmin_ActionActivatePlugin'|translate }}</a></strong>

                        |
                    {% endif %}
                    <a href="{{ linkTo({'action': 'marketplace'}) }}">{{ 'CorePluginsAdmin_BackToExtendPiwik'|translate }}</a>
                </p>

            {% endif %}
        </div>
    </div>

{% endblock %}
